# UPDATE

In [ ]:
UPDATE IT_Equipment_v2 it
set it.status = NULL

### `OK-CMDB-ASSET-ID`

In [ ]:
-- 1988 rows affected
UPDATE `IT_Equipment_v2` it
INNER JOIN `assets_filtree_v2` aa
ON aa.asset_id = it.asset_id
and it.asset_id != '0'
SET it.status = 'OK-CMDB-ASSET-ID'

### `'ASSET_ID OK / SHORT_NAME MISMATCH'`

##### 0 resultat affiché, ils sont tous contenu dans le OK-CMDB-ASSET-ID

In [ ]:
UPDATE `IT_Equipment_v2` it
INNER JOIN `assets_filtree_v2` aa
ON aa.nom_long = it.nom or (aa.nom_court = it.short_name and it.short_name !=0)
set it.status = 'ASSET_ID OK / SHORT_NAME MISMATCH'
where it.status is null

### `Asset_ID affiché`

In [ ]:
UPDATE `IT_Equipment_v2` it
INNER JOIN `assets_filtree_v2` aa on LEFT(aa.nom_court, length(aa.nom_court) - 3) = it.short_name
where it.type = 'Serveurs' and it.status is null

### `OK-POSITION`

In [ ]:
-- 596
UPDATE `IT_Equipment_v2` it 
INNER JOIN `assets_filtree_v2`aa
ON (
	it.Nom_de_la_salle = aa.Salle
AND
	it.Nom_de_baie = aa.Rack
AND
	it.Slot_U = CONVERT(aa.Slot_Begin, integer)
	)  
    
INNER JOIN `IT_Equipment_match_position_reduced_v2` it2
ON it.reperage_id = it2.reperage_id

SET it.status = Concat('OK-POSITION:', it2.rowNumber)

WHERE it.status is null AND (
   aa.model not like '%BL460C%'
OR aa.model not like '%BL660C%'
OR aa.model not like '%BL20P%'
OR aa.model not like '%BL860C%'
OR aa.model not like '%BL420C%'
OR aa.model not like '%BL680C%'
OR aa.model not like '%WS460C%'
OR aa.model not like '%BL870C%' )

## `NOM DU FABRICANT : ASSET_ID`

### netapp & ATTO & Brocade

In [ ]:
115 rows affected
UPDATE   `IT_Equipment_v2` it
 LEFT JOIN `it_built_system_NAS_v2` it2
 ON        it2.nom_de_baie = it.nom_de_baie 
 AND       it2.nom_de_la_salle = it.nom_de_la_salle
 AND		  it2.fabricant = it.fabricant

SET it.status = ( 
    			CASE WHEN it.status is null and it2.status is not null then Concat(it.fabricant, ' : ', it2.asset_id) 
        	  	WHEN it.status is null and it2.status is null and (it.asset_id is null or it.asset_id ='0') then  Concat(it.fabricant, ' : No Match') 
        		END )
                
WHERE it.status is NULL 
AND (it.fabricant like 'netapp%' or it.fabricant like 'ATTO%' or it.fabricant like 'Brocade%')

### Exadata

In [ ]:
61 rows affected
UPDATE   `IT_Equipment_v2` it
 LEFT JOIN `it_build_system_EXADATA_v2` it2
 ON        it2.nom_de_baie = it.nom_de_baie 
 AND       it2.nom_de_la_salle = it.nom_de_la_salle
 AND		  it2.fabricant = it.fabricant

SET it.status = ( 
    			CASE WHEN it.status is null and it2.status is not null then Concat(it.fabricant, ' : ', it2.asset_id) 
        	  	WHEN it.status is null and it2.status is null and (it.asset_id is null or it.asset_id ='0') then  Concat(it.fabricant, ' : No Match') 
        		END )
                
WHERE it.status is NULL 
AND (it.fabricant like '%oracle%')

### HPC

In [ ]:
45 rows affected
UPDATE `IT_Equipment_v2` it
 LEFT JOIN `it_build_system_HPC_v2` it2
 ON (LEFT(it.Nom,6)) = it2.root_ferme

SET it.status = ( 
    			CASE WHEN it.status is null and it2.status is not null then Concat(it.fabricant, ' : ', it2.root_ferme) 
        	  	WHEN it.status is null and it2.status is null and (it.asset_id is null or it.asset_id ='0') then  Concat(it.fabricant, ' : No Match') 
        		END )

WHERE (it.nom like '%HPC%' 
OR it.long_name like '%HPC%') and it.status is NULL

### HANNA

In [ ]:
72 ROWS
UPDATE `IT_Equipment_v2` it
  LEFT JOIN `it_build_system_HANNA_v2` it2
 ON        it2.nom_de_baie = it.nom_de_baie 
 AND       it2.nom_de_la_salle = it.nom_de_la_salle
 AND		  it2.fabricant = it.fabricant

SET it.status =(CASE WHEN it.status is null and it2.status is not null then Concat(it.fabricant, ' : ', it2.asset_id) 
				WHEN it.status is null and it2.status is null and (it.asset_id is null or it.asset_id ='0') then  Concat(it.fabricant, ' : No Match') 
        		END ) 

WHERE it.status is null and (it.nom_de_baie like '%hana%' OR it.nom like '%hana%')

### Ring

In [ ]:
9 rows
UPDATE `IT_Equipment_v2` it
  LEFT JOIN `it_build_system_RING_v2` it2
 ON        it2.nom_de_baie = it.nom_de_baie 
 AND       it2.nom_de_la_salle = it.nom_de_la_salle
 AND		  it2.fabricant = it.fabricant

SET it.status =(CASE WHEN it.status is null and it2.status is not null then Concat(it.fabricant, ' : ', it2.asset_id) 
				WHEN it.status is null and it2.status is null and (it.asset_id is null or it.asset_id ='0') then  Concat(it.fabricant, ' : No Match') 
        		END ) 

WHERE it.status is NULL and (it.short_name like '%NA9TCR%' 
OR it.nom like '%NA9TCR%')

## `'CMDB-OK-OLD'`

In [ ]:
69 rows
UPDATE `IT_Equipment_v2` it
LEFT JOIN `assets_filtree_v2` aa
ON REPLACE(REPLACE(aa.nom_court,'_OLD',''),'-OLD','')  = it.nom 
OR REPLACE(REPLACE(aa.nom_long,'_OLD',''),'-OLD','')  = it.nom 
OR REPLACE(REPLACE(aa.nom_court,'_OLD',''),'-OLD','')  = it.short_name 
OR REPLACE(REPLACE(aa.nom_long,'_OLD',''),'-OLD','')  = it.short_name

SET it.status = 'CMDB-OK-OLD'

where it.status is NULL and (aa.nom_court like '%_OLD' or aa.nom_long like '%_OLD' or aa.nom_court like '%-OLD' or aa.nom_long like '%-OLD')