# Compteur

In [ ]:
SELECT count(*) count, TYPE
from `IT_Equipment`
where STATUS is null
GROUP BY TYPE

In [ ]:
-- IT_count
.select COUNT(STATUS), status
from `IT_Equipment`
GROUP BY STATUS
ORDER BY COUNT(STATUS) desc

# VIEW

### `OK-POSITION : NB OF MATCH`

Version condensée de IT_Equipment + jointure avec asset_new uniquement sur la position

In [ ]:
CREATE VIEW IT_Equipment_match_position_reduced_v2
as
SELECT it.reperage_id, count(it.reperage_id) as RowNumber

FROM   `IT_Equipment_v2` it 
INNER JOIN `assets_filtree_v2`aa
ON (
	it.Nom_de_la_salle = aa.Salle
AND
	it.Nom_de_baie = aa.Rack
AND
	it.Slot_U = CONVERT(aa.Slot_Begin, integer)
	)  
GROUP BY it.reperage_id

In [ ]:
CREATE VIEW IT_Equipment_match_position_v2
AS
SELECT it.asset_id asset_id_it,
       it.short_name,
       it.nom,
       it.status   status_it,
       it.modele,
       it.reperage_id,
       it.hauteur_u,
       aa.ASSET_ID ASSET_ID_aa, aa.NOM_COURT NOM_COURT_aa, aa.NOM_LONG NOM_LONG_aa, aa.FABRICANT FABRICANT_aa, aa.MODEL MODEL_aa, aa.DALLE DALLE_aa, aa.SALLE SALLE_aa, aa.etat, it2.RowNumber

       
FROM   `IT_Equipment_v2` it 
INNER JOIN `assets_filtree_v2`aa
ON (
	it.Nom_de_la_salle = aa.Salle
AND
	it.Nom_de_baie = aa.Rack
AND
	it.Slot_U = CONVERT(aa.Slot_Begin, integer)
	)  
INNER JOIN `IT_Equipment_match_position_reduced_v2` it2
ON it.reperage_id = it2.reperage_id

WHERE it2.rowNumber > 1
ORDER BY it2.rowNumber desc, Reperage_ID, it.status ASC

## `NOM DU FABRICANT : ASSET_ID`

### netapp & ATTO & Brocade

System 2-en-1 avec chassis + server. Y aura 2 objects differents alors que c'est la meme chose, on va donc s'assurer que le match se fait sur le chassis plutot que sur le server + on rattache tous les serveurs à au bon chassis

In [ ]:
CREATE VIEW it_built_system_NAS_v2
AS
SELECT nom_de_baie,
       nom_de_la_salle,
       status,
       asset_id,
       nom, 
        Modele,
        fabricant,
        Reperage_ID
FROM   `IT_Equipment_v2` it
WHERE  status IS NOT NULL and (it.fabricant like 'netapp%' or it.fabricant like 'ATTO%' or it.fabricant like 'Brocade%' ) and ASSET_ID != '0'
ORDER  BY nom_de_baie DESC

### EXADATA

In [ ]:
CREATE VIEW it_build_system_EXADATA_v2
as
SELECT nom_de_baie,
       nom_de_la_salle,
       status,
       asset_id,
       nom, 
        Modele,
        fabricant,
        Reperage_ID
FROM   `IT_Equipment_v2` it
where it.fabricant like '%oracle%' and asset_id != '0'
ORDER  BY nom_de_baie DESC

### HPC

In [ ]:
CREATE VIEW it_build_system_HPC_v2
as
SELECT nom_de_baie,
       nom_de_la_salle,
       status,
       asset_id,
       nom, 
        Modele,
        fabricant,
        Reperage_ID,
        (LEFT(Nom,6)) ROOT_FERME
FROM   `IT_Equipment_v2` it
where it.nom like '%HPC%' or it.long_name like '%HPC%'
ORDER BY Nom_de_baie DESC, Nom_de_la_salle

### HANNA

In [ ]:
CREATE VIEW it_build_system_HANNA_v2
as
SELECT nom_de_baie,
       nom_de_la_salle,
       status,
       asset_id,
       nom, 
        Modele,
        fabricant,
        Reperage_ID
        
FROM   `IT_Equipment_v2` it
where (it.nom_de_baie like '%hana%' OR it.nom like '%hana%')  and asset_id != '0'
ORDER BY Nom_de_baie DESC, Nom_de_la_salle

### RING

In [ ]:
CREATE VIEW it_build_system_RING_v2
as
SELECT it.nom_de_baie,
       it.nom_de_la_salle,
       it.status,
       it.asset_id,
       it.nom, 
        it.Modele,
        it.fabricant,
        it.Reperage_ID
       
       
FROM   `IT_Equipment_v2` it
WHERE (it.short_name like '%NA9TCR%' 
OR it.nom like '%NA9TCR%') and (it.status is not null or it.asset_id != '0')	
GROUP BY nom_de_baie, nom_de_la_salle
ORDER BY it.Nom_de_baie DESC, it.Nom_de_la_salle

## `'CMDB-OK-OLD'`

In [ ]:
CREATE VIEW IT_Equipment_OLD_v2
AS
SELECT it.nom_de_baie,
		aa.nom_court,
        it.short_name,
        aa.nom_long,
        it.nom,
        long_name,
       it.nom_de_la_salle,
       it.status,
       REPLACE(REPLACE(aa.nom_court,'_OLD',''),'-OLD','') new_nom_court,
		REPLACE(REPLACE(aa.nom_long,'_OLD',''),'-OLD','') new_nom_long
        

from `IT_Equipment_v2` it
LEFT JOIN `assets_filtree_v2` aa
ON REPLACE(REPLACE(aa.nom_court,'_OLD',''),'-OLD','')  = it.nom 
OR REPLACE(REPLACE(aa.nom_long,'_OLD',''),'-OLD','')  = it.nom 
OR REPLACE(REPLACE(aa.nom_court,'_OLD',''),'-OLD','')  = it.short_name 
OR REPLACE(REPLACE(aa.nom_long,'_OLD',''),'-OLD','')  = it.short_name

where aa.nom_court like '%_OLD' or aa.nom_long like '%_OLD' or aa.nom_court like '%-OLD' or aa.nom_long like '%-OLD'

# SELECT

In [ ]:
SELECT it.asset_id asset_id_it, it.short_name, it.nom, it.status status_it, it.modele, it.reperage_id, it.hauteur_u 
FROM `IT_Equipment_v2` it

### `OK-CMDB-ASSET-ID`

In [ ]:
SELECT it.asset_id asset_id_it, aa.asset_id asset_id, it.short_name, it.nom, it.status status_it, it.modele, it.reperage_id, it.hauteur_u FROM `IT_Equipment_v2` it
INNER JOIN `assets_filtree_v2` aa
ON aa.asset_id = it.asset_id
and it.asset_id != '0'

### `'ASSET_ID OK / SHORT_NAME MISMATCH'`

In [ ]:
SELECT it.asset_id asset_id_it, aa.asset_id asset_id, it.short_name, it.nom, aa.nom_court, aa.nom_long, it.modele, it.reperage_id, it.hauteur_u FROM `IT_Equipment_v2` it
INNER JOIN `assets_filtree_v2` aa
ON aa.nom_long = it.nom or (aa.nom_court = it.short_name and it.short_name !=0)
where it.status is null

### `Asset_ID affiché`

Seulement pour les serveurs, match entre les noms courts de IT_equipment et celui 
d'assets avec les 3 derniers caracteres en moins. Exemple : IT_equipment.nom = SU941, assets.nom_court = SU941AOS

##### 0 resultat affiché, ils sont tous contenu dans le OK-CMDB-ASSET-ID

In [ ]:
SELECT it.asset_id asset_id_it, aa.asset_id asset_id, it.short_name, it.nom, aa.nom_court, aa.nom_long, it.modele, it.reperage_id, it.status FROM `IT_Equipment_v2` it
INNER JOIN `assets_filtree_v2` aa on LEFT(aa.nom_court, length(aa.nom_court) - 3) = it.short_name

where it.type = 'Serveurs' and it.status is null

### `OK-POSITION : NB OF MATCH`

HORS model qui contiennent : BL460C BL660C BL20P BL860C BL420C BL680C WS460C BL870C

In [ ]:
SELECT it.asset_id asset_id_it, aa.asset_id asset_id, it.short_name, it.nom, aa.nom_court, aa.nom_long, it.modele, aa.model, it.reperage_id, aa.dalle, it2.rownumber
FROM `IT_Equipment_v2` it 
INNER JOIN `assets_filtree_v2`aa
ON (
	it.Nom_de_la_salle = aa.Salle
AND
	it.Nom_de_baie = aa.Rack
AND
	it.Slot_U = CONVERT(aa.Slot_Begin, integer)
	)  
INNER JOIN `IT_Equipment_match_position_reduced_v2` it2
ON it.reperage_id = it2.reperage_id
WHERE it.status is null
AND aa.model not like '%BL460C%'
AND aa.model not like '%BL660C%'
AND aa.model not like '%BL20P%'
AND aa.model not like '%BL860C%'
AND aa.model not like '%BL420C%'
AND aa.model not like '%BL680C%'
AND aa.model not like '%WS460C%'
AND aa.model not like '%BL870C%'
ORDER BY rownumber desc

## `NOM DU FABRICANT : ASSET_ID`

### NetApp

In [ ]:
SELECT ASSET_ID, NOM_COURT, NOM_LONG, FABRICANT, MODEL, DALLE, SALLE, Rack, Slot_Begin, Slot_End, status
from `assets_filtree_v2` aa
where fabricant like 'NETAPP%'
order by dalle asc

---
select it.asset_id asset_id_id, it.short_name, it.nom, it.status status_it, it.fabricant, it.modele, it.reperage_ID, Nom_de_la_salle, Nom_de_baie, Slot_U, Hauteur_U
from `IT_Equipment_v2` it
where fabricant like 'NETAPP%'

In [ ]:
SELECT it.nom_de_baie,
       it.nom_de_la_salle,
       it.status,
       it2.status status_2,
       it.asset_id,
       it.nom, 
       it.Modele,
       it.fabricant,
       it.Reperage_ID,
       ( CASE WHEN it.status is null and it2.status is not null then Concat(it.fabricant, ' : ', it2.asset_id) 
        	  WHEN it.status is null and it2.status is null and (it.asset_id is null or it.asset_id ='0') then  Concat(it.fabricant, ' : No Match') 
        END ) agg
       
FROM   `IT_Equipment_v2` it
 LEFT JOIN `it_built_system_NAS_v2` it2
 ON        it2.nom_de_baie = it.nom_de_baie 
 AND       it2.nom_de_la_salle = it.nom_de_la_salle
 AND		  it2.fabricant = it.fabricant

WHERE it.status is null and (it.fabricant like 'netapp%' or it.fabricant like 'ATTO%' or it.fabricant like 'Brocade%' )
ORDER  BY it.nom_de_baie DESC

### Exadata

In [ ]:
SELECT it.nom_de_baie,
       it.nom_de_la_salle,
       it.status,
       it2.status status_2,
       it.asset_id,
       it.nom, 
       it.Modele,
       it.fabricant,
       it.Reperage_ID,
       ( CASE WHEN it.status is null and it2.status is not null then Concat(it.fabricant, ' : ', it2.asset_id) 
        	  WHEN it.status is null and it2.status is null and (it.asset_id is null or it.asset_id ='0') then  Concat(it.fabricant, ' : No Match') 
        END ) agg
       
FROM   `IT_Equipment_v2` it
 LEFT JOIN `it_build_system_EXADATA_v2` it2
 ON        it2.nom_de_baie = it.nom_de_baie 
 AND       it2.nom_de_la_salle = it.nom_de_la_salle
 AND		  it2.fabricant = it.fabricant

WHERE it.status is null and (it.fabricant like '%oracle%')
ORDER  BY it.nom_de_baie DESC

### HPC

In [ ]:
SELECT it.nom_de_baie,
       it.nom_de_la_salle,
       it.status,
       it2.status status_2,
       it.asset_id,
       it.nom, 
       it.Modele,
       it.fabricant,
       it.Reperage_ID,
       ( CASE WHEN it.status is null and it2.status is not null then Concat(it.fabricant, ' : ', it2.root_ferme) 
        	  WHEN it.status is null and it2.status is null and (it.asset_id is null or it.asset_id ='0') then  Concat(it.fabricant, ' : No Match') 
        END ) agg
       
FROM   `IT_Equipment_v2` it
 LEFT JOIN `it_build_system_HPC_v2` it2
 ON (LEFT(it.Nom,6)) = it2.root_ferme

WHERE it.status is null and (it.fabricant like '%oracle%')
ORDER  BY it.nom_de_baie DESC

### HANNA

In [ ]:
SELECT it.nom_de_baie,
       it.nom_de_la_salle,
       it.status,
       it2.status status_2,
       it.asset_id,
       it.nom, 
       it.Modele,
       it.fabricant,
       it.Reperage_ID,
       ( CASE WHEN it.status is null and it2.status is not null then Concat(it.fabricant, ' : ', it2.asset_id) 
        	  WHEN it.status is null and it2.status is null and (it.asset_id is null or it.asset_id ='0') then  Concat(it.fabricant, ' : No Match') 
        END ) agg
       
FROM   `IT_Equipment_v2` it
  LEFT JOIN `it_build_system_HANNA_v2` it2
 ON        it2.nom_de_baie = it.nom_de_baie 
 AND       it2.nom_de_la_salle = it.nom_de_la_salle
 AND		  it2.fabricant = it.fabricant

WHERE it.status is null and (it.nom_de_baie like '%hana%' OR it.nom like '%hana%')
ORDER  BY it.nom_de_baie DESC

### RING

In [ ]:
SELECT it.nom_de_baie,
       it.nom_de_la_salle,
       it.status,
       it.asset_id,
       it.nom, 
        it.Modele,
        it.fabricant,
        it.Reperage_ID,
        ( CASE WHEN it.status is null and it2.status is not null then Concat(it.fabricant, ' : ', it2.asset_id) 
        	  WHEN it.status is null and it2.status is null and (it.asset_id is null or it.asset_id ='0') then  Concat(it.fabricant, ' : No Match') 
        END ) agg
       
       
FROM   `IT_Equipment_v2` it
LEFT JOIN `it_build_system_RING_v2` it2 
ON        it2.nom_de_baie = it.nom_de_baie 
AND       it2.nom_de_la_salle = it.nom_de_la_salle
AND		  it2.fabricant = it.fabricant
    
WHERE (it.short_name like '%NA9TCR%' 
OR it.nom like '%NA9TCR%')
ORDER BY it.Nom_de_baie DESC, it.Nom_de_la_salle

## `'CMDB-OK-OLD'`