In [52]:
import pandas as pd
import numpy as np
import json

In [131]:
def clean_query(x : list) :
    x = ' '.join(x)
    x = x.replace("\n","").replace("\t","").replace("\\"," ")
    return x

SyntaxError: EOL while scanning string literal (Temp/ipykernel_54792/3294217833.py, line 3)

In [127]:
def split_multiple_query(raw_list) :
    query_list = []
    for query in raw_list :
        query = query.split(";")
        if len(query) >=2 :
            for sub_query in query :
                query_list.append(sub_query)
        elif len(query) == 1 :
            query_list.append(query[0])
    return query_list

In [88]:
filepath = './Olivier_it_Workflow_2.ipynb'

In [89]:
with open(filepath,'r',  encoding='utf-8') as f :
    data = json.load(f)

In [128]:
df = pd.DataFrame.from_dict(data['cells'])
df = df.drop(["id", "metadata", "execution_count", "outputs"], axis = 1) # Clean notebook
df = df.drop(df[df.cell_type== "markdown"].index )
df = df.apply(lambda x : clean_query(x.source), axis = 1)
raw_list = df.values
query_list = split_multiple_query(raw_list)

In [130]:
query_list

['DROP TABLE IF EXISTS `IT_Equipment_v2` ',
 ' CREATE TABLE IT_Equipment_v2 as SELECT * FROM `IT_Equipment`',
 'DROP TABLE IF EXISTS `assets_filtree_v2` ',
 " CREATE TABLE assets_filtree_v2 as select * from `assets_new` where (API = 'FRVLB0C2' or API = 'FRTCRAVA')",
 'ALTER TABLE assets_filtree_v2 ADD COLUMN Rack varchar(255), ADD COLUMN Slot varchar(255), ADD COLUMN Slot_begin varchar(255), ADD COLUMN Slot_end varchar(255)',
 '',
 "UPDATE assets_filtree_v2 SET  Rack = SUBSTRING_INDEX(DALLE, '/', 1)  , Slot = SUBSTRING_INDEX(DALLE, '/', -1) , Slot_begin = SUBSTRING_INDEX(SUBSTRING_INDEX(DALLE, '/', -1), '-', 1) , Slot_end = SUBSTRING_INDEX(DALLE, '-', -1)",
 'DROP TABLE IF EXISTS `IT_Equipment_olivier_no_match` ',
 " CREATE TABLE IT_Equipment_olivier_no_match as SELECT it.* FROM `IT_Equipment_v2` it LEFT JOIN `olivier_it` oit on oit.olivier_index = CONCAT(it.Nom_de_la_salle, it.reperage_id)  where it.nom_de_la_salle in ('P1', 'P2', 'P3', 'P4') and oit.olivier_index is null -- AND (oit.olivier_index is null or it.reperage_id is null) ORDER BY Reperage_ID asc",
 'DROP TABLE IF EXISTS `assets_filtree_reduced` ',
 " CREATE TABLE assets_filtree_reduced AS SELECT ype, subtype, ASSET_ID, NOM_COURT, NOM_LONG, FABRICANT, MODEL, DALLE, SALLE, Rack, Slot_Begin, Slot_End, No_serie, etat, api, tag_partenaire from `assets_filtree_v2` aa WHERE SALLE in ('P1', 'P2', 'P3', 'P4', '0')",
 'ALTER TABLE olivier_it ADD COLUMN STATUS_2 varchar(255), ADD COLUMN Nom_de_baie varchar(255), ADD COLUMN Slot_u varchar(255), ADD COLUMN STATUS_3 varchar(255), ADD COLUMN ASSET_ID_OK_POSITION varchar(255), ADD COLUMN status varchar(255) ',
 '',
 'ALTER TABLE olivier_it  ADD COLUMN status_asset_id varchar(255), ADD COLUMN status_position varchar(255), ADD COLUMN status_name varchar(255), ADD COLUMN status_etat varchar(255), ADD COLUMN status_global varchar(255), ADD COLUMN status_etat_hpe varchar(255), ADD COLUMN status_spec varchar(255), ADD COLUMN status_cc varchar(255) ',
 '',
 "UPDATE `olivier_it` set Nom_de_baie = SUBSTRING_INDEX(reperage_id,':',1) , Slot_u = SUBSTRING_INDEX(reperage_id,'Slot',-1) ",
 '',
 "UPDATE `olivier_it` oit INNER JOIN `IT_Equipment_v2` it on oit.olivier_index = CONCAT(it.Nom_de_la_salle, it.reperage_id)  SET oit.status = 'Commun'  where it.nom_de_la_salle in ('P1', 'P2', 'P3', 'P4')",
 "UPDATE `olivier_it` oit LEFT JOIN `IT_Equipment_v2` it on oit.olivier_index = CONCAT(it.Nom_de_la_salle, it.reperage_id)  set oit.status = 'Non trouvé'  where it.reperage_id is null",
 'UPDATE `olivier_it` it LEFT JOIN `assets_filtree_reduced` aa ON aa.asset_id = it.asset_id and it.asset_id != \'0\' SET it.status_asset_id = ( CASE WHEN aa.asset_id is not null then \'Trouvé - bon asset id\'                           ELSE "Non Trouvé - Mauvais Asset ID"                           END                            )',
 " UPDATE `olivier_it` it  INNER JOIN `assets_filtree_reduced`aa ON ( it.Nom_de_la_salle = aa.Salle AND it.Nom_de_baie = aa.Rack AND it.Slot_U = CONVERT(aa.Slot_Begin, integer) )        INNER JOIN `IT_Equipment_match_position_reduced_v3` it2 ON it.reperage_id = it2.reperage_id  SET it.status_position = 'Bonne localisation' WHERE  (    aa.model not like '%BL460C%' OR aa.model not like '%BL660C%' OR aa.model not like '%BL20P%' OR aa.model not like '%BL860C%' OR aa.model not like '%BL420C%' OR aa.model not like '%BL680C%' OR aa.model not like '%WS460C%' OR aa.model not like '%BL870C%' )",
 "UPDATE `olivier_it` it  SET it.status_position = 'KO localisation' where it.status_position is null",
 'UPDATE `olivier_it` it INNER JOIN `assets_filtree_reduced` aa ON aa.nom_court  = it.short_name     SET it.status_name = "OK nom_court" where it.short_name != \'\'',
 'UPDATE `olivier_it` it INNER JOIN `assets_filtree_reduced` aa ON aa.nom_long  = it.nom    SET it.status_name = "OK nom_long" where it.nom != \'\' and status_name is null',
 'UPDATE `olivier_it` it INNER JOIN `assets_filtree_reduced` aa ON ( REPLACE(REPLACE(aa.nom_long,\'_OLD\',\'\'),\'-OLD\',\'\')  = it.nom  OR REPLACE(REPLACE(aa.nom_court,\'_OLD\',\'\'),\'-OLD\',\'\')  = it.short_name ) AND aa.asset_id = it.asset_id   SET it.status_name = (CASE WHEN nom_court like \'%OLD\' and  nom !=\'\' THEN "nom_court type OLD"                       WHEN nom_long like \'%OLD\' and  short_name !=\'\' THEN "nom_long type OLD"                       ELSE it.status_name                       END                      )  where (aa.nom_court like \'%_OLD\' or aa.nom_long like \'%_OLD\' or aa.nom_court like \'%-OLD\' or aa.nom_long like \'%-OLD\')',
 'UPDATE `olivier_it` it INNER JOIN `assets_filtree_reduced` aa ON REPLACE(REPLACE(aa.nom_long,\'_OLD\',\'\'),\'-OLD\',\'\')  = it.nom  OR REPLACE(REPLACE(aa.nom_court,\'_OLD\',\'\'),\'-OLD\',\'\')  = it.short_name   SET it.status_name = (CASE WHEN nom_court like \'%OLD\' and  nom !=\'\' THEN "nom_court type OLD"                       WHEN nom_long like \'%OLD\' and  short_name !=\'\' THEN "nom_long type OLD"                       ELSE it.status_name                       END                      )  where (aa.nom_court like \'%_OLD\' or aa.nom_long like \'%_OLD\' or aa.nom_court like \'%-OLD\' or aa.nom_long like \'%-OLD\') and status_asset_id != \'Trouvé - bon asset id\'',
 'UPDATE `olivier_it` it SET it.status_name = "Mauvais nom" where it.status_name is null',
 "UPDATE `olivier_it` it LEFT JOIN `assets_filtree_reduced` aa ON aa.asset_id = it.asset_id and it.asset_id != '0' SET it.status_etat = aa.etat ",
 '',
 ' UPDATE `olivier_it` it INNER JOIN `assets_filtree_reduced` aa ON ( REPLACE(REPLACE(aa.nom_court,\'_OLD\',\'\'),\'-OLD\',\'\')  = it.nom  OR REPLACE(REPLACE(aa.nom_court,\'_OLD\',\'\'),\'-OLD\',\'\')  = it.short_name )  SET it.status_etat = aa.etat where status_name = "nom_court type OLD" ',
 '',
 ' UPDATE `olivier_it` it INNER JOIN `assets_filtree_reduced` aa ON ( REPLACE(REPLACE(aa.nom_long,\'_OLD\',\'\'),\'-OLD\',\'\')  = it.nom  OR REPLACE(REPLACE(aa.nom_long,\'_OLD\',\'\'),\'-OLD\',\'\')  = it.short_name ) SET it.status_etat = aa.etat where status_name = "nom_long type OLD" ',
 '',
 ' UPDATE `olivier_it` it INNER JOIN `assets_filtree_reduced` aa ON ( REPLACE(REPLACE(aa.nom_court,\'_OLD\',\'\'),\'-OLD\',\'\')  = it.nom  OR REPLACE(REPLACE(aa.nom_court,\'_OLD\',\'\'),\'-OLD\',\'\')  = it.short_name ) AND aa.asset_id = it.asset_id  SET it.status_etat = aa.etat where status_name = "nom_court type OLD" and status_asset_id != \'Trouvé - bon asset id\'',
 ' UPDATE `olivier_it` it INNER JOIN `assets_filtree_reduced` aa ON ( REPLACE(REPLACE(aa.nom_long,\'_OLD\',\'\'),\'-OLD\',\'\')  = it.nom  OR REPLACE(REPLACE(aa.nom_long,\'_OLD\',\'\'),\'-OLD\',\'\')  = it.short_name ) AND aa.asset_id = it.asset_id SET it.status_etat = aa.etat where status_name = "nom_long type OLD" and status_asset_id != \'Trouvé - bon asset id\'',
 "UPDATE `olivier_it` it  SET it.status_etat = 'KO Etat_CMDB' where it.status_etat is null",
 'UPDATE `olivier_it` it  SET it.Status_spec = "Trouvé - Patch Panel" where type like \'%Patch Panel%\' or fabricant in (\'Arista\', \'Alcatel-Lucent\')',
 '',
 " UPDATE `olivier_it` it SET it.Status_spec = 'Trouvé - PCP Mal documenté' where (it.Nom like '%compute%' or it.short_name like '%compute%' or reperage_id like '%compute%') or  (it.Nom like '%_Rack%' or it.short_name like '%_Rack%' or reperage_id like '%_Rack%') and (asset_id is null or asset_id ='0' or asset_id ='')",
 '',
 "UPDATE `olivier_it` it SET it.status_etat_hpe =      (CASE WHEN status_asset_id != 'Trouvé - bon asset id' AND status_position = 'KO localisation' and status_spec is null THEN 'pas asset id & pas de localisation'      WHEN status_asset_id != 'Trouvé - bon asset id' AND status_position != 'KO localisation' and status_spec is null THEN 'pas asset id & localisation'      WHEN status_asset_id = 'Trouvé - bon asset id' AND status_position != 'KO localisation' and status_spec is null THEN status_etat      WHEN status_asset_id = 'Trouvé - bon asset id' AND status_position = 'KO localisation' and status_spec is null THEN 'asset id & pas de localisation'      WHEN status_spec is not null then status_spec      END     )                   ",
 '',
 'UPDATE olivier_it  set status_global = concat(status_asset_id , \' - \' , status_position , \' - \' , status_name, " - " , status_etat )',
 '',
 'UPDATE olivier_it  set status_cc = concat("6Sigma Hpe ", status_hpe , \' - \' ,                        "6Sigma C2 " , status,  \' - \' ,                        "CHIPRE ", status_etat_hpe ) ',
 '']