# 1/ 6SIGMA (It_equipment) ⋈ CMDB

`IT_Equipment_v2` : Table IT_Equipment provenant d'un fichier csv

In [ ]:
DROP TABLE IF EXISTS `IT_Equipment_v2` ;
CREATE TABLE IT_Equipment_v2
as
SELECT * FROM `IT_Equipment`
where nom_de_la_salle in ('P1', 'P2', 'P3', 'P4')

`assets_filtree_v2` : Table assets_new (CMDB) filtré aux deux localisations : FRVLB0C2 / FRTCRAVA

In [ ]:
DROP TABLE IF EXISTS `assets_filtree_v2` ;
CREATE TABLE assets_filtree_v2
as
select *
from `assets_new`
where (API = 'FRVLB0C2' or API = 'FRTCRAVA') ;

In [ ]:
ALTER TABLE assets_filtree_v2
ADD COLUMN Rack varchar(255),
ADD COLUMN Slot varchar(255),
ADD COLUMN Slot_begin varchar(255),
ADD COLUMN Slot_end varchar(255);

In [ ]:
UPDATE assets_filtree_v2
SET 
	Rack = SUBSTRING_INDEX(DALLE, '/', 1)  ,
	Slot = SUBSTRING_INDEX(DALLE, '/', -1) ,
	Slot_begin = SUBSTRING_INDEX(SUBSTRING_INDEX(DALLE, '/', -1), '-', 1) ,
	Slot_end = SUBSTRING_INDEX(DALLE, '-', -1)

In [ ]:
DROP TABLE IF EXISTS `assets_filtree_reduced` ;
CREATE TABLE assets_filtree_reduced
AS
SELECT ype, subtype, ASSET_ID, NOM_COURT, NOM_LONG, FABRICANT, MODEL, DALLE, SALLE, Rack, Slot_Begin, Slot_End, No_serie, etat, api, tag_partenaire
from `assets_filtree_v2` aa
WHERE SALLE in ('P1', 'P2', 'P3', 'P4', '0')

In [ ]:
DROP TABLE IF EXISTS `assets_filtree_reduced_not_retired` ;
CREATE TABLE assets_filtree_reduced_not_retired
AS
SELECT ype, subtype, ASSET_ID, NOM_COURT, NOM_LONG, FABRICANT, MODEL, DALLE, SALLE, Rack, Slot_Begin, Slot_End, No_serie, etat, api, tag_partenaire
from `assets_filtree_v2` aa
WHERE SALLE in ('P1', 'P2', 'P3', 'P4')

##### On ajoute la même forme de position que sur 6sigma pour fluidifier les query

In [ ]:

ALTER TABLE `assets_filtree_reduced_not_retired`
ADD COLUMN reperage_id varchar(255) ;

update `assets_filtree_reduced_not_retired`
set reperage_id = concat(Rack,":Slot ", slot_begin) ;

ALTER TABLE `assets_filtree_reduced`
ADD COLUMN reperage_id varchar(255) ;

update `assets_filtree_reduced`
set reperage_id = concat(Rack,":Slot ", slot_begin);

`IT_Equipment_match_position_reduced_v3` : groupement des lignes par positions et affichage d'un seul asset_id par positions + nombres d'equipements sur la même position

In [ ]:
DROP TABLE IF EXISTS IT_Equipment_match_position_reduced_v3_not_retired;
CREATE TABLE IT_Equipment_match_position_reduced_v3_not_retired
as
SELECT it.nom_de_la_salle, it.reperage_id, count(it.reperage_id) as RowNumber,
		concat(aa.asset_id) asset_id

FROM   `IT_Equipment_v2` it  
INNER JOIN `assets_filtree_reduced_not_retired`aa
ON (
	it.Nom_de_la_salle = aa.Salle
AND
	it.reperage_id = aa.reperage_id
)  
GROUP BY it.reperage_id

## Equipement non présent sur Olivier_IT

#### Equipement 6sigma non présent sur Olivier_it sur la base de la position (salle, rack, position de départ)

`olivier_it_eq_not_in_CMDB` : Liste des équipements CMDB non présent sur Olivier_it

In [ ]:
DROP TABLE IF EXISTS IT_Equipment_eq_not_in_cmdb ;
CREATE TABLE IT_Equipment_eq_not_in_cmdb
as 
select aa.MODEL, aa.subtype, aa.FABRICANT, aa.NOM_LONG, aa.No_serie, aa.No_serie Serial_number, aa.ASSET_ID,
aa.tag_partenaire asset_tag, aa.tag_partenaire asset_number, aa.SALLE, aa.reperage_id reperage_id_origin, 
aa.reperage_id, NULL end_move_target, null null_1 ,null null_2, null null_3, null null_4, null null_5
from `IT_Equipment_v2` it
RIGHT JOIN `assets_filtree_reduced_not_retired` aa 
ON it.reperage_id = aa.reperage_id
and it.nom_de_la_salle = aa.salle

where it.reperage_id is null and aa.dalle != '' and etat != 'Retired' 
order by reperage_id asc

In [ ]:
DROP TABLE IF EXISTS IT_Equipment_eq_not_in_cmdb ;
CREATE TABLE IT_Equipment_eq_not_in_cmdb
as 
select 'Equipements IT', '' fill1, '' fill2_, aa.NOM_LONG, aa.tag_partenaire asset_tag, aa.FABRICANT, aa.MODEL,
aa.salle nom_de_la_salle, aa.rack nom_de_baie, aa.slot_begin slot_u, '' fill3, '' fill4,  aa.ype, '' fill5, aa.nom_court, 
'' fill6, '' fill7, '' fill7_2, aa.asset_id,
'' fill8, '' fill9,
'' fill10,'' fill11, '' fill12 ,'' fill12_2 ,'' fill13 ,'' fill14 ,'' fill15 ,'' fill16 ,'' fill17 ,'' fill18 , '' fill19 ,
'' fill20 ,'' fill21 ,'' fill22, '' fill2, '' fill23, '' fill24, '' fill25,'' fill26, '' fill27, '' fill28, '' fill29, 
'' fill30 ,'' fill31 ,'' fill32 ,'' fill33 ,'' fill34 ,'' fill35,'' fill36 ,'' fill37 ,'' fill38 ,'' fill39,
'' fill40, '' fill41, '' fill42, aa.reperage_id,
'' fill43, '' fill44, '' fill45, '' fill46, '' fill47 ,'' fill48 ,'' fill49 ,
'' fill50 ,'' fill51 ,'' fill52 ,'' fill53 ,'' fill54 ,'' fill55 ,''  fill56,'' fill57, '' fill58, '' fill59,
'' fill60,'' fill61
from `IT_Equipment_v2` it
RIGHT JOIN `assets_filtree_reduced_not_retired` aa 
ON it.reperage_id = aa.reperage_id
and it.nom_de_la_salle = aa.salle

where it.reperage_id is null and aa.dalle != '' and etat != 'Retired' 
order by reperage_id asc

## On ajoute les équipements manquants à olivier_it

ajout d'un attribut `from_sources` qui contient la provenance de l'équipement :

    - 6Sigma
    - CMDB
    - Olivier_it

In [ ]:
alter table IT_Equipment_v2
ADD COLUMN from_source VARCHAR(255) ;

#### ADD ROW

In [ ]:
INSERT INTO `IT_Equipment_v2` 
SELECT it.*, "CMDB" FROM `IT_Equipment_eq_not_in_cmdb` it

In [ ]:
update `IT_Equipment_v2`
set from_source = '6SIGMA'
where from_source is null

In [ ]:
ALTER TABLE IT_Equipment_v2 
ADD COLUMN status_CMDB varchar(255),
ADD COLUMN status_position_CMDB varchar(255)

In [ ]:
ALTER TABLE IT_Equipment_v2 
ADD COLUMN status_asset_id varchar(255),
ADD COLUMN status_position varchar(255),
ADD COLUMN status_name varchar(255),
ADD COLUMN status_etat varchar(255),
ADD COLUMN status_global varchar(255),
ADD COLUMN status_etat_hpe varchar(255),
ADD COLUMN status_spec varchar(255),
ADD COLUMN status_cc varchar(255) ;

## Status d'asset_id et de position

In [ ]:

UPDATE `IT_Equipment_v2` it 
INNER JOIN `assets_filtree_reduced_not_retired` it2 ON it.ASSET_ID = it2.ASSET_ID 

SET it.status_cmdb = 'OK'

WHERE (it.ASSET_ID != '' or it.ASSET_ID != '' or it2.ASSET_ID != '' or it2.ASSET_ID != '')

In [ ]:
UPDATE `IT_Equipment_v2` it 
SET status_CMDB = 'KO'
WHERE status_CMDB is null

SELECT * FROM `IT_Equipment_match_position_reduced_v3` it2

INNER JOIN `olivier_it` it 
ON it.reperage_id = it2.reperage_id
and it.nom_de_la_salle = it2.nom_de_la_salle

In [ ]:
UPDATE `IT_Equipment_v2` it 
INNER JOIN `assets_filtree_reduced_not_retired`aa
ON (
	it.Nom_de_la_salle = aa.Salle
AND
	it.reperage_id = aa.reperage_id
)  
    
INNER JOIN `IT_Equipment_match_position_reduced_v3_not_retired` it2
ON it.reperage_id = it2.reperage_id
and it.nom_de_la_salle = it2.nom_de_la_salle

SET it.status_position_CMDB = 'OK'

WHERE  (
   aa.model not like '%BL460C%'
OR aa.model not like '%BL660C%'
OR aa.model not like '%BL20P%'
OR aa.model not like '%BL860C%'
OR aa.model not like '%BL420C%'
OR aa.model not like '%BL680C%'
OR aa.model not like '%WS460C%'
OR aa.model not like '%BL870C%' )

In [ ]:
UPDATE `IT_Equipment_v2` it 
SET status_position_CMDB = 'KO'
WHERE status_position_CMDB is null;

# Creation table Olivier_it

# UPDATE

### `MATCH ASSET_ID`

attribut `status_asset_id` : 

    - "Trouvé - bon asset id"
    - "Non Trouvé - Mauvais Asset ID" impossibilité de trouver l'asset_id dans la CMDB (assets_filtrée)

In [ ]:
UPDATE `IT_Equipment_v2` it
LEFT JOIN `assets_filtree_reduced` aa
ON aa.asset_id = it.asset_id
and (it.asset_id != '0' or it.asset_id != '')
SET it.status_asset_id = ( CASE WHEN aa.asset_id is not null then 'Trouvé - bon asset id'
                          ELSE "Non Trouvé - Mauvais Asset ID"
                          END 
                          )

### `MATCH POSITION`

attribut `status_position` : 

    - "Bonne localisation"
    - "KO localisation" : impossibilité de trouver la position dans la CMDB (assets_filtrée)

In [ ]:

UPDATE `IT_Equipment_v2` it 
INNER JOIN `assets_filtree_reduced`aa
ON (
	it.Nom_de_la_salle = aa.Salle
AND
	it.Nom_de_baie = aa.Rack
AND
	it.Slot_U = CONVERT(aa.Slot_Begin, integer)
	)  
    
INNER JOIN `IT_Equipment_match_position_reduced_v3` it2
ON it.reperage_id = it2.reperage_id
and it.nom_de_la_salle = it2.nom_de_la_salle

SET it.status_position = 'Bonne localisation'
WHERE  (
   aa.model not like '%BL460C%'
OR aa.model not like '%BL660C%'
OR aa.model not like '%BL20P%'
OR aa.model not like '%BL860C%'
OR aa.model not like '%BL420C%'
OR aa.model not like '%BL680C%'
OR aa.model not like '%WS460C%'
OR aa.model not like '%BL870C%' )

In [ ]:
UPDATE `olivierIT_Equipment_v2_it` it 
SET it.status_position = 'KO localisation'
where it.status_position is null

# `Nom`

attribut `status_nom_court` : Priorisation du status affiché 
    
    1. Présence d'asset d'id
        1. "nom_court type OLD"
        2. "nom_long type OLD" 
        3. "OK nom_court"
        4. "OK nom_long"
        5. "Mauvais nom" : nom court/long non présent dans la cmdb
    
    2. Non présence d'asset d'id
        1. "nom_court type OLD"
        2. "nom_long type OLD" 
        3. "OK nom_court"
        4. "OK nom_long"
        5. "Mauvais nom" : nom court/long non présent dans la cmdb

In [ ]:
UPDATE `IT_Equipment_v2` it
INNER JOIN `assets_filtree_reduced` aa
ON aa.nom_court  = it.short_name    
SET it.status_name = "OK nom_court"
where it.short_name != ''

In [ ]:
UPDATE `IT_Equipment_v2` it
INNER JOIN `assets_filtree_reduced` aa
ON aa.nom_long  = it.nom   
SET it.status_name = "OK nom_long"
where it.nom != '' and status_name is null

### `'CMDB-OK-OLD'`

In [ ]:
UPDATE `IT_Equipment_v2` it
INNER JOIN `assets_filtree_reduced` aa
ON ( REPLACE(REPLACE(aa.nom_long,'_OLD',''),'-OLD','')  = it.nom 
OR REPLACE(REPLACE(aa.nom_court,'_OLD',''),'-OLD','')  = it.short_name )
AND aa.asset_id = it.asset_id
 

SET it.status_name = (CASE WHEN nom_court like '%OLD' and  nom !='' THEN "nom_court type OLD"
                      WHEN nom_long like '%OLD' and  short_name !='' THEN "nom_long type OLD"
                      ELSE it.status_name
                      END
                     )

where (aa.nom_court like '%_OLD' or aa.nom_long like '%_OLD' or aa.nom_court like '%-OLD' or aa.nom_long like '%-OLD')

In [ ]:
UPDATE `IT_Equipment_v2` it
INNER JOIN `assets_filtree_reduced` aa
ON REPLACE(REPLACE(aa.nom_long,'_OLD',''),'-OLD','')  = it.nom 
OR REPLACE(REPLACE(aa.nom_court,'_OLD',''),'-OLD','')  = it.short_name


SET it.status_name = (CASE WHEN nom_court like '%OLD' and  nom !='' THEN "nom_court type OLD"
                      WHEN nom_long like '%OLD' and  short_name !='' THEN "nom_long type OLD"
                      ELSE it.status_name
                      END
                     )

where (aa.nom_court like '%_OLD' or aa.nom_long like '%_OLD' or aa.nom_court like '%-OLD' or aa.nom_long like '%-OLD') and status_asset_id != 'Trouvé - bon asset id'

In [ ]:
UPDATE `IT_Equipment_v2` it
SET it.status_name = "Mauvais nom"
where it.status_name is null

# `Status : Etat`

attribut `status_etat` : Si un équipment est repéré (par son asset_id et/ou sa position ) 

    - "Trouvé - bon asset id"
    - "Non Trouvé - Mauvais Asset ID"
    - "KO Etat" - Aucun ou plusieurs equipments sur la même position, impossible d'établir le lien

In [ ]:
UPDATE `IT_Equipment_v2` it
LEFT JOIN `assets_filtree_reduced` aa
ON aa.asset_id = it.asset_id
and it.asset_id != '0'
SET it.status_etat = aa.etat ;

In [ ]:

UPDATE `IT_Equipment_v2` it
INNER JOIN `assets_filtree_reduced` aa
ON ( REPLACE(REPLACE(aa.nom_court,'_OLD',''),'-OLD','')  = it.nom 
OR REPLACE(REPLACE(aa.nom_court,'_OLD',''),'-OLD','')  = it.short_name )

SET it.status_etat = aa.etat
where status_name = "nom_court type OLD" ;

In [ ]:

UPDATE `IT_Equipment_v2` it
INNER JOIN `assets_filtree_reduced` aa
ON ( REPLACE(REPLACE(aa.nom_long,'_OLD',''),'-OLD','')  = it.nom 
OR REPLACE(REPLACE(aa.nom_long,'_OLD',''),'-OLD','')  = it.short_name )
SET it.status_etat = aa.etat
where status_name = "nom_long type OLD" ;

In [ ]:

UPDATE `IT_Equipment_v2` it
INNER JOIN `assets_filtree_reduced` aa
ON ( REPLACE(REPLACE(aa.nom_court,'_OLD',''),'-OLD','')  = it.nom 
OR REPLACE(REPLACE(aa.nom_court,'_OLD',''),'-OLD','')  = it.short_name )
AND aa.asset_id = it.asset_id

SET it.status_etat = aa.etat
where status_name = "nom_court type OLD" and status_asset_id != 'Trouvé - bon asset id'

In [ ]:

UPDATE `IT_Equipment_v2` it
INNER JOIN `assets_filtree_reduced` aa
ON ( REPLACE(REPLACE(aa.nom_long,'_OLD',''),'-OLD','')  = it.nom 
OR REPLACE(REPLACE(aa.nom_long,'_OLD',''),'-OLD','')  = it.short_name )
AND aa.asset_id = it.asset_id
SET it.status_etat = aa.etat
where status_name = "nom_long type OLD" and status_asset_id != 'Trouvé - bon asset id'

In [ ]:
UPDATE `IT_Equipment_v2` it
 SET it.status_etat = 'KO Etat_CMDB'
where it.status_etat is null

# `Status_spec : Cas spécifique`

attribut `status_spec` : 

    - "Patch Panel"
    - "PCP"

### `Patch Panel`

In [ ]:
UPDATE `IT_Equipment_v2` it 
SET it.Status_spec = "Trouvé - Patch Panel"
where type like '%Patch Panel%' or fabricant in ('Arista', 'Alcatel-Lucent');

### `PCP`

In [ ]:
UPDATE `IT_Equipment_v2` it
SET it.Status_spec = 'Trouvé - PCP Mal documenté'
where (it.Nom like '%compute%' or it.short_name like '%compute%' or reperage_id like '%compute%') or 
(it.Nom like '%_Rack%' or it.short_name like '%_Rack%' or reperage_id like '%_Rack%') and (asset_id is null or asset_id ='0' or asset_id ='');

#### `PCP` : Cas des HPE

In [ ]:
update `IT_Equipment_v2` 
SET status_spec = 'PCP : KO'
where nom_de_baie in ('J11', 'L11', 'M11', 'O11') and Fabricant LIKE '%HP%' and ASSET_ID in ('','0')

# `Status : Etat_hpe`

attribut `status_etat_hpe` : 

    1- pas asset id & pas de localisation
    2- pas asset id & localisation
    3- assed id & localisation => status
    4- asset id & pas localisation ==> "assetid"
    5- PCP ==> "PCP"
    6- Patch Panel => "Patch Panel"

In [ ]:
UPDATE `IT_Equipment_v2` it
SET it.status_etat_hpe = 
    (CASE WHEN status_asset_id != 'Trouvé - bon asset id' AND status_position = 'KO localisation' and status_spec is null THEN 'pas asset id & pas de localisation'
     WHEN status_asset_id != 'Trouvé - bon asset id' AND status_position != 'KO localisation' and status_spec is null THEN 'pas asset id & localisation'
     WHEN status_asset_id = 'Trouvé - bon asset id' AND status_position != 'KO localisation' and status_spec is null THEN status_etat
     WHEN status_asset_id = 'Trouvé - bon asset id' AND status_position = 'KO localisation' and status_spec is null THEN 'asset id & pas de localisation'
     WHEN status_spec is not null then status_spec
     END
    )              
    ;

# `GLOBAL STATUS`

attribut `status_status` : Agrégation de tous les attribus

In [ ]:
UPDATE IT_Equipment_v2 
set status_global = concat(status_asset_id , ' - ' , status_position , ' - ' , status_name, " - " , status_etat );

# `STATUS_CC`

attribut `status_CC` : Aggrégation de tous les attribus

In [ ]:
UPDATE IT_Equipment_v2 
set status_cc = concat(
                       "CHIPRE ", status_etat_hpe ) ;

# Indicateur

In [ ]:
drop VIEW if EXISTS indicator_IT_Equipment_status ;
create VIEW indicator_IT_Equipment_status
as 
SELECT status_cc, count(*) row_count FROM `IT_Equipment_v2`
GROUP BY status_cc

In [ ]:
drop view if EXISTS indicator_IT_Equipment_add_row_per_salle ;
create view indicator_IT_Equipment_add_row_per_salle
as 
select DISTINCT(from_source), NOM_de_la_salle, count(*) equipment_count from `IT_Equipment_v2`
GROUP BY from_source, NOM_de_la_salle

### MAJ 30/08/2022

drop table if EXISTS olivier_it_copy_copy ;# MySQL returned an empty result set (i.e. zero rows).
create table olivier_it_copy_copy	
as
select * from `olivier_it_copy`# 2799 rows affected.

select * from `olivier_it_copy_copy`where olivier_index = 'P3AC11:Slot 15'

delete from `olivier_it_copy_copy`where olivier_index = 'P3AC11:Slot 15'

select it.* from `olivier_it` it
LEFT JOIN `olivier_it_copy_copy` it2 ON it.olivier_index = it2.olivier_index and it.nom = it2.nom
where it2.olivier_index is null
order by olivier_index desc

`olivier_it_records` : historique de tous les equipemnts UNIQUES qui sont passés par les fichiers CSV Olivier_it. Permet de checker si un equipements a été supprimer ou non par comparaison avec la dernière version du fichier CSV Olivier_it

CREATE TABLE olivier_it_records
as
select *, NULL status_deleted from `olivier_it`

select it2.modele, it2.nom, it2.olivier_index from `olivier_it` it
RIGHT JOIN `olivier_it_records` it2 ON it.olivier_index = it2.olivier_index and it.nom = it2.nom
where it.olivier_index is null

#### `status_deleted` : si l'equipement n'est pas présent sur la dernière version de olivier_it mais qu'elle est présente dans la table olivier_it_records, l'equipement est jugé comme delete

drop VIEW if EXISTS olivier_it_deleted_records ;
create view olivier_it_deleted_records 
as
select it2.* from `olivier_it` it
RIGHT JOIN `olivier_it_records` it2 ON it.olivier_index = it2.olivier_index and it.nom = it2.nom
where it.olivier_index is null

drop VIEW if EXISTS olivier_it_added_records ;
create view olivier_it_added_records 
as
select it.* from `olivier_it` it
LEFT JOIN `olivier_it_records` it2 ON it.olivier_index = it2.olivier_index and it.nom = it2.nom
where it2.olivier_index is null

ALTER TABLE olivier_it
ADD COLUMN status_deleted varchar(255)

ajout des equipements supprimés `olivier_it`

INSERT INTO `olivier_it`
SELECT *, 'DELETED' from `olivier_it_deleted_records`

ajout des nouveaux equipements à `olivier_it_records`

INSERT INTO `olivier_it_records`
SELECT *, 'ADDED' from `olivier_it_added_records`

select * from `olivier_it_records` 

where olivier_index = 'P2AB27:Slot 01'

Beaucoup d'equipment sont suppr de olivier it puis remis sur le records à l'aide de la CMDB/6SIGMA

select olivier_index, group_concat(from_source) from_source, count(DISTINCT(ASSET_ID)) asset_count, count(DISTINCT(status_deleted)) count_stat, count(*)  from `olivier_it`
GROUP BY olivier_index
ORDER by count(DISTINCT(status_deleted)) desc


Nexus 2248TP GE Fabric Extender (Port Side Airflow Intake);Switch;Cisco;AA_SWC2P430_FEX112;;;;;;P4;W10:Slot 38;W10:Slot 38;;6sigma Hpe;;;P4W10:Slot 38;0-EXISTANT P3/P4;Cecile Pialot;;;;P4W10:Slot 38;Commun;Non Trouvé - Mauvais Asset ID - KO localisation - Mauvais nom - KO Etat_CMDB;6Sigma Hpe 6sigma Hpe - 6Sigma C2 Commun - CHIPRE pas asset id & pas de localisation;;Non Trouvé - Mauvais Asset ID;KO localisation;Mauvais nom;KO Etat_CMDB;;;;