# Creation / Alteration de table

# VIEW

### "EXADATA : No match"

Si "Fabricant" = "Oracle" -> status "EXADATA : No match"

### "EXADATA : No match"

Si "Fabricant" = "Oracle" -> status "EXADATA : No match"

### "EXADATA : No match"

Si "Fabricant" = "Oracle" -> status "EXADATA : No match"

# Query

### "EXADATA : No match"

Si "Fabricant" = "Oracle" -> status "EXADATA : No match"

In [ ]:
SELECT nom_de_baie,
       nom_de_la_salle,
       status,
       asset_id,
       nom, 
        Modele,
        fabricant,
        Reperage_ID
FROM   `IT_Equipment` it
where it.fabricant like '%oracle%' and (asset_id is null or asset_id ='0') -- and status is null

### "Netapp : No match"

Si "Fabricant" = "Netapp" -> status "Netapp : No match"

In [ ]:
SELECT nom_de_baie,
       nom_de_la_salle,
       status,
       asset_id,
       nom, 
        Modele,
        fabricant,
        Reperage_ID
FROM   `IT_Equipment` it
where it.fabricant like '%netapp%' and (asset_id is null or asset_id ='0') -- status is null

### "PCP : No Match"

Si "Nom" contient "_Rack" -> "PCP : No Match"

In [ ]:
SELECT nom_de_baie,
       nom_de_la_salle,
       status,
       asset_id,
       nom, 
        Modele,
        fabricant,
        Reperage_ID
FROM   `IT_Equipment` it
where (it.Nom like '%_Rack%' or it.short_name like '%_Rack%') and (asset_id is null or asset_id ='0') and status is null

# Update

### "EXADATA : No match"

Si "Fabricant" = "Oracle" -> status "EXADATA : No match"

In [ ]:
57 rows
UPDATE `IT_Equipment` it
SET it.status = 'EXADATA : No match'
where it.fabricant like '%oracle%' and (asset_id is null or asset_id ='0') and status is null

### "Netapp : No match"

Si "Fabricant" = "Netapp" -> status "Netapp : No match"

In [ ]:
57 rows
UPDATE `IT_Equipment` it
SET it.status = 'Netapp : No match'
where it.fabricant like '%netapp%' and (asset_id is null or asset_id ='0') and status is null

### "PCP : No Match"

Si "Nom" contient "_Rack" -> "PCP : No Match"

In [ ]:
61 rows
UPDATE `IT_Equipment` it
SET it.status = 'PCP : No Match'
where (it.Nom like '%_Rack%' or it.short_name like '%_Rack%') and (asset_id is null or asset_id ='0') and status is null

## Sur Asset.Filtree, prendre la liste de "Fabricant" = "HDS", prendre les 5 lettres pr√®s "-" ou "_", pur croiser avec "IT_Equipement" = "Hitachi" en cherchant avec les 5 lettres

In [ ]:
116 rows
UPDATE `IT_Equipment` it 
INNER JOIN `IT_Equipment_cleaning_Hitachi` hit on hit.it_nom = it.nom
LEFT JOIN `assets_filtree` aa on UPPER(REPLACE(REPLACE(aa.nom_court,'_',''),'-','')) = hit.clean_name

SET it.status = (
				CASE WHEN aa.asset_id is null and it.status is null then 'Hitashi : No match'
    			WHEN aa.asset_id is not null and it.status is null then concat('HDS : ',aa.asset_id)
    			END 
    			)
                
WHERE it.Fabricant like '%Hitachi%'