# TIPS

In [ ]:
CONVERT(Slot_begin, integer)

In [ ]:
( assets.`CONTAINER` LIKE '%uest' OR
   assets.`CONTAINER` = 'SUN zone' OR
   assets.`CONTAINER` = 'HP vpar' )

# Creation / Alteration de table

In [ ]:
CREATE TABLE assets_filtree_stockage_réseau
AS 
SELECT *
FROM `assets_filtree`
WHERE YPE IN ('networkcomponents','storage')

In [ ]:
Ajout des colonnes pour les coordonnees d'equipements
ALTER TABLE assets_filtree
ADD COLUMN STATUS varchar(255),
ADD COLUMN emplacement varchar(255),
ADD COLUMN Rack varchar(255),
ADD COLUMN Slot varchar(255),
ADD COLUMN Slot_begin varchar(255),
ADD COLUMN Slot_end varchar(255);

# Compteur

In [ ]:
SELECT count(*) count, TYPE
from `IT_Equipment`
where STATUS is null
GROUP BY TYPE

In [ ]:
SELECT count(*) count, YPE
from `assets_filtree_stockage_réseau`
where STATUS is null
GROUP BY YPE

In [ ]:
select COUNT(STATUS), status
from `assets_filtree`
GROUP BY STATUS
ORDER BY COUNT(STATUS) desc

In [ ]:
select COUNT(STATUS), status
from `IT_Equipment`
GROUP BY STATUS
ORDER BY COUNT(STATUS) desc

In [ ]:
select count(*)
from `IT_Equipment`
where status is null

# Query

In [ ]:
select it.asset_id asset_id_id, it.short_name, it.nom, it.status status_it, it.fabricant, it.modele, it.reperage_ID
from `IT_Equipment` it
where it.status is null and it.type in ('Stockage', 'Routeurs', 'Switchs (Commutateurs)')

In [ ]:
FOCUS sur un asset null
select it.asset_id asset_id_id, it.short_name, it.nom, it.status status_it, it.fabricant, it.modele, it.reperage_ID
from `IT_Equipment` it
where SHORT_NAME like '%RCT2%' OR nom like '%RCT2%'

### doublon

In [ ]:
FOCUS sur un asset null
select it.asset_id asset_id_id, it.short_name, it.nom, it.status status_it, it.fabricant, it.modele, it.reperage_ID
from `IT_Equipment` it
where nom like '%RCT2MF01%'

### N'existe pas

In [ ]:
select it.asset_id asset_id_id, it.short_name, it.nom, it.status status_it, it.fabricant, it.modele, it.reperage_ID
from `IT_Equipment` it
where it.status is null

In [ ]:
SELECT ASSET_ID, NOM_COURT, NOM_LONG, FABRICANT, MODEL, DALLE
from `assets_filtree_stockage_réseau` aa
where aa.status is null and NOM_COURT = 'RCT2ST14'

## Match sur les coordonnées

### Coordonnees par position de rack/baie

In [ ]:
SELECT ASSET_ID, NOM_COURT, NOM_LONG, FABRICANT, MODEL, DALLE, SALLE, Rack, Slot_Begin, Slot_End
from `assets_filtree` aa
where dalle like '%L15%'
order by dalle asc

In [ ]:
select it.asset_id asset_id_id, it.short_name, it.nom, it.status status_it, it.fabricant, it.modele, it.reperage_ID, Nom_de_la_salle, Nom_de_baie, Slot_U, Hauteur_U
from `IT_Equipment` it
where Reperage_ID like 'L15:%'
order by Reperage_ID asc

## Match sur les coordonnées inversées

select it.asset_id asset_id_id, it.short_name, it.nom, it.status status_it, it.fabricant, it.modele, it.reperage_ID, it.nom_de_la_salle,
it.Nom_de_baie, SUBSTR(it.Nom_de_baie,length(it.Nom_de_baie),length(it.Nom_de_baie)) rp,
SUBSTR(it.Nom_de_baie,length(it.Nom_de_baie)-1,length(it.Nom_de_baie)) rp2
from `IT_Equipment` it
where STATUS is null
ORDER BY nom asc

----
SELECT ASSET_ID, NOM_COURT, NOM_LONG, FABRICANT, MODEL, DALLE, SALLE, Rack, Slot_Begin, Slot_End
from `assets_filtree` aa
where NOM_COURT like '%ch12%' or NOM_LONG like '%ch12%'
order by dalle asc

## Match sur les extensions : Fex / Netapp, Netapps

### Fex

In [ ]:
select it.asset_id asset_id_id, it.short_name, it.nom, it.status status_it, it.fabricant, it.modele, it.reperage_ID, Nom_de_la_salle, Nom_de_baie, Slot_U, Hauteur_U
from `IT_Equipment` it
where SHORT_NAME like '%SWC3PC27%' or nom like '%SWC3PC27%'

---

SELECT ASSET_ID, NOM_COURT, NOM_LONG, FABRICANT, MODEL, DALLE, SALLE, Rack, Slot_Begin, Slot_End
from `assets_filtree` aa
where NOM_COURT like '%SWC3PC27%' or NOM_LONG like '%SWC3PC27%'
order by dalle asc

## NetApp

In [ ]:
SELECT ASSET_ID, NOM_COURT, NOM_LONG, FABRICANT, MODEL, DALLE, SALLE, Rack, Slot_Begin, Slot_End, status
from `assets_filtree` aa
where fabricant like 'NETAPP%'
order by dalle asc

---
select it.asset_id asset_id_id, it.short_name, it.nom, it.status status_it, it.fabricant, it.modele, it.reperage_ID, Nom_de_la_salle, Nom_de_baie, Slot_U, Hauteur_U
from `IT_Equipment` it
where fabricant like 'NETAPP%'

#### On regroupe tous les extensions sous le même cerveau pour que leur status corresponde au nom du cerveau

In [ ]:
-- Equipment par rack. Si dans une rack y a 1-2 match et le reste est nulle,
y a de grande chance qu'il soit des extensions si le fabricant est le meme
SELECT nom_de_baie, Nom_de_la_salle, (STATUS), asset_id, Nom

FROM `IT_Equipment` it 
where STATUS is not null
GROUP BY nom_de_baie, Nom_de_la_salle
order by nom_de_baie desc

# Liste des it_equipements sans status

In [ ]:
select it.asset_id asset_id_id, it.short_name, it.nom, it.status status_it, it.fabricant, it.modele, it.reperage_ID, Nom_de_la_salle, Nom_de_baie, Slot_U, Hauteur_U
from `IT_Equipment` it
where it.status is null and it.type in ('Stockage', 'Routeurs')

-- equivalent assets
SELECT ASSET_ID, NOM_COURT, NOM_LONG, FABRICANT, MODEL, DALLE
from `assets_filtree` aa

### Modele : DS224C

Plusieurs fois le même model avec un seul match.

select it.asset_id asset_id_id, it.short_name, it.nom, it.status status_it, it.fabricant, it.modele, it.reperage_ID, Nom_de_la_salle, Nom_de_baie, Slot_U, Hauteur_U
from `IT_Equipment` it
where modele = 'DS224C'

-- assets
SELECT ASSET_ID, NOM_COURT, NOM_LONG, FABRICANT, MODEL, DALLE
from `assets_filtree` aa
where model like '%DS224C%' and status is null

# Update

## Match sur les coordonnees

In [ ]:
Ajout des colonnes des coordonnees en salle
UPDATE assets_filtree
SET 
	Rack = SUBSTRING_INDEX(DALLE, '/', 1)  ,
	Slot = SUBSTRING_INDEX(DALLE, '/', -1) ,
	Slot_begin = SUBSTRING_INDEX(SUBSTRING_INDEX(DALLE, '/', -1), '-', 1) ,
	Slot_end = SUBSTRING_INDEX(DALLE, '-', -1)

In [ ]:
41 rows affected. (Query took 51.4745 seconds.)
SELECT it.Nom_de_la_salle, aa.Salle,
it.Nom_de_baie Nom_de_baie_it, aa.Rack,
it.Slot_U Slot_U_it, CONVERT(aa.Slot_Begin, integer) Slot_Begin,
it.Hauteur_U Hauteur_U_it, CONVERT(aa.Slot_End, integer) Slot_End,
CONVERT(aa.Slot_End, integer) - CONVERT(aa.Slot_Begin, integer) delta_slot
FROM `assets_filtree` aa
INNER JOIN 
	`IT_Equipment` it 
ON 
	it.Nom_de_la_salle = aa.Salle
AND
	it.Nom_de_baie = aa.Rack
AND
	it.Slot_U = CONVERT(aa.Slot_Begin, integer)
AND
	(it.Hauteur_U = CONVERT(aa.Slot_End, integer) or it.Hauteur_U = CONVERT(aa.Slot_End, integer) - CONVERT(aa.Slot_Begin, integer))

In [ ]:
UPDATE `assets_filtree` aa
INNER JOIN 
	`IT_Equipment` it 
ON 
	it.Nom_de_la_salle = aa.Salle
AND
	it.Nom_de_baie = aa.Rack
AND
	it.Slot_U = CONVERT(aa.Slot_Begin, integer)
SET aa.status = 'OK-POSITION',
	it.status = 'OK-POSITION'

WHERE aa.status is null and it.status is null

## Match sur les coordonnées inversées (en cours)

## **Exemple** :
- IT_Equipment.reperage_ID = 24J/..
- assets_filtree.Dalle = J24:..

In [ ]:
select it.asset_id asset_id_id, it.short_name, it.nom, it.status status_it, it.fabricant, it.modele, it.reperage_ID, it.nom_de_la_salle,
it.Nom_de_baie, SUBSTR(it.Nom_de_baie,length(it.Nom_de_baie),length(it.Nom_de_baie)) rp,
SUBSTR(it.Nom_de_baie,length(it.Nom_de_baie)-1,length(it.Nom_de_baie)) rp2
from `IT_Equipment` it 
INNER JOIN  `assets_filtree` aa

ON 
	it.Nom_de_la_salle = aa.Salle
AND
	(it.Nom_de_baie = aa.Rack or 
     SUBSTR(it.Nom_de_baie,length(it.Nom_de_baie),length(it.Nom_de_baie)) = aa.Rack or
     SUBSTR(it.Nom_de_baie,length(it.Nom_de_baie),length(it.Nom_de_baie)) = aa.Rack)
AND
	it.Slot_U = CONVERT(aa.Slot_Begin, integer)
AND
	(it.Hauteur_U = CONVERT(aa.Slot_End, integer) or it.Hauteur_U = CONVERT(aa.Slot_End, integer) - CONVERT(aa.Slot_Begin, integer))

WHERE aa.status is null and it.status is null

In [ ]:
select
(select it.Nom_de_baie REGEXP '%[^0-9]%') rppp,
from `IT_Equipment` it
where STATUS is null
ORDER BY reperage_id asc

## Mismatch sur les noms commencant par FRC2HP

select it.type, it.asset_id asset_id_id, it.short_name, it.nom, it.status status_it, it.fabricant, it.modele, it.reperage_ID,
it.reperage_ID, it.nom_de_la_salle,
it.Nom_de_baie
from `IT_Equipment` it
where SHORT_NAME like '%FRC2HP%' OR nom like '%FRC2HP%'
ORDER BY Reperage_ID asc

---

SELECT ASSET_ID, NOM_COURT, NOM_LONG, FABRICANT, MODEL, DALLE, SALLE, Rack, Slot_Begin, Slot_End, COMPANY
from `assets_filtree` aa
where NOM_COURT like '%FRC2HP%' and NOM_LONG like '%FRC2HP%' 
order by dalle asc