# Simulateur d'espace

Ce workflow a pour but de simuler l'espace disponible sur chacun des racks afin de permettre une projection des équipes dans le déplacement du matériel.

SELECT it.nom, it.short_name, it.long_name, it.ASSET_ID, it.Nom_de_la_salle , it.Nom_de_baie, it.Slot_U, it.type
from `IT_Equipment_v2` it

`rack_capacity_map` : cartographie les racks de toutes les salles afin de rajouter la capacité maximale d'un rack défini à 45 unités U

In [ ]:
drop view if exists rack_capacity_map ;# MySQL returned an empty result set (i.e. zero rows).
create view rack_capacity_map
as 
SELECT it.Nom_de_la_salle, it.Nom_de_baie, '45' as rack_capacity
from `IT_Equipment_v2` it
GROUP BY it.Nom_de_la_salle, it.Nom_de_baie# MySQL returned an empty result set (i.e. zero rows).

`indicator_it_equipment_simulateur_espace` : indicateur de l'espace disponible pour tous lers rack par rapport à la somme des hauteurs de chaque equipment renseigné sur la CMDB

In [ ]:
drop table if exists indicator_it_equipment_simulateur_espace_raw ;
create table indicator_it_equipment_simulateur_espace_raw
as
SELECT concat(it.Nom_de_la_salle, it.Nom_de_baie) key_id, it.Nom_de_la_salle, it.Nom_de_baie, r.rack_capacity, sum(CEILING(it.Hauteur_U)) slot_occupied, r.rack_capacity - sum(CEILING(it.Hauteur_U)) free_slot,
GROUP_CONCAT(concat(it.slot_u, '/', CEILING(it.Hauteur_U))) list_occupied_slot
from `IT_Equipment_v2` it
INNER JOIN `rack_capacity_map` r ON r.Nom_de_la_salle = it.Nom_de_la_salle and r.Nom_de_baie = it.Nom_de_baie
GROUP BY it.Nom_de_la_salle, it.Nom_de_baie
ORDER by it.Nom_de_la_salle desc , sum(CEILING(it.Hauteur_U)) desc
;

In [ ]:
alter table indicator_it_equipment_simulateur_espace_raw
ADD COLUMN occupied_item varchar(255),
ADD COLUMN free_item varchar(255);

drop view if exists indicator_it_equipment_simulateur_espace ;
create view indicator_it_equipment_simulateur_espace
as
SELECT concat(it.Nom_de_la_salle, it.Nom_de_baie) key_id, it.Nom_de_la_salle, it.Nom_de_baie, r.rack_capacity, sum(CEILING(it.Hauteur_U)) slot_occupied, r.rack_capacity - sum(CEILING(it.Hauteur_U)) free_slot
from `IT_Equipment_v2` it
INNER JOIN `rack_capacity_map` r ON r.Nom_de_la_salle = it.Nom_de_la_salle and r.Nom_de_baie = it.Nom_de_baie
GROUP BY it.Nom_de_la_salle, it.Nom_de_baie
ORDER by it.Nom_de_la_salle desc , sum(CEILING(it.Hauteur_U)) desc
;

class indicator_simulateur_espace(models.Model):   
    id = models.BigAutoField(primary_key=True)
    Nom_de_la_salle = models.AutoField()  # Field name made lowercase.
    Nom_de_baie = models.CharField(max_length=255)
    rack_capacity = models.CharField(max_length=255)
    slot_occupied = models.CharField(max_length=255)
    free_slot = models.CharField(max_length=255)
    class Meta:
        managed = False
        db_table = "indicator_it_equipment_simulateur_espace"

SELECT it.nom, it.short_name, it.long_name, it.ASSET_ID, it.Nom_de_la_salle , it.Nom_de_baie, it.Slot_U, it.type, it.Hauteur_U, 
it.Slot_U + it.Hauteur_U tt,
concat()

from `IT_Equipment_v2` it
-- where Nom_de_la_salle = 'P4' and Nom_de_baie = 'AE17'
where Nom_de_la_salle = 'P1' and Nom_de_baie = 'A26'

CREATE TABLE `indicator_it_equipment_simulateur_espace` (
  `key_id` varchar(255) ,
  `Nom_de_la_salle` varchar(255) DEFAULT NULL,
  `Nom_de_baie` varchar(255) DEFAULT NULL,
  `rack_capacity` varchar(100) NOT NULL,
  `slot_occupied` varchar(100) NOT NULL,
  `free_slot`varchar(255) NOT NULL,
  `occupied_item` varchar(100) NOT NULL,
  `free_item` varchar(100) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

;;;;;;;;;;;;Mig_Month;Mig_Day;Mig_Slot;Mig_DAY Confirmed ?;Mig_Day comment;NonProd IP to change ?;Non Prod IP change Date;Non Prod IP change_Time;SNOW CR;SNOW CR Validation ;SNOW CR Criticity;Mig_ACN_Status;Mig_App_DIRx_Status;Mig tests Comment;PTC. Comment;DRP/vmotion C2-C3 test (for CX ONLY);CMDB/ORT_Status;Unmount RHCS cluster;Link to IRN Donnee-A;IRN Donnee-A Action;Illumio_Status;Mig Week;PCP TECH Vlan;PCP TECH IP (BKP);PCP TECH Gateway;PCP ILO Vlan;PCP ILO IP (or Raritan);PCP ILO Gateway;Domain name update (P2P);Wallix access creation   (P2P);Column2;Illumio Tag - Location;Illumio Tag - Application;Illumio Tag - Environment;Illumio Tag - Role;Mig_Event PTC1 slot morning;"Mig_Event PTC 1
slot evening";PTC preparation;App start/stop;Access to Server;IP_Change_Status;PCP new_VLAN ID (optional);PCP new_Oper_IP reserved (optional);PCP new_Gateway (optional);PtoP type;vlookup;Column1;






N












CREATE TABLE `IT_Equipment` (
 ASSET_ID` varchar(100)  NULL,
 `SHORT_NAME` varchar(100)  NULL,
 `LONG_NAME` varchar(100)  NULL,
 `MANUFACTURER` varchar(100)  NULL,
 `MODEL` varchar(100)  NULL,
 `ENVIRONMENT` varchar(100)  NULL,
 `CONTAINER` varchar(100)  NULL,
 `COMPANY` varchar(100)  NULL,
 `SERVICE` varchar(100)  NULL,
 `STATE` varchar(100)  NULL,
 `LAST_SCAN` varchar(100)  NULL,
 `ILO_IP` varchar(100)  NULL,
 `CPUs` varchar(100)  NULL,
 `cores` varchar(100)  NULL,
 `threads` varchar(100)  NULL,
 `RAM GB` varchar(100)  NULL,
 `TOTAL_DISK GB` varchar(100)  NULL,
 `OS_NAME` varchar(100)  NULL,
 `OS_VERSION` varchar(100)  NULL,
 `INSTALL_DATE` varchar(100)  NULL,
 `OS_Version_Simplified` varchar(100)  NULL,
 `API` varchar(100)  NULL,
 `ROOM` varchar(100)  NULL,
 `DALLE` varchar(100)  NULL,
 `RACK_ID` varchar(100)  NULL,
 `Size (U);` varchar(100)  NULL,
 `NETWORK_NAME` varchar(100)  NULL,
 `NETWORK_ADDRESS` varchar(100)  NULL,
 `SUBTYPE` varchar(100)  NULL,
 `DOMAIN` varchar(100)  NULL,
 `ENV2` varchar(100)  NULL,
 `PRO_VLAN` varchar(100)  NULL,
 `VLAN` varchar(100)  NULL,
 `VLAN_ID` varchar(100)  NULL,
 `PR_SCOPE` varchar(100)  NULL,
 `PR_LOT` varchar(100)  NULL,
 `LOT_Level2` varchar(100)  NULL,
 `Server Role` varchar(100)  NULL,
 `SAN_Array` varchar(100)  NULL,
 `Subnet` varchar(100)  NULL,
 `IRN` varchar(100)  NULL,
 `Appli Short Name` varchar(100)  NULL,
 `APP_DEP` varchar(100)  NULL,
 `APP_SIA` varchar(100)  NULL,
 `PHY_RESP` varchar(100)  NULL,
 `APP_RESP` varchar(100)  NULL,
 `CI_TYPE_SOURCE` varchar(100)  NULL,
 `PHY_CI_IMPACTED` varchar(100)  NULL,
 `CI_MOVE_TYPE` varchar(100)  NULL,
 `CI_TYPE_TARGET` varchar(100)  NULL,
 `ROOM_TARGET` varchar(100)  NULL,
 `END_MOVE_TARGET` varchar(100)  NULL,
 `Target Rack ACN` varchar(100)  NULL,
 `Target Rack RN` varchar(100)  NULL,
 `Target Rack_Type` varchar(100)  NULL,
 `Target Chassis Type` varchar(100)  NULL,
 `Target Chassis Position` varchar(100)  NULL,
 `Not to decommission` varchar(100)  NULL,
 `DECOM Follow-Up` varchar(100)  NULL,
 `Comment` varchar(100)  NULL,
 `Mig_VRF` varchar(100)  NULL,
 `Mig_Cluster` varchar(100)  NULL,
 `Mig_Cluster_Name` varchar(100)  NULL,
 `Illumio Compatibility` varchar(100)  NULL 
) ENGINE=InnoDB DEFAULT CHARSET=utf8