# TIPS

CONVERT(Slot_begin, integer)

# Creation / Alteration de table

CREATE TABLE assets_filtree
as
select *
from `assets_new` 
WHERE ETAT = 'Installed' and (API = 'FRVLB0C2' or API = 'FRTCRAVA')

table avec les matchs assets ( 1867 ) 

CREATE TABLE assets_match 
as
select *
FROM assets_filtree
where STATUS is not null

In [ ]:
create table IT_Equipment_match
as
select *
from `IT_Equipment`
where STATUS is not null

Ajout des colonnes pour les coordonnees d'equipements
ALTER TABLE assets_filtree
ADD COLUMN Rack varchar(255),
ADD COLUMN Slot varchar(255),
ADD COLUMN Slot_begin varchar(255),
ADD COLUMN Slot_end varchar(255);

# Query

Check si y a des noms courts qui correspondent entre eux

SELECT * 
from `assets_filtree` aa
INNER JOIN `IT_Equipment` it ON aa.nom_court = it.short_name

In [ ]:
Asset_id équivalent mais nom différents ( on y rajoute un status different)

select aa.asset_id, it.asset_id asset_id_id, aa.nom_court, it.short_name
from `assets_filtree` aa
INNER JOIN `IT_Equipment` it on aa.asset_id = it.asset_id
where STATUS is null

### SERVER TYPE

Retire les 3 derniers caractères des nom de serveurs (43 matchs)
select aa.asset_id, it.asset_id asset_id_id, aa.nom_court, it.short_name
from `assets_filtree` aa
INNER JOIN `IT_Equipment` it on LEFT(aa.nom_court, length(aa.nom_court) - 3) = it.short_name
where it.type = 'Serveurs'

In [ ]:
select aa.asset_id, it.asset_id asset_id_id, aa.nom_court, it.short_name, aa.status, it.status status_it
from `IT_Equipment` it
INNER JOIN `assets_filtree` aa on LEFT(aa.nom_court, length(aa.nom_court) - 3) = it.short_name

### Match sur les coordonnees

In [ ]:
SELECT it.Nom_de_la_salle, it.Nom_de_baie, it.Slot_U, it.Reperage_ID, it.Hauteur_U 
FROM `IT_Equipment` it
where it.Nom_de_baie = 'S08'

DALLE, Rack , Slot, Slot_begin, Slot_end, Salle

SELECT DALLE,
	   SUBSTRING_INDEX(DALLE, '/', 1) Rack ,
       SUBSTRING_INDEX(DALLE, '/', -1) Slot,
       SUBSTRING_INDEX(SUBSTRING_INDEX(DALLE, '/', -1), '-', 1) Slot_begin,
       SUBSTRING_INDEX(DALLE, '-', -1) Slot_end

FROM `assets_filtree`

Query des positions en salle pour assets
SELECT Rack,
Slot,
Slot_begin,
Slot_end,
SALLE
from `assets_filtree`

(453 total, Query took 9.1079 seconds.)
SELECT *
FROM `assets_filtree` aa
INNER JOIN 
	`IT_Equipment` it 
ON 
	it.Nom_de_la_salle = aa.Salle
AND
	it.Nom_de_baie = aa.Rack
AND
	it.Slot_U = aa.Slot_Begin
AND
	it.Hauteur_U = aa.Slot_End

In [ ]:
SELECT aa.YPE, aa.SUBTYPE, aa.ASSET_ID, it.asset_id asset_id_it, aa.NOM_COURT, it.short_name, aa.NOM_LONG, it.nom, aa.CRITICITE, aa.FABRICANT, it.fabricant fabricant_it, aa.MODEL, it.modele modele_it,
aa.Salle, it.Nom_de_la_salle, aa.Rack, it.Nom_de_baie, aa.Slot_begin, it.Slot_U, aa.Slot_end , it.Hauteur_U

FROM `assets_filtree` aa
INNER JOIN 
	`IT_Equipment` it 
ON 
	it.Nom_de_la_salle = aa.Salle
AND
	it.Nom_de_baie = aa.Rack
AND
	it.Slot_U = CONVERT(aa.Slot_Begin, integer)
AND
	it.Hauteur_U = CONVERT(aa.Slot_End, integer)

WHERE aa.status = 'OK-POSITION' and it.status = 'OK-POSITION'

# Update

1818 rows affected. (Query took 94.4469 seconds.) - 

UPDATE `assets_filtree` aa
INNER JOIN `IT_Equipment` it ON aa.nom_court = it.short_name
SET aa.status = 'OK-CMDB-ASSET-ID'

10 rows affected. (Query took 94.6242 seconds.)
UPDATE `assets_filtree` aa
INNER JOIN `IT_Equipment` it on aa.asset_id = it.asset_id
set aa.status = 'ASSET_ID OK / SHORT_NAME MISMATCH' 
where STATUS is null

In [ ]:
39 rows affected. (Query took 65.3069 seconds.) -  
UPDATE `assets_filtree` aa
INNER JOIN `IT_Equipment` it on LEFT(aa.nom_court, length(aa.nom_court) - 3) = it.short_name
SET aa.status = it.asset_id -- on remplace par l'asset id de la table Equipements
where it.type = 'Serveurs' and STATUS IS NULL

In [1]:
1818 + 10 + 39

1867

In [ ]:

UPDATE `IT_Equipment` it
INNER JOIN `assets_filtree` aa ON aa.nom_court = it.short_name
SET it.status = 'OK-CMDB-ASSET-ID'

UPDATE `IT_Equipment` it
INNER JOIN `assets_filtree` aa on aa.asset_id = it.asset_id
set it.status = 'ASSET_ID OK / SHORT_NAME MISMATCH' 
where STATUS is null

UPDATE `IT_Equipment` it
INNER JOIN `assets_filtree` aa on LEFT(aa.nom_court, length(aa.nom_court) - 3) = it.short_name
SET it.status = aa.asset_id -- on remplace par l'asset id de la table assets
where it.type = 'Serveurs' and it.STATUS IS NULL

In [ ]:
Distinction entre les equipements physique ou non

UPDATE `assets_filtree` assets
SET assets.emplacement = 'Physical'
WHERE ( assets.`API` = 'FRVLB0C2' OR 
    assets.`API` = 'FRTCRGRA' OR
    assets.`API` = 'FRTCRAVA' OR
    assets.`API` = 'FREQXPA4' OR
    assets.`API` = 'FREQXPA6' ) 
    AND ( assets.`CONTAINER` LIKE '%host' OR
    assets.`CONTAINER` = 'Appliance' OR
    assets.`CONTAINER` = 'OVM vm host' OR
    assets.`CONTAINER` = 'HP npar' OR
    assets.`CONTAINER` = 'IBM lpar' OR
    assets.`CONTAINER` = 'IBM non-X86' OR
    assets.`CONTAINER` = 'Part. logique' OR
    assets.`CONTAINER` = 'Physique' OR
    assets.`CONTAINER` = 'Standalone' OR
    assets.`CONTAINER` = 'standalone' OR
    assets.`CONTAINER` = 'SUN domain' OR
    assets.`CONTAINER` = 'SUN global zone' )
    AND assets.`ETAT` = 'Installed'
    AND ( assets.`SUBTYPE` = 'Server' OR
    assets.`SUBTYPE` = 'Appliance' )

Ajout des colonnes des coordonnees en salle
UPDATE assets_filtree
SET 
	Rack = SUBSTRING_INDEX(DALLE, '/', 1)  ,
	Slot = SUBSTRING_INDEX(DALLE, '/', -1) ,
	Slot_begin = SUBSTRING_INDEX(SUBSTRING_INDEX(DALLE, '/', -1), '-', 1) ,
	Slot_end = SUBSTRING_INDEX(DALLE, '-', -1)

In [ ]:
77 rows affected. (Query took 55.4266 seconds.)
UPDATE `assets_filtree` aa
INNER JOIN 
	`IT_Equipment` it 
ON 
	it.Nom_de_la_salle = aa.Salle
AND
	it.Nom_de_baie = aa.Rack
AND
	it.Slot_U = CONVERT(aa.Slot_Begin, integer)
AND
	it.Hauteur_U = CONVERT(aa.Slot_End, integer)

SET aa.status = 'OK-POSITION'
	it.status = 'OK-POSITION'

WHERE aa.status is null and it.status is null