# TIPS

In [ ]:
CONVERT(Slot_begin, integer)

In [ ]:
( assets.`CONTAINER` LIKE '%uest' OR
   assets.`CONTAINER` = 'SUN zone' OR
   assets.`CONTAINER` = 'HP vpar' )

# Creation / Alteration de table

In [ ]:
CREATE TABLE assets_filtree_stockage_réseau
AS 
SELECT *
FROM `assets_filtree`
WHERE YPE IN ('networkcomponents','storage')

In [ ]:
Ajout des colonnes pour les coordonnees d'equipements
ALTER TABLE assets_filtree
ADD COLUMN STATUS varchar(255),
ADD COLUMN emplacement varchar(255),
ADD COLUMN Rack varchar(255),
ADD COLUMN Slot varchar(255),
ADD COLUMN Slot_begin varchar(255),
ADD COLUMN Slot_end varchar(255);

# VIEW

System 2-en-1 avec chassis + server. Y aura 2 objects differents alors que c'est la meme chose, on va donc s'assurer que le match se fait sur le chassis plutot que sur le server + on rattache tous les serveurs à au bon chassis

In [ ]:
CREATE VIEW it_built_system_storage_analytics
as
SELECT nom_de_baie,
       nom_de_la_salle,
       status,
       asset_id,
       nom, 
        Modele,
        fabricant,
        Reperage_ID
FROM   `IT_Equipment` it
WHERE  status IS NOT NULL
GROUP  BY nom_de_baie,
          nom_de_la_salle
ORDER  BY nom_de_baie DESC

Similaire à celle d'avant mais permet de classer tous les équipements par rack si un chassis est trouvé

In [ ]:
CREATE VIEW it_built_system_storage_analytics_by_rack
AS 
SELECT it.nom_de_baie,
       it.nom_de_la_salle,
       it.status,
       it.asset_id,
       it.nom, 
       it.Modele,
       it.reperage_ID,
       it.fabricant,
       it2.reperage_ID reperage_ID_chassis,
       it2.nom nom_chassis, 
       it2.Modele Modele_chassis,
       it2.fabricant fabricant_chassis
FROM   `IT_Equipment` it
LEFT JOIN `it_built_system_storage_analytics` it2 ON it2.nom_de_baie = it.nom_de_baie and it2.nom_de_la_salle = it.nom_de_la_salle
ORDER  BY nom_de_baie DESC

## Exadata

In [ ]:
CREATE VIEW it_build_system_EXADATA
as
SELECT nom_de_baie,
       nom_de_la_salle,
       status,
       asset_id,
       nom, 
        Modele,
        fabricant,
        Reperage_ID
FROM   `IT_Equipment` it
where it.fabricant like '%oracle%'

### NAS ( Netapp)

On regroupe tous les types NAS avec un asset_id pour faire correspondre les extensions aà l'equipment principal

In [ ]:
CREATE VIEW it_built_system_NAS
AS
SELECT nom_de_baie,
       nom_de_la_salle,
       status,
       asset_id,
       nom, 
        Modele,
        fabricant,
        Reperage_ID
FROM   `IT_Equipment` it
WHERE  status IS NOT NULL and (it.fabricant like 'netapp%' or it.fabricant like 'ATTO%' or it.fabricant like 'Brocade%' ) and ASSET_ID != '0'
ORDER  BY nom_de_baie DESC

# Hitachi

In [ ]:
CREATE VIEW it_build_system_NAS_Hitachi 
as
SELECT nom_de_baie,
       nom_de_la_salle,
       status,
       asset_id,
       nom, 
        Modele,
        fabricant,
        Reperage_ID
FROM   `IT_Equipment` it
where it.fabricant like '%Hitachi%'
ORDER BY Nom_de_baie DESC, Nom_de_la_salle

## HPC

In [ ]:
CREATE VIEW it_build_system_HPC
as
SELECT nom_de_baie,
       nom_de_la_salle,
       status,
       asset_id,
       nom, 
        Modele,
        fabricant,
        Reperage_ID,
        (LEFT(Nom,6)) ROOT_FERME
FROM   `IT_Equipment` it
where it.nom like '%HPC%' or it.long_name like '%HPC%'
ORDER BY Nom_de_baie DESC, Nom_de_la_salle

In [ ]:
CREATE VIEW it_build_system_HPC
as
SELECT it.nom_de_baie,
       it.nom_de_la_salle,
       it.status,
       it.asset_id,
       it.nom, 
       (LEFT(it.Nom,6)) ROOT_FERME, 
        it.Modele,
        it.fabricant,
        it.Reperage_ID
       
FROM   `IT_Equipment` it
WHERE it.nom like '%HPC%' 
OR it.long_name like '%HPC%' 
AND it.status = 
			(CASE WHEN it.status in ('OK-CMDB-ASSET-ID','ASSET_ID OK / SHORT_NAME MISMATCH') then it.status
             ELSE it.status
             END)
GROUP BY ROOT_FERME
ORDER BY it.Nom_de_baie DESC, it.Nom_de_la_salle

## HANA

In [ ]:
CREATE VIEW it_build_system_HANA
as
SELECT it.nom_de_baie,
       it.nom_de_la_salle,
       it.status,
       it.asset_id,
       it.nom, 
        it.Modele,
        it.fabricant,
        it.Reperage_ID,
        (CASE WHEN it.status in ('OK-CMDB-ASSET-ID','ASSET_ID OK / SHORT_NAME MISMATCH') then it.status
             ELSE it.status
             END) agg
       
FROM   `IT_Equipment` it
WHERE (it.nom_de_baie like '%hana%' 
OR it.nom like '%hana%') and (it.status is not null or it.asset_id != '0')	
GROUP BY nom_de_baie, nom_de_la_salle
ORDER BY it.Nom_de_baie DESC, it.Nom_de_la_salle

## RING


Scality : systeme type "RING"

- Si le "Nom" contient "NA9TCR" attribuer sur la colonne "status" le nom "RING NA9TCR : M-0000655049"

- pour tout élément hors ( "status" = "OK-CMDB-ASSET-ID" OU "status" = "ASSET_ID OK / SHORT_NAME MISMATCH")

In [ ]:
CREATE VIEW it_build_system_RING
as
SELECT it.nom_de_baie,
       it.nom_de_la_salle,
       it.status,
       it.asset_id,
       it.nom, 
        it.Modele,
        it.fabricant,
        it.Reperage_ID,
        (CASE WHEN it.status in ('OK-CMDB-ASSET-ID','ASSET_ID OK / SHORT_NAME MISMATCH') then it.status
             ELSE it.status
             END) agg
       
       
FROM   `IT_Equipment` it
WHERE (it.short_name like '%NA9TCR%' 
OR it.nom like '%NA9TCR%') and (it.status is not null or it.asset_id != '0')	
GROUP BY nom_de_baie, nom_de_la_salle
ORDER BY it.Nom_de_baie DESC, it.Nom_de_la_salle

## equipments avec l'extension _OLD/-OLD dans la CMDB mais pas dans IT_Equipment

In [ ]:
CREATE VIEW IT_Equipment_OLD
AS
SELECT it.nom_de_baie,
		aa.nom_court,
        it.short_name,
        aa.nom_long,
        it.nom,
        long_name,
       it.nom_de_la_salle,
       it.status,
       REPLACE(REPLACE(aa.nom_court,'_OLD',''),'-OLD','') new_nom_court,
		REPLACE(REPLACE(aa.nom_long,'_OLD',''),'-OLD','') new_nom_long
        

from `IT_Equipment` it
LEFT JOIN `assets_new` aa
ON REPLACE(REPLACE(aa.nom_court,'_OLD',''),'-OLD','')  = it.nom 
OR REPLACE(REPLACE(aa.nom_long,'_OLD',''),'-OLD','')  = it.nom 
OR REPLACE(REPLACE(aa.nom_court,'_OLD',''),'-OLD','')  = it.short_name 
OR REPLACE(REPLACE(aa.nom_long,'_OLD',''),'-OLD','')  = it.short_name

where aa.nom_court like '%_OLD' or aa.nom_long like '%_OLD' or aa.nom_court like '%-OLD' or aa.nom_long like '%-OLD'

## Equipement avec tiret différent

In [ ]:
CREATE VIEW IT_Equipments_missing_char
AS
SELECT it.nom_de_baie,
		aa.nom_court aa_nom_court,
        it.short_name it_short_name,
        it.nom it_nom,
        aa.NOM_LONG aa_NOM_LONG,
       it.nom_de_la_salle,
       it.status,
       REPLACE(REPLACE(aa.nom_court,'_',''),'-','') aa_new_nom_court,
		REPLACE(REPLACE(aa.nom_long,'_',''),'-','') aa_new_nom_long,
        UPPER(REPLACE(REPLACE(it.nom,'_',''),'-','')) it_new_nom,
        UPPER(REPLACE(REPLACE(it.short_name,'_',''),'-','')) it_new_short_name

from `IT_Equipment` it
LEFT JOIN `assets_filtree` aa
ON UPPER(REPLACE(REPLACE(aa.nom_court,'_',''),'-',''))  =  UPPER(REPLACE(REPLACE(it.nom,'_',''),'-',''))
OR UPPER(REPLACE(REPLACE(aa.nom_long,'_',''),'-',''))  =  UPPER(REPLACE(REPLACE(it.nom,'_',''),'-',''))
OR UPPER(REPLACE(REPLACE(aa.nom_court,'_',''),'-',''))  =  UPPER(REPLACE(REPLACE(it.short_name,'_',''),'-',''))
OR UPPER(REPLACE(REPLACE(aa.nom_long,'_',''),'-',''))  =  UPPER(REPLACE(REPLACE(it.short_name,'_',''),'-','')) 
 
WHERE it.status = 'MISMATCH_TIRET' and ( aa.nom_court is not null or aa.nom_long is not null)
ORDER BY it.Nom_de_baie DESC, it.Nom_de_la_salle

## FEX

In [ ]:
CREATE VIEW IT_Equipment_FEX
as
select it.asset_id asset_id_id, it.short_name, it.nom, it.status status_it, it.fabricant, it.modele, it.reperage_ID,
(LEFT(it.Nom,8)) ROOT_FEX
from `IT_Equipment` it
where Fabricant	 like '%cisco%' and ( it.nom = (LEFT(it.Nom,8)) )
ORDER BY Reperage_ID asc

# Hitachi

In [ ]:
CREATE VIEW it_build_system_NAS_Hitachi 
as
SELECT nom_de_baie,
       nom_de_la_salle,
       status,
       asset_id,
       nom, 
        Modele,
        fabricant,
        Reperage_ID
FROM   `IT_Equipment` it
where it.fabricant like '%Hitachi%'
ORDER BY Nom_de_baie DESC, Nom_de_la_salle

### Sur Asset.Filtree, prendre la liste de "Fabricant" = "HDS", prendre les 5 lettres près "-" ou "_", pur croiser avec "IT_Equipement" = "Hitachi" en cherchant avec les 5 lettres

In [ ]:
CREATE VIEW IT_Equipment_cleaning_Hitachi
as
SELECT it.nom_de_baie,
        it.short_name it_short_name,
        it.nom it_nom,
       it.nom_de_la_salle,
       it.status,
       (CASE WHEN LOCATE(':',it.nom) > 0 then 
       UPPER(REPLACE(REPLACE(LEFT(it.nom, LOCATE(':',it.nom)-1),'_','-'),'-',''))
       else it.nom
       END) clean_name

from `IT_Equipment` it 
WHERE Fabricant like '%Hitachi%'
ORDER BY it.Nom_de_baie DESC, it.Nom_de_la_salle

Jointure pour vour que c'est bien le bordel sur les syst Hitachi

In [ ]:
create view IT_Equipment_cleaning_Hitachi_join
as
select hit.*, aa.nom_court, aa.asset_id from `IT_Equipment_cleaning_Hitachi` hit
left join `assets_filtree` aa on UPPER(REPLACE(REPLACE(aa.nom_court,'_',''),'-','')) = hit.clean_name
ORDER BY it_nom
limit 500

Query de l'update qui est un peu complique

In [ ]:
SELECT it.nom_de_baie,
        it.short_name it_short_name,
        it.nom it_nom,
       it.nom_de_la_salle,
       it.status,
       hit.clean_name,
       aa.asset_id
from `IT_Equipment` it 
INNER JOIN `IT_Equipment_cleaning_Hitachi` hit on hit.it_nom = it.nom
LEFT JOIN `assets_filtree` aa on UPPER(REPLACE(REPLACE(aa.nom_court,'_',''),'-','')) = hit.clean_name
WHERE it.Fabricant like '%Hitachi%'
GROUP BY it.nom
ORDER BY it.Nom_de_baie DESC, it.Nom_de_la_salle

# Hitachi

In [ ]:
CREATE VIEW it_build_system_NAS_Hitachi 
as
SELECT nom_de_baie,
       nom_de_la_salle,
       status,
       asset_id,
       nom, 
        Modele,
        fabricant,
        Reperage_ID
FROM   `IT_Equipment` it
where it.fabricant like '%Hitachi%'
ORDER BY Nom_de_baie DESC, Nom_de_la_salle

# Compteur

In [ ]:
SELECT count(*) count, TYPE
from `IT_Equipment`
where STATUS is null
GROUP BY TYPE

In [ ]:
SELECT count(*) count, YPE
from `assets_filtree_stockage_réseau`
where STATUS is null
GROUP BY YPE

In [ ]:
select COUNT(STATUS), status
from `assets_filtree`
GROUP BY STATUS
ORDER BY COUNT(STATUS) desc

In [ ]:
select COUNT(STATUS), status
from `IT_Equipment`
GROUP BY STATUS
ORDER BY COUNT(STATUS) desc

In [ ]:
select count(*)
from `IT_Equipment`
where status is null

# Query

## Query de base

In [ ]:
SELECT it.asset_id asset_id_id,
       it.short_name,
       it.nom,
       it.status   status_it,
       it.fabricant,
       it.modele,
       it.reperage_id,
       nom_de_la_salle,
       nom_de_baie,
       slot_u,
       hauteur_u
FROM   `IT_Equipment` it

In [ ]:
SELECT aa.ASSET_ID ASSET_ID_aa, aa.NOM_COURT NOM_COURT_aa, aa.NOM_LONG NOM_LONG_aa, aa.FABRICANT FABRICANT_aa, aa.MODEL MODEL_aa, aa.DALLE DALLE_aa, aa.SALLE SALLE_aa, aa.Rack Rack_aa, aa.Slot_Begin Slot_Begin_aa, aa.Slot_End Slot_End_aa
from `assets_filtree` aa

## Match sur les coordonnées

### Coordonnees par position de rack/baie

In [ ]:
SELECT ASSET_ID, NOM_COURT, NOM_LONG, FABRICANT, MODEL, DALLE, SALLE, Rack, Slot_Begin, Slot_End
from `assets_filtree` aa
where dalle like '%L15%'
order by dalle asc

In [ ]:
SELECT it.asset_id asset_id_id,
       it.short_name,
       it.nom,
       it.status   status_it,
       it.fabricant,
       it.modele,
       it.reperage_id,
       nom_de_la_salle,
       nom_de_baie,
       slot_u,
       hauteur_u
FROM   `it_equipment` it 
where Reperage_ID like 'L15:%'
order by Reperage_ID asc

## Match sur les coordonnées inversées

In [ ]:
select it.asset_id asset_id_id, it.short_name, it.nom, it.status status_it, it.fabricant, it.modele, it.reperage_ID, it.nom_de_la_salle,
it.Nom_de_baie, SUBSTR(it.Nom_de_baie,length(it.Nom_de_baie),length(it.Nom_de_baie)) rp,
SUBSTR(it.Nom_de_baie,length(it.Nom_de_baie)-1,length(it.Nom_de_baie)) rp2
from `IT_Equipment` it
where STATUS is null
ORDER BY nom asc

----
SELECT ASSET_ID, NOM_COURT, NOM_LONG, FABRICANT, MODEL, DALLE, SALLE, Rack, Slot_Begin, Slot_End
from `assets_filtree` aa
where NOM_COURT like '%ch12%' or NOM_LONG like '%ch12%'
order by dalle asc

## Match sur les extensions : Fex / Netapp, Netapps

### Fex

In [ ]:
select it.asset_id asset_id_id, it.short_name, it.nom, it.status status_it, it.fabricant, it.modele, it.reperage_ID, Nom_de_la_salle, Nom_de_baie, Slot_U, Hauteur_U
from `IT_Equipment` it
where SHORT_NAME like '%SWC3PC27%' or nom like '%SWC3PC27%'

---

SELECT ASSET_ID, NOM_COURT, NOM_LONG, FABRICANT, MODEL, DALLE, SALLE, Rack, Slot_Begin, Slot_End
from `assets_filtree` aa
where NOM_COURT like '%SWC3PC27%' or NOM_LONG like '%SWC3PC27%'
order by dalle asc

In [ ]:
SELECT it.nom_de_baie,
       it.nom_de_la_salle,
       it.status,
       fex.status_it,
       it.asset_id,
       it.nom,
       fex.root_fex,
        it.Modele,
        fex.Reperage_ID fex_reperage_id,
        it.Reperage_ID
       
       
FROM   `IT_Equipment` it
LEFT JOIN `IT_Equipment_FEX` fex on fex.root_fex = (LEFT(it.Nom,8)) and it.Nom != fex.root_fex
    
where it.Fabricant like '%cisco%' fex.root_fex is not null
ORDER BY nom asc

## Match sur les Exadata

#### Aucun equipements ne possède d'asset ID pour changer le status..

In [ ]:
SELECT nom_de_baie,
       nom_de_la_salle,
       status,
       asset_id,
       nom, 
        Modele,
        fabricant,
        Reperage_ID
FROM   `IT_Equipment` it
where it.fabricant like '%oracle%'

## Match : Hitachi

In [ ]:
SELECT nom_de_baie,
       nom_de_la_salle,
       status,
       asset_id,
       nom, 
        Modele,
        fabricant,
        Reperage_ID
FROM   `IT_Equipment` it
where it.fabricant like '%Hitachi%'
ORDER BY Nom_de_baie DESC, Nom_de_la_salle

## HPC

In [ ]:
SELECT nom_de_baie,
       nom_de_la_salle,
       status,
       asset_id,
       nom, 
        Modele,
        fabricant,
        Reperage_ID,
        (LEFT(Nom,6)) ROOT_FERME
FROM   `IT_Equipment` it
where it.nom like '%HPC%' or it.long_name like '%HPC%'
ORDER BY Nom_de_baie DESC, Nom_de_la_salle

In [ ]:
-- Visualisation de tous les equipment par rapport à leur nom commun
select it.asset_id asset_id_id, it.short_name, it.nom, (LEFT(it.Nom,6)) ROOT_FERME, it.status status_it, it.fabricant, it.modele, it.reperage_ID, Nom_de_la_salle, Nom_de_baie, Slot_U, Hauteur_U
from `IT_Equipment` it
where (LEFT(it.Nom,6)) like 'HPC1D3'
order by ROOT_FERME asc

In [ ]:
--- Maj par nom commun 
SELECT it.nom_de_baie,
       it.nom_de_la_salle,
       it.status,
       it.asset_id,
       it.nom, 
       (LEFT(it.Nom,6)) ROOT_FERME, hpc.root_ferme,
        it.Modele,
        it.fabricant,
        it.Reperage_ID,
       (CASE WHEN it.status not in ('OK-CMDB-ASSET-ID','ASSET_ID OK / SHORT_NAME MISMATCH') THEN Concat('HPC : ', hpc.root_ferme)
        WHEN it.status is null then Concat('HPC : ', hpc.root_ferme)
        WHEN it.status in ('OK-CMDB-ASSET-ID','ASSET_ID OK / SHORT_NAME MISMATCH') THEN it.status
        END ) new_status
        
FROM   `IT_Equipment` it
LEFT JOIN `it_build_system_HPC` hpc on (LEFT(it.Nom,6)) = hpc.root_ferme
WHERE it.nom like '%HPC%' 
OR it.long_name like '%HPC%'

## HANA

## RING

In [ ]:
SELECT it.nom_de_baie,
       it.nom_de_la_salle,
       it.status,
       it.asset_id,
       it.nom, 
        it.Modele,
        it.fabricant,
        it.Reperage_ID,
        agg
       
       
FROM   `IT_Equipment` it
LEFT JOIN `it_build_system_RING` rin 
ON        rin.nom_de_baie = it.nom_de_baie 
AND       rin.nom_de_la_salle = it.nom_de_la_salle
AND		  rin.fabricant = it.fabricant
    
WHERE (it.short_name like '%NA9TCR%' 
OR it.nom like '%NA9TCR%')
ORDER BY it.Nom_de_baie DESC, it.Nom_de_la_salle

# /!\ difference de caracteres dans la CMDB et IT_equipments : '- _'

In [ ]:
SELECT it.nom_de_baie,
       it.nom_de_la_salle,
       it.status,
       it.asset_id,
       it.nom, 
        it.Modele,
        it.fabricant,
        it.Reperage_ID,
        agg
FROM   `IT_Equipment` it
LEFT JOIN `it_build_system_RING` rin 
ON        rin.nom_de_baie = it.nom_de_baie 
AND       rin.nom_de_la_salle = it.nom_de_la_salle
AND		  rin.fabricant = it.fabricant
    
WHERE (it.short_name like '%NA9TCR%' 
OR it.nom like '%NA9TCR%')
ORDER BY it.Nom_de_baie DESC, it.Nom_de_la_salle

---

### Décalage dans le rack ?

In [ ]:
SELECT ASSET_ID, NOM_COURT, NOM_LONG, FABRICANT, MODEL, DALLE, SALLE, Rack, Slot_Begin, Slot_End
from `assets_filtree` aa
where NOM_COURT like '%NA9TCR-10%'
order by dalle asc

### Décalage dans le slot ?

In [ ]:
SELECT ASSET_ID, NOM_COURT, NOM_LONG, FABRICANT, MODEL, DALLE, SALLE, Rack, Slot_Begin, Slot_End
from `assets_filtree` aa
where dalle like '%K42%'
order by dalle asc

In [ ]:
SELECT it.nom_de_baie,
       it.nom_de_la_salle,
       it.status,
       it.asset_id,
       it.nom, 
        it.Modele,
        it.fabricant,
        it.Reperage_ID,
        agg
       
       
FROM   `IT_Equipment` it
LEFT JOIN `it_build_system_RING` rin 
ON        rin.nom_de_baie = it.nom_de_baie 
AND       rin.nom_de_la_salle = it.nom_de_la_salle
AND		  rin.fabricant = it.fabricant
    
WHERE (it.short_name like '%NA9TCR%' 
OR it.nom like '%NA9TCR%')
ORDER BY it.Nom_de_baie DESC, it.Nom_de_la_salle

## NetApp

In [ ]:
SELECT ASSET_ID, NOM_COURT, NOM_LONG, FABRICANT, MODEL, DALLE, SALLE, Rack, Slot_Begin, Slot_End, status
from `assets_filtree` aa
where fabricant like 'NETAPP%'
order by dalle asc

---
select it.asset_id asset_id_id, it.short_name, it.nom, it.status status_it, it.fabricant, it.modele, it.reperage_ID, Nom_de_la_salle, Nom_de_baie, Slot_U, Hauteur_U
from `IT_Equipment` it
where fabricant like 'NETAPP%'

## On regroupe tous les extensions sous le même cerveau pour que leur status corresponde au nom du cerveau

In [ ]:
SELECT nom_de_baie,
       nom_de_la_salle,
       status,
       asset_id,
       nom
FROM   `it_equipment` it
WHERE  status IS NOT NULL
GROUP  BY nom_de_baie,
          nom_de_la_salle
ORDER  BY nom_de_baie DESC

Join entre la vue qui contient les chassis et les extensions avec un status null

In [ ]:
SELECT it.nom_de_baie,
       it.nom_de_la_salle,
       it.status,
       it.asset_id,
       it.nom, 
       it.Modele,
       it2.nom, 
       it2.Modele
FROM   `IT_Equipment` it
LEFT JOIN `it_built_system_storage_analytics` it2 ON it2.nom_de_baie = it.nom_de_baie and it2.nom_de_la_salle = it.nom_de_la_salle
-- where it.status is null
ORDER  BY nom_de_baie DESC

On regroupe tous les extensions sous le même cerveau pour que leur status corresponde au nom du cerveau

In [ ]:
SELECT *,
( CASE 
 	WHEN t1.status is null and t1.fabricant_status is not null then t1.fabricant_status
    WHEN t1.status not in ('OK-CMDB-ASSET-ID','ASSET_ID OK / SHORT_NAME MISMATCH') then t1.fabricant_status
	END) new_status
    ,
( CASE 
 	WHEN t1.status is null and t1.fabricant_status is not null then Concat(t1.fabricant, ' : ', t1.asset_id_chassis)
    WHEN t1.status not in ('OK-CMDB-ASSET-ID','ASSET_ID OK / SHORT_NAME MISMATCH') then Concat(t1.fabricant, ' : ', t1.asset_id_chassis)
	END) new_new_status
FROM(
    SELECT    it.nom_de_baie,
              it.nom_de_la_salle,
              it.status,
              it.asset_id,
              it.nom,
              it.modele,
              it.reperage_id,
              it.fabricant,
              it2.reperage_id reperage_id_chassis,
              it2.nom         nom_chassis,
              it2.modele      modele_chassis,
              it2.fabricant   fabricant_chassis,
              it2.status fabricant_status,
			  it2.asset_id asset_id_chassis
    FROM      `IT_Equipment` it
    LEFT JOIN `it_built_system_NAS` it2
    ON        it2.nom_de_baie = it.nom_de_baie 
    AND       it2.nom_de_la_salle = it.nom_de_la_salle
    AND		  it2.fabricant = it.fabricant
    WHERE it.status is null and (it.fabricant like 'netapp%' or it.fabricant like 'ATTO%' or it.fabricant like 'Brocade%' )
    order by  nom_de_baie DESC
    ) t1
     WHERE it.status not in ('OK-CMDB-ASSET-ID','ASSET_ID OK / SHORT_NAME MISMATCH') and (it.fabricant like 'netapp%' or it.fabricant like 'ATTO%' or it.fabricant like 'Brocade%' )

## Proliant / C7000

  1° Si "modele" contient "Proliant" ou "C7000" et que "status" = "NULL"

    Vérifier si match de position avec le fichier ASSET ayant pour "API" = "FRVLB0C2" ou "API" = "FRTCRAVA"

    => 1/ Si il y a un match alors UPDATE "Status" = "MATCH-POSITION : Install ou Retired"

    => 2/ Si il n'y a pas de match alors UPDATE "Status" = "SANS MATCH-POSITION : CONTROL SUR SITE"

In [ ]:
-- 1/
SELECT it.asset_id asset_id_it,
	   aa.asset_id asset_id_aa,
       it.short_name,
       it.nom,
       it.status   status_it,
       it.modele,
       it.reperage_id,
       hauteur_u,
       aa.dalle
       
FROM   `IT_Equipment` it 

LEFT JOIN 
	`assets_new` aa 
ON 
	it.Nom_de_la_salle = aa.Salle
AND
	it.Nom_de_baie = aa.Rack
AND
	it.Slot_U = CONVERT(aa.Slot_Begin, integer)
    
WHERE (modele like '%Proliant%' OR modele like '%C7000%' ) 
and (API = 'FRVLB0C2' or API = 'FRTCRAVA')
and (it.status is null OR it.status ='MISMATCH_TIRET')

In [ ]:
-- 2/
SELECT it.asset_id asset_id_it,
	   aa.asset_id asset_id_aa,
       it.short_name,
       it.nom,
       it.status   status_it,
       it.modele,
       it.reperage_id,
       hauteur_u,
       aa.dalle
       
FROM   `IT_Equipment` it 

LEFT JOIN 
	`assets_new` aa 
ON 
	it.Nom_de_la_salle = aa.Salle
AND
	it.Nom_de_baie = aa.Rack
AND
	it.Slot_U = CONVERT(aa.Slot_Begin, integer)
AND
	(it.Hauteur_U = CONVERT(aa.Slot_End, integer) or it.Hauteur_U = CONVERT(aa.Slot_End, integer) - CONVERT(aa.Slot_Begin, integer))
    
WHERE (modele like '%Proliant%' OR modele like '%C7000%' ) 
-- and (API = 'FRVLB0C2' or API = 'FRTCRAVA')
and (it.status is null OR it.status ='MISMATCH_TIRET')
and aa.dalle is null

## Omniswitch

Si "modele" contient "Omniswitch"
  => UPDATE "Status" = "Omniswitch : Not in CMDB - To validate with Serge"

In [ ]:
SELECT it.asset_id asset_id_it,
	   aa.asset_id asset_id_aa,
       it.short_name,
       it.nom,
       it.status   status_it,
       it.modele,
       it.reperage_id,
       hauteur_u,
       aa.dalle
       
FROM   `IT_Equipment` it

# Update

## Match sur les coordonnees

In [ ]:
Ajout des colonnes des coordonnees en salle
UPDATE assets_filtree
SET 
	Rack = SUBSTRING_INDEX(DALLE, '/', 1)  ,
	Slot = SUBSTRING_INDEX(DALLE, '/', -1) ,
	Slot_begin = SUBSTRING_INDEX(SUBSTRING_INDEX(DALLE, '/', -1), '-', 1) ,
	Slot_end = SUBSTRING_INDEX(DALLE, '-', -1)

In [ ]:
41 rows affected. (Query took 51.4745 seconds.)
SELECT it.Nom_de_la_salle, aa.Salle,
it.Nom_de_baie Nom_de_baie_it, aa.Rack,
it.Slot_U Slot_U_it, CONVERT(aa.Slot_Begin, integer) Slot_Begin,
it.Hauteur_U Hauteur_U_it, CONVERT(aa.Slot_End, integer) Slot_End,
CONVERT(aa.Slot_End, integer) - CONVERT(aa.Slot_Begin, integer) delta_slot
FROM `assets_filtree` aa
INNER JOIN 
	`IT_Equipment` it 
ON 
	it.Nom_de_la_salle = aa.Salle
AND
	it.Nom_de_baie = aa.Rack
AND
	it.Slot_U = CONVERT(aa.Slot_Begin, integer)
AND
	(it.Hauteur_U = CONVERT(aa.Slot_End, integer) or it.Hauteur_U = CONVERT(aa.Slot_End, integer) - CONVERT(aa.Slot_Begin, integer))

In [ ]:
UPDATE `assets_filtree` aa
INNER JOIN 
	`IT_Equipment` it 
ON 
	it.Nom_de_la_salle = aa.Salle
AND
	it.Nom_de_baie = aa.Rack
AND
	it.Slot_U = CONVERT(aa.Slot_Begin, integer)
SET aa.status = 'OK-POSITION',
	it.status = 'OK-POSITION'

WHERE aa.status is null and it.status is null

## Match sur les coordonnées inversées (en cours)

## **Exemple** :
- IT_Equipment.reperage_ID = 24J/..
- assets_filtree.Dalle = J24:..

In [ ]:
select it.asset_id asset_id_id, it.short_name, it.nom, it.status status_it, it.fabricant, it.modele, it.reperage_ID, it.nom_de_la_salle,
it.Nom_de_baie, SUBSTR(it.Nom_de_baie,length(it.Nom_de_baie),length(it.Nom_de_baie)) rp,
SUBSTR(it.Nom_de_baie,length(it.Nom_de_baie)-1,length(it.Nom_de_baie)) rp2
from `IT_Equipment` it 
INNER JOIN  `assets_filtree` aa

ON 
	it.Nom_de_la_salle = aa.Salle
AND
	(it.Nom_de_baie = aa.Rack or 
     SUBSTR(it.Nom_de_baie,length(it.Nom_de_baie),length(it.Nom_de_baie)) = aa.Rack or
     SUBSTR(it.Nom_de_baie,length(it.Nom_de_baie),length(it.Nom_de_baie)) = aa.Rack)
AND
	it.Slot_U = CONVERT(aa.Slot_Begin, integer)
AND
	(it.Hauteur_U = CONVERT(aa.Slot_End, integer) or it.Hauteur_U = CONVERT(aa.Slot_End, integer) - CONVERT(aa.Slot_Begin, integer))

WHERE aa.status is null and it.status is null

In [ ]:
select
(select it.Nom_de_baie REGEXP '%[^0-9]%') rppp,
from `IT_Equipment` it
where STATUS is null
ORDER BY reperage_id asc

## On regroupe tous les extensions sous le même cerveau pour que leur status corresponde au nom du cerveau

In [ ]:
-- ~400 rows
UPDATE `IT_Equipment` it
 LEFT JOIN `it_built_system_NAS` it2
 ON        it2.nom_de_baie = it.nom_de_baie 
 AND       it2.nom_de_la_salle = it.nom_de_la_salle
 AND		  it2.fabricant = it.fabricant
 SET it.status = 
( CASE 
 	WHEN it.status is null and it2.status is not null then Concat(it.fabricant, ' : ', it2.asset_id)
    WHEN it.status not in ('OK-CMDB-ASSET-ID','ASSET_ID OK / SHORT_NAME MISMATCH') then Concat(it2.fabricant, ' : ', it2.asset_id)
	END)
  WHERE it.status not in ('OK-CMDB-ASSET-ID','ASSET_ID OK / SHORT_NAME MISMATCH') and (it.fabricant like 'netapp%' or it.fabricant like 'ATTO%' or it.fabricant like 'Brocade%' )

In [ ]:
145 ROWS
UPDATE `IT_Equipment` it
LEFT JOIN `it_build_system_HPC` hpc on (LEFT(it.Nom,6)) = hpc.root_ferme
SET it.status = 
				(CASE WHEN it.status not in ('OK-CMDB-ASSET-ID','ASSET_ID OK / SHORT_NAME MISMATCH') THEN Concat('HPC : ', hpc.root_ferme)
                WHEN it.status is null then Concat('HPC : ', hpc.root_ferme)
                WHEN it.status in ('OK-CMDB-ASSET-ID','ASSET_ID OK / SHORT_NAME MISMATCH') THEN it.status
                END )
WHERE it.nom like '%HPC%' 
OR it.long_name like '%HPC%'

In [ ]:
UPDATE `IT_Equipment` it
 LEFT JOIN `it_built_system_NAS` it2
 ON        it2.nom_de_baie = it.nom_de_baie 
 AND       it2.nom_de_la_salle = it.nom_de_la_salle
 AND		  it2.fabricant = it.fabricant
 SET it.status = 
( CASE 
 	WHEN it.status is null and it2.status is not null then Concat(it.fabricant, ' : ', it2.asset_id)
    WHEN it.status != 'OK-CMDB-ASSET-ID' OR it.status != 'ASSET_ID OK / SHORT_NAME MISMATCH'  then Concat(it2.fabricant, ' : ', it2.asset_id)
	END)
    
 WHERE it.status is null and (it.fabricant like 'netapp%' or it.fabricant like 'ATTO%' or it.fabricant like 'Brocade%' )

In [ ]:
~45 ROWS
UPDATE   `IT_Equipment` it
LEFT JOIN `it_build_system_HANA` han
 ON        han.nom_de_baie = it.nom_de_baie 
 AND       han.nom_de_la_salle = it.nom_de_la_salle
 AND		  han.fabricant = it.fabricant
 
 SET it.status = 
 				(CASE 
                 WHEN it.status is null and han.status is not null then Concat(it.fabricant, ' : ', han.asset_id)
                 WHEN it.status != 'OK-CMDB-ASSET-ID' OR it.status != 'ASSET_ID OK / SHORT_NAME MISMATCH'  then Concat(han.fabricant, ' : ', han.asset_id)
                 END)
                
WHERE (it.nom_de_baie like '%hana%' 
OR it.nom like '%hana%')

## equipments avec l'extension _OLD/-OLD dans la CMDB mais pas dans IT_Equipment

In [ ]:
69 rows
UPDATE `IT_Equipment` it
LEFT JOIN `assets_new` aa
ON REPLACE(REPLACE(aa.nom_court,'_OLD',''),'-OLD','')  = it.nom 
OR REPLACE(REPLACE(aa.nom_long,'_OLD',''),'-OLD','')  = it.nom 
OR REPLACE(REPLACE(aa.nom_court,'_OLD',''),'-OLD','')  = it.short_name 
OR REPLACE(REPLACE(aa.nom_long,'_OLD',''),'-OLD','')  = it.short_name

SET it.status = 'CMDB-OK-OLD'

where (aa.nom_court like '%_OLD' or aa.nom_long like '%_OLD' or aa.nom_court like '%-OLD' or aa.nom_long like '%-OLD') and it.status is null

## Mismatch sur les tirets

In [ ]:
-- 44 rows
UPDATE `IT_Equipment` it
INNER JOIN `assets_filtree` aa
ON UPPER(REPLACE(REPLACE(aa.nom_court,'_',''),'-',''))  =  UPPER(REPLACE(REPLACE(it.nom,'_',''),'-',''))
OR UPPER(REPLACE(REPLACE(aa.nom_long,'_',''),'-',''))  =  UPPER(REPLACE(REPLACE(it.nom,'_',''),'-',''))
OR UPPER(REPLACE(REPLACE(aa.nom_court,'_',''),'-',''))  =  UPPER(REPLACE(REPLACE(it.short_name,'_',''),'-',''))
OR UPPER(REPLACE(REPLACE(aa.nom_long,'_',''),'-',''))  =  UPPER(REPLACE(REPLACE(it.short_name,'_',''),'-','')) 

-- SET it.status = 'MISMATCH_TIRET'

WHERE it.status is null and ( aa.nom_court is not null or aa.nom_long is not null) and aa.nom_long not like 'PP11%' 
-- PP11-1 and PP111 not the same equipment

## Ajout des extensions FEX aux equipments cisco

In [ ]:
17 rows affected
UPDATE `IT_Equipment` it
LEFT JOIN `IT_Equipment_FEX` fex on fex.root_fex = (LEFT(it.Nom,8)) and it.Nom != fex.root_fex
SET it.status = Concat('FEX : ',  fex.asset_id_id)
where it.Fabricant like '%cisco%' and it.status is null and fex.root_fex is not null

## Sur Asset.Filtree, prendre la liste de "Fabricant" = "HDS", prendre les 5 lettres près "-" ou "_", pur croiser avec "IT_Equipement" = "Hitachi" en cherchant avec les 5 lettres

In [ ]:
116 rows
UPDATE `IT_Equipment` it 
INNER JOIN `IT_Equipment_cleaning_Hitachi` hit on hit.it_nom = it.nom
LEFT JOIN `assets_filtree` aa on UPPER(REPLACE(REPLACE(aa.nom_court,'_',''),'-','')) = hit.clean_name

SET it.status = (
				CASE WHEN aa.asset_id is null and it.status is null then 'Hitashi : No match'
    			WHEN aa.asset_id is not null and it.status is null then concat('HDS : ',aa.asset_id)
    			END 
    			)
                
WHERE it.Fabricant like '%Hitachi%'

## Proliant / C7000

  1° Si "modele" contient "Proliant" ou "C7000" et que "status" = "NULL"

    Vérifier si match de position avec le fichier ASSET ayant pour "API" = "FRVLB0C2" ou "API" = "FRTCRAVA"

    => 1/ Si il y a un match alors UPDATE "Status" = "MATCH-POSITION : Install ou Retired"

    => 2/ Si il n'y a pas de match alors UPDATE "Status" = "SANS MATCH-POSITION : CONTROL SUR SITE"

In [ ]:
-- 1/ 87 rows 
UPDATE `IT_Equipment` it 

LEFT JOIN 
	`assets_new` aa 
ON 
	it.Nom_de_la_salle = aa.Salle
AND
	it.Nom_de_baie = aa.Rack
AND
	it.Slot_U = CONVERT(aa.Slot_Begin, integer)

SET it.status = "MATCH-POSITION : Install ou Retired"

WHERE (modele like '%Proliant%' OR modele like '%C7000%' ) 
and (API = 'FRVLB0C2' or API = 'FRTCRAVA')
and (it.status is null OR it.status ='MISMATCH_TIRET')

In [ ]:
-- 2/ 215 rows
UPDATE `IT_Equipment` it 

LEFT JOIN 
	`assets_new` aa 
ON 
	it.Nom_de_la_salle = aa.Salle
AND
	it.Nom_de_baie = aa.Rack
AND
	it.Slot_U = CONVERT(aa.Slot_Begin, integer)
AND
	(it.Hauteur_U = CONVERT(aa.Slot_End, integer) or it.Hauteur_U = CONVERT(aa.Slot_End, integer) - CONVERT(aa.Slot_Begin, integer))

SET it.status = "SANS MATCH-POSITION : CONTROL SUR SITE"

WHERE (modele like '%Proliant%' OR modele like '%C7000%' ) 
-- and (API = 'FRVLB0C2' or API = 'FRTCRAVA')
and (it.status is null OR it.status ='MISMATCH_TIRET')
and aa.dalle is null

## Omniswitch

Si "modele" contient "Omniswitch"
  => UPDATE "Status" = "Omniswitch : Not in CMDB - To validate with Serge"

In [ ]:
140 rows
UPDATE `IT_Equipment` it 
SET it.status = "Omniswitch : Not in CMDB - To validate with Serge"
where modele like '%omniswitch%'

In [ ]:
205 rows
UPDATE `IT_Equipment` it 
SET it.status = "Patch Panel : No action expected"
where type like '%Patch Panel%'

##