# TRIGGER

In [ ]:
## FROM : Ancienne table, INNER JOIN : Nouvelle base

In [ ]:
insert into move_records_equipments
(asset_id,
 modele, 
 from_salle, 
 from_reperage_id, 
 to_salle, 
 to_reperage_id
)


SELECT 
it.asset_id,
it.modele,
it.Nom_de_la_salle, 
it.reperage_id,
it2.Nom_de_la_salle,
it2.reperage_id
 

FROM `IT_Equipment_v3` it
INNER JOIN `it_equipment_Jun_fictif` it2 
ON it.asset_id = it2.asset_id 
AND (it.asset_id != '0' OR it2.asset_id != '0')
AND(concat(it.Nom_de_la_salle,' ', it.reperage_id) != concat(it2.Nom_de_la_salle,' ', it2.reperage_id))