# UPDATE

In [ ]:
UPDATE IT_Equipment_v2 it
set it.status_2 = NULL

### `OK-CMDB-ASSET-ID`

In [ ]:
-- 1988 rows affected
UPDATE `olivier_it` it
INNER JOIN `assets_filtree_reduced` aa
ON aa.asset_id = it.asset_id
and it.asset_id != '0'
SET it.status_2 = 'OK-CMDB-ASSET-ID'

### `'ASSET_ID OK / SHORT_NAME MISMATCH'`

##### 0 resultat affiché, ils sont tous contenu dans le OK-CMDB-ASSET-ID

In [ ]:
UPDATE `IT_Equipment_v2` it
INNER JOIN `assets_filtree_v2` aa
ON aa.nom_long = it.nom or (aa.nom_court = it.short_name and it.short_name !=0)
set it.status_2 = 'ASSET_ID OK / SHORT_NAME MISMATCH'
where it.status_2 is null

### `Asset_ID affiché`

In [ ]:
UPDATE `olivier_it` it
INNER JOIN `assets_filtree_reduced` aa on LEFT(aa.nom_court, length(aa.nom_court) - 3) = it.short_name
where it.type = 'Serveurs' and it.status_2 is null

### `OK-POSITION`

In [ ]:
-- 250
UPDATE `olivier_it` it 
INNER JOIN `assets_filtree_reduced`aa
ON (
	it.Nom_de_la_salle = aa.Salle
AND
	it.Nom_de_baie = aa.Rack
AND
	it.Slot_U = CONVERT(aa.Slot_Begin, integer)
	)  
    
INNER JOIN `IT_Equipment_match_position_reduced_v3` it2
ON it.reperage_id = it2.reperage_id

SET it.status_2 = Concat('OK-POSITION:', it2.rowNumber)

WHERE it.status_2 is null AND (
   aa.model not like '%BL460C%'
OR aa.model not like '%BL660C%'
OR aa.model not like '%BL20P%'
OR aa.model not like '%BL860C%'
OR aa.model not like '%BL420C%'
OR aa.model not like '%BL680C%'
OR aa.model not like '%WS460C%'
OR aa.model not like '%BL870C%' )

## `NOM DU FABRICANT : ASSET_ID`

### netapp & ATTO & Brocade

In [ ]:
-- 42 rows affected
UPDATE   `olivier_it` it
 LEFT JOIN `it_built_system_NAS_v3` it2
 ON        it2.nom_de_baie = it.nom_de_baie 
 AND       it2.nom_de_la_salle = it.nom_de_la_salle
 AND		  it2.fabricant = it.fabricant

SET it.status_2 = ( 
    			CASE WHEN it.status_2 is null and it2.status_2 is not null then Concat(it.fabricant, ' : ', it2.asset_id) 
        	  	WHEN it.status_2 is null and it2.status_2 is null and (it.asset_id is null or it.asset_id ='0' or it.asset_id ='') then  Concat(it.fabricant, ' : No Match') 
        		END )
                
WHERE it.status_2 is null
AND (it.fabricant like 'netapp%' or it.fabricant like 'ATTO%' or it.fabricant like 'Brocade%')

### Exadata

In [ ]:
3 rows affected
UPDATE   `olivier_it` it
 LEFT JOIN `it_build_system_EXADATA_v3` it2
 ON        it2.nom_de_baie = it.nom_de_baie 
 AND       it2.nom_de_la_salle = it.nom_de_la_salle
 AND		  it2.fabricant = it.fabricant

SET it.status_2 = ( 
    			CASE WHEN it.status_2 is null and it2.status_2 is not null then Concat(it.fabricant, ' : ', it2.asset_id) 
        	  	WHEN it.status_2 is null and it2.status_2 is null and (it.asset_id is null or it.asset_id ='0') then  Concat(it.fabricant, ' : No Match') 
        		END )
                
WHERE it.status_2 is NULL 
AND (it.fabricant like '%oracle%')

### HPC

#### No match

In [ ]:
0 rows affected
UPDATE `olivier_it` it
 LEFT JOIN `it_build_system_HPC_v3` it2
 ON (LEFT(it.Nom,6)) = it2.root_ferme

SET it.status_2 = ( 
    			CASE WHEN it.status_2 is null and it2.status_2 is not null then Concat(it.fabricant, ' : ', it2.root_ferme) 
        	  	WHEN it.status_2 is null and it2.status_2 is null and (it.asset_id is null or it.asset_id ='0') then  Concat(it.fabricant, ' : No Match') 
        		END )

WHERE (it.nom like '%HPC%' 
OR it.short_name like '%HPC%') and it.status_2 is NULL

### HANNA

In [ ]:
0 ROWS
UPDATE `olivier_it` it
  LEFT JOIN `it_build_system_HANNA_v3` it2
 ON        it2.nom_de_baie = it.nom_de_baie 
 AND       it2.nom_de_la_salle = it.nom_de_la_salle
 AND		  it2.fabricant = it.fabricant

SET it.status_2 =(CASE WHEN it.status_2 is null and it2.status_2 is not null then Concat(it.fabricant, ' : ', it2.asset_id) 
				WHEN it.status_2 is null and it2.status_2 is null and (it.asset_id is null or it.asset_id ='0') then  Concat(it.fabricant, ' : No Match') 
        		END ) 

WHERE it.status_2 is null and (it.nom_de_baie like '%hana%' OR it.nom like '%hana%')

### Ring

In [ ]:
0 rows
UPDATE `olivier_it` it
  LEFT JOIN `it_build_system_RING_v3` it2
 ON        it2.nom_de_baie = it.nom_de_baie 
 AND       it2.nom_de_la_salle = it.nom_de_la_salle
 AND		  it2.fabricant = it.fabricant

SET it.status_2 =(CASE WHEN it.status_2 is null and it2.status_2 is not null then Concat(it.fabricant, ' : ', it2.asset_id) 
				WHEN it.status_2 is null and it2.status_2 is null and (it.asset_id is null or it.asset_id ='0') then  Concat(it.fabricant, ' : No Match') 
        		END ) 

WHERE it.status_2 is NULL and (it.short_name like '%NA9TCR%' 
OR it.nom like '%NA9TCR%')

### PCP : no match

In [ ]:
0 rows
UPDATE `olivier_it` it
SET it.status_2 = 'PCP : No Match'
where (it.Nom like '%_Rack%' or it.short_name like '%_Rack%') and (asset_id is null or asset_id ='0') and status_2 is null

### FEX

In [ ]:
13 rows
UPDATE `olivier_it` it
LEFT JOIN `IT_Equipment_FEX_v3` it2 on it2.root_fex = (LEFT(it.Nom,8)) and it.Nom != it2.root_fex

SET it.status_2 =(CASE WHEN it.status_2 is null and it2.status_2 is not null and it2.asset_id !='0' then Concat(it.fabricant, ' : ', it2.asset_id) 
                WHEN it.status_2 is null and it2.status_2 is null and (it.asset_id is null or it2.asset_id ='0') then  Concat(it.fabricant, ' : No Match') 
                END ) 

where it.Fabricant like '%cisco%' and it2.root_fex is not null and it.status_2 is null

## `'CMDB-OK-OLD'`

In [ ]:
903 rows !?????
UPDATE `olivier_it` it
LEFT JOIN `assets_filtree_reduced` aa
ON REPLACE(REPLACE(aa.nom_court,'_OLD',''),'-OLD','')  = it.nom 
OR REPLACE(REPLACE(aa.nom_long,'_OLD',''),'-OLD','')  = it.nom 
OR REPLACE(REPLACE(aa.nom_court,'_OLD',''),'-OLD','')  = it.short_name 
OR REPLACE(REPLACE(aa.nom_long,'_OLD',''),'-OLD','')  = it.short_name

SET it.status_2 = 'select * from `olivier_it` it
INNER JOIN `assets_filtree_reduced` aa
ON  ( REPLACE(REPLACE(aa.nom_court,'_OLD',''),'-OLD','')  = it.nom 
OR REPLACE(REPLACE(aa.nom_long,'_OLD',''),'-OLD','')  = it.nom 
OR REPLACE(REPLACE(aa.nom_court,'_OLD',''),'-OLD','')  = it.short_name 
OR REPLACE(REPLACE(aa.nom_long,'_OLD',''),'-OLD','')  = it.short_name )
and (it.SHORT_NAME != '' )


where it.status_2 = 'CMDB-OK-OLD' and (aa.nom_court like '%_OLD' or aa.nom_long like '%_OLD' or aa.nom_court like '%-OLD' or aa.nom_long like '%-OLD')
ORDER BY reperage_id asc'

where it.status_2 is NULL and (aa.nom_court like '%_OLD' or aa.nom_long like '%_OLD' or aa.nom_court like '%-OLD' or aa.nom_long like '%-OLD')

## `'MISMATCH_TIRET'`

On se limite pour l'instant aux equipements CISCO par sécurité

In [ ]:
-- 44 rows PAS APPLIQUE !!!! 
UPDATE `IT_Equipment` it
INNER JOIN `assets_filtree` aa
ON UPPER(REPLACE(REPLACE(aa.nom_court,'_',''),'-',''))  =  UPPER(REPLACE(REPLACE(it.nom,'_',''),'-',''))
OR UPPER(REPLACE(REPLACE(aa.nom_long,'_',''),'-',''))  =  UPPER(REPLACE(REPLACE(it.nom,'_',''),'-',''))
OR UPPER(REPLACE(REPLACE(aa.nom_court,'_',''),'-',''))  =  UPPER(REPLACE(REPLACE(it.short_name,'_',''),'-',''))
OR UPPER(REPLACE(REPLACE(aa.nom_long,'_',''),'-',''))  =  UPPER(REPLACE(REPLACE(it.short_name,'_',''),'-','')) 

-- SET it.status_2 = 'MISMATCH_TIRET'

WHERE it.status_2 is null and ( aa.nom_court is not null or aa.nom_long is not null) and aa.nom like '%fex%' 
-- PP11-1 and PP111 not the same equipment

In [ ]:
-- 15 rows
UPDATE `IT_Equipment_v2` it
INNER JOIN `assets_filtree_v2` aa
ON UPPER(REPLACE(REPLACE(aa.nom_court,'_',''),'-',''))  =  UPPER(REPLACE(REPLACE(it.nom,'_',''),'-',''))
OR UPPER(REPLACE(REPLACE(aa.nom_long,'_',''),'-',''))  =  UPPER(REPLACE(REPLACE(it.nom,'_',''),'-',''))
OR UPPER(REPLACE(REPLACE(aa.nom_court,'_',''),'-',''))  =  UPPER(REPLACE(REPLACE(it.short_name,'_',''),'-',''))
OR UPPER(REPLACE(REPLACE(aa.nom_long,'_',''),'-',''))  =  UPPER(REPLACE(REPLACE(it.short_name,'_',''),'-','')) 

SET it.status_2 = 'MISMATCH_TIRET'

WHERE it.status_2 is null and ( aa.nom_court is not null or aa.nom_long is not null) and it.nom like '%fex%' 
-- PP11-1 and PP111 not the same equipment

## `HITASHI`

### Sur Asset.Filtree, prendre la liste de "Fabricant" = "HDS", prendre les 5 lettres près "-" ou "_", pur croiser avec "IT_Equipement" = "Hitachi" en cherchant avec les 5 lettres

In [ ]:
87 rows
UPDATE `olivier_it` it
INNER JOIN `IT_Equipment_cleaning_Hitachi_v3` hit on hit.it_nom = it.nom
LEFT JOIN `assets_filtree_reduced` aa on UPPER(REPLACE(REPLACE(aa.nom_court,'_',''),'-','')) = hit.clean_name

SET it.status_2 = (CASE WHEN aa.asset_id is null and it.status_2 is null then 'Hitashi : No match'
    			WHEN aa.asset_id is not null and it.status_2 is null then concat('HDS : ',aa.asset_id)
    			END 
    			)
WHERE it.Fabricant like '%Hitachi%'

## `Proliant / C7000`

#### La totalité est déja couverte donc ce status_2 est inexistant !

  1° Si "modele" contient "Proliant" ou "C7000" et que "status_2" = "NULL"

    Vérifier si match de position avec le fichier ASSET ayant pour "API" = "FRVLB0C2" ou "API" = "FRTCRAVA"

    => 1/ Si il y a un match alors UPDATE "status_2" = "MATCH-POSITION : Install ou Retired"

    => 2/ Si il n'y a pas de match alors UPDATE "status_2" = "SANS MATCH-POSITION : CONTROL SUR SITE"

In [ ]:
0 rows
UPDATE `olivier_it` it 

LEFT JOIN 
	`assets_filtree_reduced` aa 
ON 
	it.Nom_de_la_salle = aa.Salle
AND
	it.Nom_de_baie = aa.Rack
AND
	it.Slot_U = CONVERT(aa.Slot_Begin, integer)

SET it.status_2 = "MATCH-POSITION : Install ou Retired"

WHERE (modele like '%Proliant%' OR modele like '%C7000%' ) 
and (API = 'FRVLB0C2' or API = 'FRTCRAVA')
and (it.status_2 is null OR it.status_2 ='MISMATCH_TIRET')

In [ ]:
189 rows
UPDATE `olivier_it` it 

LEFT JOIN 
	`assets_filtree_reduced` aa 
ON 
	it.Nom_de_la_salle = aa.Salle
AND
	it.Nom_de_baie = aa.Rack
AND
	it.Slot_U = CONVERT(aa.Slot_Begin, integer)

SET it.status_2 = "SANS MATCH-POSITION : CONTROL SUR SITE"

WHERE (modele like '%Proliant%' OR modele like '%C7000%' ) 
and (it.status_2 is null OR it.status_2 ='MISMATCH_TIRET')
and aa.dalle is null -- dalle null = pas de match car i ls' agit d'un left join

## `OMNISWITCH`

In [ ]:
174 rows
UPDATE `olivier_it` it 
SET it.status_2 = "Omniswitch : Not in CMDB - To validate with Serge"
where modele like '%omniswitch%'

## `Patch Panel`

In [ ]:
106 rows
UPDATE `olivier_it` it 
SET it.status_2 = "Patch Panel : No action expected"
where type like '%Patch Panel%'

# `DXI`

In [ ]:
-- 15 rows
UPDATE `olivier_it` it 
LEFT JOIN `it_build_system_DXI` it2 ON left(it.nom,9) = it2.DXI_ROOT
SET it.status_2 = (CASE WHEN it.status_2 is null and it2.status_it is null then 'DXI : No match'
					WHEN it.status_2 is null and it2.status_it is not null then concat('DXI : ',it2.asset_id_it)
					END 
					)
                    
where it.modele like '%dxi%' and status_2 is null

# `NEW STATUS_3`

In [ ]:
UPDATE olivier_it

SET status_3 = 	CASE WHEN status_2 = 'OK-CMDB-ASSET-ID' then 'OK-CMDB-ASSET-ID'
		WHEN status_2 != 'OK-CMDB-ASSET-ID' and status_2 is not null then 'Identifiable'
        WHEN status_2 is null then NULL
        END