###### CREATE / ALTER TABLE

In [ ]:
CREATE TABLE IT_Equipment_v2
as
SELECT * FROM `IT_Equipment`

In [ ]:
CREATE TABLE assets_filtree_v2
as
select *
from`assets_new`
where (API = 'FRVLB0C2' or API = 'FRTCRAVA')

In [ ]:
CREATE TABLE IT_Equipment_olivier_no_match
as
SELECT it.*
FROM `IT_Equipment_v2` it
LEFT JOIN `olivier_it` oit on oit.olivier_index = CONCAT(it.Nom_de_la_salle, it.reperage_id)

where nom_de_la_salle in ('P1', 'P2', 'P3', 'P4') and oit.olivier_index is null
-- AND (oit.olivier_index is null or it.reperage_id is null)
ORDER BY Reperage_ID asc

In [ ]:
CREATE TABLE assets_filtree_reduced
AS
SELECT ype, subtype, ASSET_ID, NOM_COURT, NOM_LONG, FABRICANT, MODEL, DALLE, SALLE, Rack, Slot_Begin, Slot_End, No_serie, etat, api, tag_partenaire
from `assets_filtree_v2` aa
WHERE SALLE in ('P1', 'P2', 'P3', 'P4', '0')

In [ ]:
ALTER TABLE olivier_it
ADD COLUMN STATUS_2 varchar(255)
ADD COLUMN Rack varchar(255),
ADD COLUMN Slot_u varchar(255),
ADD COLUMN STATUS_3 varchar(255)
ADD COLUMN ASSET_ID_OK_POSITION varchar(255) ;

In [ ]:
ALTER TABLE olivier_it 
CHANGE COLUMN Salle_Origin  Nom_de_la_salle varchar(255) ,
CHANGE COLUMN Long_name  nom varchar(255) ,
CHANGE COLUMN model  modele varchar(255) ,
CHANGE COLUMN Manufacturer  fabricant varchar(255) ,
CHANGE COLUMN Rack_U_origin  reperage_id varchar(255),
CHANGE COLUMN rack Nom_de_baie varchar(255);