## CREATE / ALTER TABLE

In [ ]:
CREATE TABLE IT_Equipment_v3
as
SELECT * FROM `IT_Equipment`

In [ ]:
CREATE TABLE assets_filtree_v3
as
select *
from`assets_new`
where (API = 'FRVLB0C2' or API = 'FRTCRAVA')

In [ ]:
ALTER TABLE IT_Equipment_v3
ADD COLUMN STATUS_3 varchar(255) ,
ADD COLUMN ASSET_ID_OK_POSITION varchar(255) ;

# Schema de creation

## Changer le nom initial !!!!

In [ ]:
DROP TABLE IF EXISTS `IT_Equipment`;
CREATE TABLE `IT_Equipment` (
 `﻿Type_dequipement` varchar(100)  NULL,
 `Is_Loading_Bay_Item` varchar(100)  NULL,
 `Zone_specifique_du_quai_de_chargement` varchar(100)  NULL,
 `Nom` varchar(100)  NULL,
 `Numero_dasset` varchar(100)  NULL,
 `Fabricant` varchar(100)  NULL,
 `Modele` varchar(100)  NULL,
 `Nom_de_la_salle` varchar(100)  NULL,
 `Nom_de_baie` varchar(100)  NULL,
 `Slot_U` varchar(100)  NULL,
 `Nom_du_cheassis` varchar(100)  NULL,
 `Module_Slot` varchar(100)  NULL,
 `Type` varchar(100)  NULL,
 `Autre_type` varchar(100)  NULL,
 `SHORT_NAME` varchar(100)  NULL,
 `SERIAL_NUMBER` varchar(100)  NULL,
 `End_Move_Target` varchar(100)  NULL,
 `ASSET_TAG` varchar(100)  NULL,
 `ASSET_ID` varchar(100)  NULL,
 `Equipement_approxime` varchar(100)  NULL,
 `Type_de_puissance` varchar(100)  NULL,
 `Puissance_nominale_kW` varchar(100)  NULL,
 `Puissance_typique_kW` varchar(100)  NULL,
 `Puissance_specifie_par_lutilisateur_kW` varchar(100)  NULL,
 `Facteur_de_charge` varchar(100)  NULL,
 `Puissance_en_entre_kW` varchar(100)  NULL,
 `Type_de_phase` varchar(100)  NULL,
 `Statut_de_lequipement` varchar(100)  NULL,
 `Nombre_de_cordons` varchar(100)  NULL,
 `Nombre_de_cordons_connectes` varchar(100)  NULL,
 `Nombre_de_cordons_actifs` varchar(100)  NULL,
 `Nombre_de_cordons_requis` varchar(100)  NULL,
 `Onduleurs_UPS` varchar(100)  NULL,
 `Cordon_electrique_1_PDU` varchar(100)  NULL,
 `Cordon_electrique_1_Prise_de_courant` varchar(100)  NULL,
 `Cordon_electrique_1_Socket_Circuit` varchar(100)  NULL,
 `Cordon_electrique_2_PDU` varchar(100)  NULL,
 `Cordon_electrique_2_Prise_de_courant` varchar(100)  NULL,
 `Cordon_electrique_1_Alimentation_electrique` varchar(100)  NULL,
 `Cordon_electrique_1_Type_de_prise` varchar(100)  NULL,
 `Cordon_electrique_3_PDU` varchar(100)  NULL,
 `Cordon_electrique_3_Prise_de_courant` varchar(100)  NULL,
 `Cordon_electrique_2_Socket_Circuit` varchar(100)  NULL,
 `Cordon_electrique_1_Disjoncteur` varchar(100)  NULL,
 `Cordon_electrique_1_Socket_Phase` varchar(100)  NULL,
 `Cordon_electrique_4_PDU` varchar(100)  NULL,
 `Cordon_electrique_4_Prise_de_courant` varchar(100)  NULL,
 `Cordon_electrique_2_Type_de_prise` varchar(100)  NULL,
 `Cordon_electrique_2_Alimentation_electrique` varchar(100)  NULL,
 `Cordon_electrique_2_Disjoncteur` varchar(100)  NULL,
 `Cordon_electrique_2_Socket_Phase` varchar(100)  NULL,
 `Etat_dinstallation` varchar(100)  NULL,
 `Date_dinstallation_dd_mm_yyyy` varchar(100)  NULL,
 `Cordon_electrique_3_Alimentation_electrique` varchar(100)  NULL,
 `Cordon_electrique_3_Disjoncteur` varchar(100)  NULL,
 `Date_de_decommissionnement_dd_mm_yyyy` varchar(100)  NULL,
 `Reperage_ID` varchar(100)  NULL,
 `Cordon_electrique_4_Alimentation_electrique` varchar(100)  NULL,
 `Cordon_electrique_4_Disjoncteur` varchar(100)  NULL,
 `Montage` varchar(100)  NULL,
 `Sens_de_montage` varchar(100)  NULL,
 `Style_de_montage` varchar(100)  NULL,
 `LONG_NAME` varchar(100)  NULL,
 `Lames_installes` varchar(100)  NULL,
 `Alle` varchar(100)  NULL,
 `Cage` varchar(100)  NULL,
 `Zone` varchar(100)  NULL,
 `Hauteur_U` varchar(100)  NULL,
 `Largeur_m` varchar(100)  NULL,
 `Profondeur_m` varchar(100)  NULL,
 `Poids_kg` varchar(100)  NULL,
 `Synchronise_avec_Gateway` varchar(100)  NULL,
 `ID_Systeme_externe` varchar(100)  NULL,
 `ID_Systeme_Asset` varchar(100)  NULL,
 `ID_Systeme_Baie` varchar(100)  NULL,
 `ID_Systeme_Cheassi` varchar(100)  NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8

# Trigger Records

Track les changements de position pour un asset donné

In [ ]:
CREATE TABLE `move_records_equipments` (
    asset_id varchar(255) NOT NULL,
    modele varchar(255) NULL,
    from_salle varchar(255) NOT NULL,
    from_reperage_id varchar(255) NOT NULL,
    to_salle varchar(255) NOT NULL,
    to_reperage_id varchar(255) NOT NULL,
    inserted TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP) ENGINE=InnoDB DEFAULT CHARSET=latin1

In [ ]:
ALTER TABLE `move_records_equipments`
ADD COLUMN FROM_DATE varchar(255),
ADD COLUMN TO_DATE varchar(255) ;

## IT_Equipment_records : historique de tous les csv

In [ ]:

CREATE TABLE `IT_Equipment_records` (
 `﻿Type_dequipement` varchar(100)  NULL,
 `Is_Loading_Bay_Item` varchar(100)  NULL,
 `Zone_specifique_du_quai_de_chargement` varchar(100)  NULL,
 `Nom` varchar(100)  NULL,
 `Numero_dasset` varchar(100)  NULL,
 `Fabricant` varchar(100)  NULL,
 `Modele` varchar(100)  NULL,
 `Nom_de_la_salle` varchar(100)  NULL,
 `Nom_de_baie` varchar(100)  NULL,
 `Slot_U` varchar(100)  NULL,
 `Nom_du_cheassis` varchar(100)  NULL,
 `Module_Slot` varchar(100)  NULL,
 `Type` varchar(100)  NULL,
 `Autre_type` varchar(100)  NULL,
 `SHORT_NAME` varchar(100)  NULL,
 `SERIAL_NUMBER` varchar(100)  NULL,
 `End_Move_Target` varchar(100)  NULL,
 `ASSET_TAG` varchar(100)  NULL,
 `ASSET_ID` varchar(100)  NULL,
 `Equipement_approxime` varchar(100)  NULL,
 `Type_de_puissance` varchar(100)  NULL,
 `Puissance_nominale_kW` varchar(100)  NULL,
 `Puissance_typique_kW` varchar(100)  NULL,
 `Puissance_specifie_par_lutilisateur_kW` varchar(100)  NULL,
 `Facteur_de_charge` varchar(100)  NULL,
 `Puissance_en_entre_kW` varchar(100)  NULL,
 `Type_de_phase` varchar(100)  NULL,
 `Statut_de_lequipement` varchar(100)  NULL,
 `Nombre_de_cordons` varchar(100)  NULL,
 `Nombre_de_cordons_connectes` varchar(100)  NULL,
 `Nombre_de_cordons_actifs` varchar(100)  NULL,
 `Nombre_de_cordons_requis` varchar(100)  NULL,
 `Onduleurs_UPS` varchar(100)  NULL,
 `Cordon_electrique_1_PDU` varchar(100)  NULL,
 `Cordon_electrique_1_Prise_de_courant` varchar(100)  NULL,
 `Cordon_electrique_1_Socket_Circuit` varchar(100)  NULL,
 `Cordon_electrique_2_PDU` varchar(100)  NULL,
 `Cordon_electrique_2_Prise_de_courant` varchar(100)  NULL,
 `Cordon_electrique_1_Alimentation_electrique` varchar(100)  NULL,
 `Cordon_electrique_1_Type_de_prise` varchar(100)  NULL,
 `Cordon_electrique_3_PDU` varchar(100)  NULL,
 `Cordon_electrique_3_Prise_de_courant` varchar(100)  NULL,
 `Cordon_electrique_2_Socket_Circuit` varchar(100)  NULL,
 `Cordon_electrique_1_Disjoncteur` varchar(100)  NULL,
 `Cordon_electrique_1_Socket_Phase` varchar(100)  NULL,
 `Cordon_electrique_4_PDU` varchar(100)  NULL,
 `Cordon_electrique_4_Prise_de_courant` varchar(100)  NULL,
 `Cordon_electrique_2_Type_de_prise` varchar(100)  NULL,
 `Cordon_electrique_2_Alimentation_electrique` varchar(100)  NULL,
 `Cordon_electrique_2_Disjoncteur` varchar(100)  NULL,
 `Cordon_electrique_2_Socket_Phase` varchar(100)  NULL,
 `Etat_dinstallation` varchar(100)  NULL,
 `Date_dinstallation_dd_mm_yyyy` varchar(100)  NULL,
 `Cordon_electrique_3_Alimentation_electrique` varchar(100)  NULL,
 `Cordon_electrique_3_Disjoncteur` varchar(100)  NULL,
 `Date_de_decommissionnement_dd_mm_yyyy` varchar(100)  NULL,
 `Reperage_ID` varchar(100)  NULL,
 `Cordon_electrique_4_Alimentation_electrique` varchar(100)  NULL,
 `Cordon_electrique_4_Disjoncteur` varchar(100)  NULL,
 `Montage` varchar(100)  NULL,
 `Sens_de_montage` varchar(100)  NULL,
 `Style_de_montage` varchar(100)  NULL,
 `LONG_NAME` varchar(100)  NULL,
 `Lames_installes` varchar(100)  NULL,
 `Alle` varchar(100)  NULL,
 `Cage` varchar(100)  NULL,
 `Zone` varchar(100)  NULL,
 `Hauteur_U` varchar(100)  NULL,
 `Largeur_m` varchar(100)  NULL,
 `Profondeur_m` varchar(100)  NULL,
 `Poids_kg` varchar(100)  NULL,
 `Synchronise_avec_Gateway` varchar(100)  NULL,
 `ID_Systeme_externe` varchar(100)  NULL,
 `ID_Systeme_Asset` varchar(100)  NULL,
 `ID_Systeme_Baie` varchar(100)  NULL,
 `ID_Systeme_Cheassi` varchar(100)  NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1

In [ ]:
ALTER TABLE `IT_Equipment_records`
ADD COLUMN SOURCES varchar(255),
ADD COLUMN inserted TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ;

In [ ]:
alter tables asset_new
DROP COLUMN STATUS,
DROP COLUMN emplacement,
DROP COLUMN Rack,
DROP COLUMN Slot,
DROP COLUMN Slot_begin,
DROP COLUMN Slot_end

# `Section Computer - Mgmnt - Data_rack`

In [ ]:
CREATE TABLE wrong_rack_it_eq_cmdb
as
SELECT * FROM `IT_Equipment_v3`
where Nom_de_baie in ('Mgmt_Rack', 'Data_Rack', 'Compute1', 'Compute2', 'Compute3', 'O11')