## CREATE / ALTER TABLE

In [ ]:
CREATE TABLE IT_Equipment_v3
as
SELECT * FROM `IT_Equipment`

In [ ]:
CREATE TABLE assets_filtree_v3
as
select *
from`assets_new`
where (API = 'FRVLB0C2' or API = 'FRTCRAVA')

In [ ]:
ALTER TABLE IT_Equipment_v3
ADD COLUMN STATUS_3 varchar(255) ,
ADD COLUMN ASSET_ID_OK_POSITION varchar(255) ;

# Schema de creation

## Changer le nom initial !!!!

In [ ]:

CREATE TABLE `dfdsrfzaqrd` (
 `﻿Type_dequipement` varchar(100)  NULL,
 `Is_Loading_Bay_Item` varchar(100)  NULL,
 `Zone_specifique_du_quai_de_chargement` varchar(100)  NULL,
 `Nom` varchar(100)  NULL,
 `Numero_dasset` varchar(100)  NULL,
 `Fabricant` varchar(100)  NULL,
 `Modele` varchar(100)  NULL,
 `Nom_de_la_salle` varchar(100)  NULL,
 `Nom_de_baie` varchar(100)  NULL,
 `Slot_U` varchar(100)  NULL,
 `Nom_du_cheassis` varchar(100)  NULL,
 `Module_Slot` varchar(100)  NULL,
 `Type` varchar(100)  NULL,
 `Autre_type` varchar(100)  NULL,
 `SHORT_NAME` varchar(100)  NULL,
 `SERIAL_NUMBER` varchar(100)  NULL,
 `End_Move_Target` varchar(100)  NULL,
 `ASSET_TAG` varchar(100)  NULL,
 `ASSET_ID` varchar(100)  NULL,
 `Equipement_approxime` varchar(100)  NULL,
 `Type_de_puissance` varchar(100)  NULL,
 `Puissance_nominale_kW` varchar(100)  NULL,
 `Puissance_typique_kW` varchar(100)  NULL,
 `Puissance_specifie_par_lutilisateur_kW` varchar(100)  NULL,
 `Facteur_de_charge` varchar(100)  NULL,
 `Puissance_en_entre_kW` varchar(100)  NULL,
 `Type_de_phase` varchar(100)  NULL,
 `Statut_de_lequipement` varchar(100)  NULL,
 `Nombre_de_cordons` varchar(100)  NULL,
 `Nombre_de_cordons_connectes` varchar(100)  NULL,
 `Nombre_de_cordons_actifs` varchar(100)  NULL,
 `Nombre_de_cordons_requis` varchar(100)  NULL,
 `Onduleurs_UPS` varchar(100)  NULL,
 `Cordon_electrique_1_PDU` varchar(100)  NULL,
 `Cordon_electrique_1_Prise_de_courant` varchar(100)  NULL,
 `Cordon_electrique_1_Socket_Circuit` varchar(100)  NULL,
 `Cordon_electrique_2_PDU` varchar(100)  NULL,
 `Cordon_electrique_2_Prise_de_courant` varchar(100)  NULL,
 `Cordon_electrique_1_Alimentation_electrique` varchar(100)  NULL,
 `Cordon_electrique_1_Type_de_prise` varchar(100)  NULL,
 `Cordon_electrique_3_PDU` varchar(100)  NULL,
 `Cordon_electrique_3_Prise_de_courant` varchar(100)  NULL,
 `Cordon_electrique_2_Socket_Circuit` varchar(100)  NULL,
 `Cordon_electrique_1_Disjoncteur` varchar(100)  NULL,
 `Cordon_electrique_1_Socket_Phase` varchar(100)  NULL,
 `Cordon_electrique_4_PDU` varchar(100)  NULL,
 `Cordon_electrique_4_Prise_de_courant` varchar(100)  NULL,
 `Cordon_electrique_2_Type_de_prise` varchar(100)  NULL,
 `Cordon_electrique_2_Alimentation_electrique` varchar(100)  NULL,
 `Cordon_electrique_2_Disjoncteur` varchar(100)  NULL,
 `Cordon_electrique_2_Socket_Phase` varchar(100)  NULL,
 `Etat_dinstallation` varchar(100)  NULL,
 `Date_dinstallation_dd_mm_yyyy` varchar(100)  NULL,
 `Cordon_electrique_3_Alimentation_electrique` varchar(100)  NULL,
 `Cordon_electrique_3_Disjoncteur` varchar(100)  NULL,
 `Date_de_decommissionnement_dd_mm_yyyy` varchar(100)  NULL,
 `Reperage_ID` varchar(100)  NULL,
 `Cordon_electrique_4_Alimentation_electrique` varchar(100)  NULL,
 `Cordon_electrique_4_Disjoncteur` varchar(100)  NULL,
 `Montage` varchar(100)  NULL,
 `Sens_de_montage` varchar(100)  NULL,
 `Style_de_montage` varchar(100)  NULL,
 `LONG_NAME` varchar(100)  NULL,
 `Lames_installes` varchar(100)  NULL,
 `Alle` varchar(100)  NULL,
 `Cage` varchar(100)  NULL,
 `Zone` varchar(100)  NULL,
 `Hauteur_U` varchar(100)  NULL,
 `Largeur_m` varchar(100)  NULL,
 `Profondeur_m` varchar(100)  NULL,
 `Poids_kg` varchar(100)  NULL,
 `Synchronise_avec_Gateway` varchar(100)  NULL,
 `ID_Systeme_externe` varchar(100)  NULL,
 `ID_Systeme_Asset` varchar(100)  NULL,
 `ID_Systeme_Baie` varchar(100)  NULL,
 `ID_Systeme_Cheassi` varchar(100)  NULL,
 `STATUS` varchar(255) DEFAULT NULL,
 `STATUS_3` varchar(255) DEFAULT NULL,
 `ASSET_ID_OK_POSITION` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1

In [ ]:
insert `IT_Equipment.11.05.22` VALUES(1,2,3,4,5,6,7,8,9,10,
                                     1,2,3,4,5,6,7,8,9,10,
                                     1,2,3,4,5,6,7,8,9,10,
                                     1,2,3,4,5,6,7,8,9,10,
                                     1,2,3,4,5,6,7,8,9,10,
                                     1,2,3,4,5,6,7,8,9,10,
                                     1,2,3,4,5,6,7,8,9,10,
                                     1,2,3,4,5,6,7,8,9)

In [1]:
('Equipements IT', nan, nan, 'HP219', '2656652', 'HP', '9000 D Class', 'PB', nan, -1, nan, nan, 'Serveurs', nan, 'HP219-S022', 'USM2006109', 0, '2656653', 'M-0000298148', 0, 'Puissance nominale et facteur', 0.93, nan, nan, 50.0, 0.465, 'MonophasÃ©', 'On', 1.0, 0.0, 1.0, 1.0, 'Non dÃ©fini', 'Non-connectÃ©', 'Non dÃ©fini', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'InstallÃ©', '2018-04-19T00:00:00.000Z', nan, nan, nan, nan, nan, nan, 'Avant', 'Pas de rotation', 'Aucun montage', 'HP219', nan, nan, nan, nan, 13.588, 0.259, 0.551, 43.0, nan, '0', '36132-117384', nan, nan, 'MISMATCH_TIRET')

NameError: name 'nan' is not defined

# Trigger Records

Track les changements de position pour un asset donné

In [ ]:
CREATE TABLE `move_records_equipments` (
    asset_id varchar(255) NOT NULL,
    modele varchar(255) NULL,
    from_salle varchar(255) NOT NULL,
    from_reperage_id varchar(255) NOT NULL,
    to_salle varchar(255) NOT NULL,
    to_reperage_id varchar(255) NOT NULL,
    inserted TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP) ENGINE=InnoDB DEFAULT CHARSET=latin1