In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('audit.txt', header = 0, delimiter = ';')

In [19]:
df["20"]

0       50813-1
1       50813-1
2       50813-2
3       50813-2
4       50813-2
         ...
1008        W01
1009        W01
1010        W01
1011        W06
1012        W08
Name: 20, Length: 1013, dtype: object

In [82]:

df["20"].str.extract(r'([A-z]+|[^-]+)([^-]*)').iloc[800:900]

       0   1
800    F  28
801    F  30
802    F  30
803    F  30
804    F  31
..   ...  ..
895  HDS
896  HDS
897    J  38
898    J  38
899    J  38

[100 rows x 2 columns]