Recherche sur le rack AG22 où y a que des equipments sans match

SELECT it.asset_id asset_id_it, it.short_name, it.nom, it.status status_it, it.modele, it.reperage_id, it.hauteur_u FROM `IT_Equipment_v2` it where Reperage_ID like '%AG22%' ORDER BY Reperage_ID asc limit 500

In [ ]:
SELECT Type, Etat_dinstallation,it.asset_id asset_id_it, it.short_name, it.nom, it.status status_it, it.modele, it.reperage_id, it.hauteur_u 
FROM `IT_Equipment_v2` it
where status is null
ORDER BY Reperage_ID asc

In [ ]:
ALTER TABLE olivier_it
ADD COLUMN status varchar(255) ;

# VIEW

# SELECT

## QUERY DE BASE

In [ ]:
SELECT nom_de_la_salle,it.asset_id asset_id_it, it.short_name, it.nom, it.status status_it, it.modele, it.reperage_id, it.hauteur_u 
FROM `IT_Equipment_v2` it
where nom_de_la_salle in ('P1', 'P2', 'P3', 'P4')
ORDER BY Reperage_ID asc

In [ ]:
SELECT oit.Long_name,
		oit.short_name,
        oit.asset_id,
        oit.Salle_Origin,
        oit.Rack_U_Origin,
        oit.olivier_index,
        oit.PROJET_Responsable

FROM `olivier_it` oit

## Jointure pour trouver les différences

### INNER JOIN

In [ ]:
SELECT nom_de_la_salle,it.asset_id asset_id_it, it.short_name, it.nom, it.status status_it, it.modele, it.reperage_id, CONCAT(it.Nom_de_la_salle, it.reperage_id) it_index, oit.olivier_index
FROM `IT_Equipment_v2` it
INNER JOIN `olivier_it` oit on oit.olivier_index = CONCAT(it.Nom_de_la_salle, it.reperage_id)

where nom_de_la_salle in ('P1', 'P2', 'P3', 'P4')
-- AND (oit.olivier_index is null or it.reperage_id is null)
ORDER BY Reperage_ID asc

### LEFT JOIN pour extract en csv

In [ ]:
SELECT nom_de_la_salle,it.asset_id asset_id_it, it.short_name, it.nom, it.status status_it, it.modele, it.reperage_id, CONCAT(it.Nom_de_la_salle, it.reperage_id) it_index, oit.olivier_index
FROM `IT_Equipment_v2` it
LEFT JOIN `olivier_it` oit on oit.olivier_index = CONCAT(it.Nom_de_la_salle, it.reperage_id)

where nom_de_la_salle in ('P1', 'P2', 'P3', 'P4') and oit.olivier_index is null
-- AND (oit.olivier_index is null or it.reperage_id is null)
ORDER BY Reperage_ID asc

### RIGHT JOIN

In [ ]:
SELECT oit.Long_name,
		oit.short_name,
        oit.asset_id,
        oit.Salle_Origin,
        oit.Rack_U_Origin,
        oit.olivier_index,
        oit.PROJET_Responsable,
        CONCAT(it.Nom_de_la_salle, it.reperage_id) it_index
        
FROM `olivier_it` oit
LEFT JOIN `IT_Equipment_v2` it on oit.olivier_index = CONCAT(it.Nom_de_la_salle, it.reperage_id)

where  it.reperage_id is null
-- AND (oit.olivier_index is null or it.reperage_id is null)