# CREATE / ALTER TABLE

## Creation table Olivier_it en shell

In [ ]:
DROP TABLE IF EXISTS `olivier_it`;
CREATE TABLE `olivier_it` (
  `modele` varchar(255) DEFAULT NULL,
  `Type` varchar(100) NOT NULL,
  `fabricant` varchar(255) DEFAULT NULL,
  `nom` varchar(255) DEFAULT NULL,
  `SHORT_NAME` varchar(100) NOT NULL,
  `SERIAL_NUMBER` varchar(100) NOT NULL,
  `ASSET_ID` varchar(100) NOT NULL,
  `ASSET_TAG` varchar(100) NOT NULL,
  `Asset_Number` varchar(100) NOT NULL,
  `Nom_de_la_salle` varchar(255) DEFAULT NULL,
  `reperage_id` varchar(255) DEFAULT NULL,
  `Taille_U` varchar(100) NOT NULL,
  `End_Move_Target` varchar(100) NOT NULL,
  `Salle_Dest` varchar(100) NOT NULL,
  `Rack_U_Dest` varchar(100) NOT NULL,
  `olivier_index` varchar(100) NOT NULL,
  `PROJET_Responsable` varchar(100) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;

In [ ]:
CREATE TABLE IT_Equipment_v2
as
SELECT * FROM `IT_Equipment`

In [ ]:
CREATE TABLE assets_filtree_v2
as
select *
from `assets_new`
where (API = 'FRVLB0C2' or API = 'FRTCRAVA')

In [ ]:
CREATE TABLE IT_Equipment_olivier_no_match
as
SELECT it.*
FROM `IT_Equipment_v2` it
LEFT JOIN `olivier_it` oit on oit.olivier_index = CONCAT(it.Nom_de_la_salle, it.reperage_id)

where nom_de_la_salle in ('P1', 'P2', 'P3', 'P4') and oit.olivier_index is null
-- AND (oit.olivier_index is null or it.reperage_id is null)
ORDER BY Reperage_ID asc

In [ ]:
CREATE TABLE assets_filtree_reduced
AS
SELECT ype, subtype, ASSET_ID, NOM_COURT, NOM_LONG, FABRICANT, MODEL, DALLE, SALLE, Rack, Slot_Begin, Slot_End, No_serie, etat, api, tag_partenaire
from `assets_filtree_v2` aa
WHERE SALLE in ('P1', 'P2', 'P3', 'P4', '0')

In [ ]:
ALTER TABLE olivier_it
ADD COLUMN STATUS_2 varchar(255),
ADD COLUMN Rack varchar(255),
ADD COLUMN Slot_u varchar(255),
ADD COLUMN STATUS_3 varchar(255),
ADD COLUMN ASSET_ID_OK_POSITION varchar(255) ;

In [ ]:
ALTER TABLE olivier_it 
CHANGE COLUMN Salle_Origin  Nom_de_la_salle varchar(255) ,
CHANGE COLUMN Long_name  nom varchar(255) ,
CHANGE COLUMN model  modele varchar(255) ,
CHANGE COLUMN Manufacturer  fabricant varchar(255) ,
CHANGE COLUMN Rack_U_origin  reperage_id varchar(255),
CHANGE COLUMN rack Nom_de_baie varchar(255);

## Duplication de la table Olivier_it en olivier_it_17_05_2022

In [ ]:
CREATE TABLE olivier_it_17_05_2022 
AS 
SELECT * 
FROM `olivier_it`

## Duplication de la table IT_Equipment_v2 en IT_Equipment_17_05_2022

In [ ]:
CREATE TABLE IT_Equipment_17_05_2022
AS 
SELECT * FROM `IT_Equipment_v2`

# `Colonnes de status differentes`

In [ ]:
ALTER TABLE olivier_it 
ADD COLUMN status_asset_id varchar(255),
ADD COLUMN status_position varchar(255),
ADD COLUMN status_name varchar(255),
ADD COLUMN status_etat varchar(255),
ADD COLUMN status_global varchar(255)