In [1]:
#!pip3 install --user sqlalchemy

In [2]:
#!pip3 install --user mysql-connector-python

In [3]:
#!pip3 install --user numpy
#!pip3 install --user pandas

In [6]:
#!pip3 install --user tqdm

In [1]:
import pandas as pd
import numpy as np
import mysql.connector
from mysql.connector import Error
import os
import regex as re
import datetime 
import shutil
from tqdm import tqdm
from Kernel_lib import *

# Connection / Creation d'une DB

In [2]:
host_name = "localhost"
user_name = "alexandre"
user_password = "Sigma64ever"

connection = create_server_connection(host_name, user_name, user_password)

MySQL Database connection successful

In [3]:
db_name = 'base6sigma'
connection = create_db_connection(host_name, user_name, user_password, db_name)

MySQL Database connection successful

# Loading csv

In [92]:
def get_csv_to_df(filepath : str, filename = None , datetime = None) :
    try :
        
        df = pd.read_csv(filepath, header = None, delimiter = ',', encoding='latin-1') 
        if filename != None or datetime != None : 
            df["SOURCES"] = filename
            df['timestamp'] = datetime.strftime('%d-%m-%y')
        if "asset_id" in str(df.iloc[0].str.lower().values).lower().strip() :    # if csv have header
            df = pd.read_csv(filepath, header = 0, delimiter = ',', encoding='latin-1') 
            if filename != None or datetime != None : 
                df["SOURCES"] = filename
                df['timestamp'] = datetime.strftime('%d-%m-%y')
        
    except pd.errors.ParserError:
        df = pd.read_csv(filepath, header = None, delimiter = ';', encoding='latin-1') 
        if filename != None or datetime != None : 
            df["SOURCES"] = filename
            df['timestamp'] = datetime.strftime('%d-%m-%y')
        if "asset_id" in str(df.iloc[0].str.lower().values).lower().strip() :    # if csv have header
            df = pd.read_csv(filepath, header = 0, delimiter = ';', encoding='latin-1') 
            if filename != None or datetime != None : 
                df["SOURCES"] = filename
                df['timestamp'] = datetime.strftime('%d-%m-%y')
    
    return df

In [82]:
def populating_table_query(connection, df, file) :
    """
    SQL query for insert into table based on a Dataframe
    """
    LOG_EVERY_N = 2000
    for i, row in tqdm(df.iterrows(), total = df.shape[0] :
        query = f"INSERT `{file}` VALUES ("+ "%s,"*(len(row)-1)+ "%s)"
        
        cursor = connection.cursor()
        try:

            cursor.execute(query, tuple(row))
            connection.commit() # implement our query 
            if (i % LOG_EVERY_N) == 0 :
                print(f"Record inserted nÂ°{i}")
        except Error as err:
            if (i % LOG_EVERY_N) == 0 :
                print(f"Error: '{err}'")

# Insert into a base

In [32]:
#CREATE_TABLE_SCHEME_PATH = "/home/alexandre/Downloads/It_equipment_sql_query.txt"
#file = "IT_Equipment_records"
CREATE_TABLE_SCHEME_PATH = "/home/alexandre/Downloads/olivier_it_sql_query.txt"
file = "olivier_it"

In [33]:
with open(CREATE_TABLE_SCHEME_PATH,'r') as f:
    scheme = f.read()

### delete values

In [34]:
#ex = execute_query(connection, f"DROP TABLE `{file}`")
#ex = execute_query(connection, f"DELETE `{file}`")

Query successful

### Create table

In [35]:
#ex = execute_query(connection, scheme)

Error: 'Use cmd_query_iter for statements with multiple queries.'

True

In [31]:
[x.lower().strip() for x in s(df.iloc[0].values)]

AttributeError: 'numpy.float64' object has no attribute 'lower'

In [ ]:
"ASSET_ID" in

# Populate record

## Get csv file

In [54]:
def get_datetime(file : str, keyword : str) -> tuple :
    """
    Get datetime in file title with keyword . Exemple : 'IT_Equipment.10.03.2022.csv' has been edited the 10-03-2022.
    Output :
    ---
        tuple
    """
    if ".csv" in file and  keyword in file :
        regex = re.split('\.', file)
        if len(regex) == 5 :    # ["filename", day, month, year, "csv"]
            regex = regex[1:-1] 
            if len(regex[-1]) == 2 :    # year = 22 in place of 2022
                regex[-1] = "20" + regex[-1]

            if ~any(c.isalpha() for c in regex) :    # Any alphabetic character means wrong file 
                time = datetime.datetime(day = int(regex[0]), month = int(regex[1]), year = int(regex[2]))
            
        else :
            time = None
            file = None
    else :
        time = None
        file = None

    return (time, file)

In [55]:
def check_create_directory(path: str) :
    """
    Check if path exist, if not create every intermediate folder
    """

    if os.path.exists(path) == False :
        os.makedirs(path)
    return True

In [56]:
def move_to_folder(file: str, current_folder: str, new_folder: str) :
    """
    Move a file to a specified folder
    """
    current_file = os.path.join(current_folder, file)
    new_file = os.path.join(new_folder, file)
    shutil.move(current_file, new_file)
    
    return True

In [85]:
database_name = {"IT_Equipment": "IT_Equipment",
                 "Assets_new": "Assets",
                 "Olivier_it": "Olivier_it"
                }
database_file = {}
database_scheme = {}

In [67]:
PARENT_PATH = './' # Must contain every csv file
ARCHIVE_PATH = '/historique' # Folder for archive

In [68]:
def take_first_item(elem):
    return elem[0]

In [72]:
dir_ls = os.listdir(PARENT_PATH)   # list all csv file
dir_ls

['.git',
 '.ipynb_checkpoints',
 'Archive',
 'assets_C2C3_12.06.2022.csv',
 'assets_new_sql_query.txt',
 'Audit',
 'drive-download-20220614T184439Z-001.zip',
 'It_Equipment',
 'IT_Equipment.13.06.2022.csv',
 'It_equipment_sql_query.txt',
 'Kernel.ipynb',
 'Kernel_lib.py',
 'Olivier_it',
 'olivier_it.13.06.2022.csv',
 'olivier_it_sql_query.txt',
 'Olivier_it_Workflow.ipynb',
 'Query_Launcher.py',
 'README.md',
 'v5_readme',
 'Workflow.ipynb',
 '__pycache__']

In [86]:
for db_name in database_name :
    key = database_name[db_name]
    print(f"db name : {db_name} // keyword : {key}")
    for file in dir_ls : 
        if key.lower().strip() in file.lower().strip() and ".csv" in file :
            print(file)
            print('-'*5)
            database_file[db_name] = os.path.join(PARENT_PATH, file)
        if key.lower().strip() in file.lower().strip() and "sql_query" in file : 
            database_scheme[db_name] = os.path.join(PARENT_PATH, file)

db name : IT_Equipment // keyword : IT_Equipment
IT_Equipment.13.06.2022.csv
-----
db name : Assets_new // keyword : Assets
assets_C2C3_12.06.2022.csv
-----
db name : Olivier_it // keyword : Olivier_it
olivier_it.13.06.2022.csv
-----

In [84]:
database_file

{'IT_Equipment': './IT_Equipment.13.06.2022.csv',
 'Assets_new': './assets_C2C3_12.06.2022.csv',
 'Olivier_it': './olivier_it.13.06.2022.csv'}

In [87]:
database_scheme

{'IT_Equipment': './It_equipment_sql_query.txt',
 'Assets_new': './assets_new_sql_query.txt',
 'Olivier_it': './olivier_it_sql_query.txt'}

In [97]:
for db_name in database_name :
    # 1/ get csv
    key = database_name[db_name]
    print(f"db name : {db_name} // keyword : {key}")
    filepath = database_file[db_name]
    df = get_csv_to_df(filepath)
    df = df.fillna("")
    
    # 2/ Make a copy + Drop
    schemepath = database_scheme[db_name]
    with open(schemepath,'r') as f:
        scheme = f.read() 
    ex = execute_query(connection, f"CREATE TABLE `{db_name}_copy` select * from `{db_name}`")
    ex = execute_query(connection, f"DROP TABLE `{db_name}`")
    ex = execute_query(connection, scheme) # Create new table
    
    # 3/ Repopulate db
    populating_table_query(connection, df, db_name) # populate table

db name : IT_Equipment // keyword : IT_Equipment
db name : Assets_new // keyword : Assets

C:\Users\alexa\AppData\Local\Temp/ipykernel_20324/2718433161.py:6: DtypeWarning: Columns (38,39,43,49,50,51) have mixed types.Specify dtype option on import or set low_memory=False.
  df = get_csv_to_df(filepath)
C:\Users\alexa\AppData\Local\Temp/ipykernel_20324/2718433161.py:6: DtypeWarning: Columns (38,39,43) have mixed types.Specify dtype option on import or set low_memory=False.
  df = get_csv_to_df(filepath)

db name : Olivier_it // keyword : Olivier_it

In [28]:
#keyword = 'IT_Equipment'
keyword = 'olivier_it'
datetime_ls = [get_datetime(file, keyword) for file in dir_ls if get_datetime(file, keyword)[0] is not None]   # Get specific it_equipments file
datetime_ls.sort(key = take_first_item) # sort date from min to max
datetime_ls

[(datetime.datetime(2022, 6, 7, 0, 0), 'olivier_it.07.06.2022.csv')]

In [29]:
for i in range(len(datetime_ls)) :
    print('-'*10, i, datetime_ls[i][1], '-'*10)
    filepath = os.path.join(PARENT_PATH, datetime_ls[i][1])
    df = get_csv_to_df(filepath, datetime_ls[i][1], datetime_ls[i][0])
    print("number of column :", len(df.columns)-2)

---------- 0 olivier_it.07.06.2022.csv ----------
number of column : 17

In [30]:
keyword = 'IT_Equipment'
#keyword = 'olivier_it'
dir_ls = os.listdir(PARENT_PATH)   # list all csv file
datetime_ls = [get_datetime(file, keyword) for file in dir_ls if get_datetime(file, keyword)[0] is not None]   # Get specific it_equipments file
datetime_ls.sort(key = take_first_item) # sort date from min to max
check_create_directory(ARCHIVE_PATH)    # Check if directory exist 

## Loop for each csv file
for file in datetime_ls :
    ### CSV TO DF
    print("-"*10, file[1],"-"*10)
    filepath = os.path.join(PARENT_PATH,file[1])
    df = get_csv_to_df(filepath,file[1], file[0])
    ### SQL QUERY
    populating_table_query(connection, df, 'IT_Equipment_records') 
    ### SWITCH CSV TO ARCHIVE FOLDER
    move_to_folder(file[1], PARENT_PATH, ARCHIVE_PATH)

---------- IT_Equipment.4.02.2022.csv ----------
Record inserted nÂ°0
Record inserted nÂ°2000
Record inserted nÂ°4000
---------- IT_Equipment.10.03.2022.csv ----------
Error: '1136 (21S01): Column count doesn't match value count at row 1'
Error: '1136 (21S01): Column count doesn't match value count at row 1'
Error: '1136 (21S01): Column count doesn't match value count at row 1'
---------- IT_Equipment.11.05.22.csv ----------
Record inserted nÂ°0
Record inserted nÂ°2000
Record inserted nÂ°4000
---------- IT_Equipment.07.06.2022.csv ----------
Record inserted nÂ°0
Record inserted nÂ°2000
Record inserted nÂ°4000

# It_equipment

In [66]:
CREATE_TABLE_SCHEME_PATH = "/home/alexandre/Downloads/It_equipment_sql_query.txt"
#file = "IT_Equipment_records"
#CREATE_TABLE_SCHEME_PATH = "/home/alexandre/Downloads/olivier_it_sql_query.txt"
file = "IT_Equipment_v2"

In [67]:
with open(CREATE_TABLE_SCHEME_PATH,'r') as f:
    scheme = f.read()
scheme = scheme.replace('xxx',file)

### delete values

In [69]:
ex = execute_query(connection, f"DROP TABLE `{file}`")
#ex = execute_query(connection, f"DELETE `{file}`")

Query successful

### Create table

In [71]:
ex = execute_query(connection, scheme)

Query successful

In [72]:
keyword = 'IT_Equipment'
datetime_ls = [get_datetime(file, keyword) for file in dir_ls if get_datetime(file, keyword)[0] is not None]   # Get specific it_equipments file
datetime_ls.sort(key = take_first_item) # sort date from min to max
datetime_ls

[(datetime.datetime(2022, 6, 13, 0, 0), 'IT_Equipment.13.06.2022.csv')]

In [56]:
for i in range(len(datetime_ls)) :
    print('-'*10, i, datetime_ls[i][1], '-'*10)
    filepath = os.path.join(PARENT_PATH, datetime_ls[i][1])
    df = get_csv_to_df(filepath, datetime_ls[i][1], datetime_ls[i][0])
    print("number of column :", len(df.columns)-2)

---------- 0 IT_Equipment.13.06.2022.csv ----------
number of column : 76

In [54]:
keyword = 'IT_Equipment'
dir_ls = os.listdir(PARENT_PATH)   # list all csv file
datetime_ls = [get_datetime(file, keyword) for file in dir_ls if get_datetime(file, keyword)[0] is not None]   # Get specific it_equipments file
datetime_ls.sort(key = take_first_item) # sort date from min to max
check_create_directory(ARCHIVE_PATH)    # Check if directory exist 

## Loop for each csv file
for file in datetime_ls :
    ### CSV TO DF
    print("-"*10, file[1],"-"*10)
    filepath = os.path.join(PARENT_PATH,file[1])
    #df = get_csv_to_df(filepath,file[1], file[0])
    #df = df.drop(columns = ['SOURCES',"timestamp"])
    df = pd.read_csv(filepath, header = 0, delimiter = ";")
    df = df.fillna('')
    ### SQL QUERY
    populating_table_query(connection, df, keyword) 
    ### SWITCH CSV TO ARCHIVE FOLDER
    move_to_folder(file[1], PARENT_PATH, ARCHIVE_PATH)

---------- IT_Equipment.13.06.2022.csv ----------
Record inserted nÂ°0

OperationalError: MySQL Connection not available.

# Mettre Ã  jour les tables prÃ©-existantes

# OLIVIER_IT

In [32]:
CREATE_TABLE_SCHEME_PATH = "/home/alexandre/Downloads/olivier_it_sql_query.txt"
file = "olivier_it"
with open(CREATE_TABLE_SCHEME_PATH,'r') as f:
    scheme = f.read()

### delete values

In [34]:
#ex = execute_query(connection, f"DROP TABLE `{file}`")

Query successful

### Create table

In [35]:
#ex = execute_query(connection, scheme)

Error: 'Use cmd_query_iter for statements with multiple queries.'

In [36]:
keyword = 'olivier_it'
datetime_ls = [get_datetime(file, keyword) for file in dir_ls if get_datetime(file, keyword)[0] is not None]   # Get specific it_equipments file
datetime_ls.sort(key = take_first_item) # sort date from min to max
datetime_ls

[(datetime.datetime(2022, 6, 13, 0, 0), 'olivier_it.13.06.2022.csv')]

In [30]:
for i in range(len(datetime_ls)) :
    print('-'*10, i, datetime_ls[i][1], '-'*10)
    filepath = os.path.join(PARENT_PATH, datetime_ls[i][1])
    df = get_csv_to_df(filepath, datetime_ls[i][1], datetime_ls[i][0])
    print("number of column :", len(df.columns)-2)

---------- 0 olivier_it.13.06.2022.csv ----------
number of column : 18

In [37]:
keyword = 'olivier_it'
table = 'olivier_it'
dir_ls = os.listdir(PARENT_PATH)   # list all csv file
datetime_ls = [get_datetime(file, keyword) for file in dir_ls if get_datetime(file, keyword)[0] is not None]   # Get specific it_equipments file
datetime_ls.sort(key = take_first_item) # sort date from min to max
check_create_directory(ARCHIVE_PATH)    # Check if directory exist 

## Loop for each csv file
for file in datetime_ls :
    ### CSV TO DF
    print("-"*10, file[1],"-"*10)
    filepath = os.path.join(PARENT_PATH,file[1])
    df = pd.read_csv(filepath, header = 0, delimiter = ";")
    df = df.fillna('')
    ### SQL QUERY
    populating_table_query(connection, df, ) 
    ### SWITCH CSV TO ARCHIVE FOLDER
    move_to_folder(file[1], PARENT_PATH, ARCHIVE_PATH)

---------- olivier_it.13.06.2022.csv ----------
Record inserted nÂ°0
Record inserted nÂ°2000

# Asset_new

In [86]:
CREATE_TABLE_SCHEME_PATH = "/home/alexandre/Downloads/assets_new_sql_query.txt"
file = "assets_new"
with open(CREATE_TABLE_SCHEME_PATH,'r') as f:
    scheme = f.read()

### delete values

In [88]:
#ex = execute_query(connection, f"DROP TABLE `{file}`")

Query successful

### Create table

In [89]:
#ex = execute_query(connection, scheme)

Query successful

In [90]:
last_file = '/home/alexandre/Downloads/assets_C2C3_12.06.2022.csv'
df = pd.read_csv(last_file, delimiter = ';')
df = df.fillna('')
file = 'assets_new'
populating_table_query(connection, df, file)

Error: '1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '' at line 1'
Record inserted nÂ°0
Record inserted nÂ°2000
Record inserted nÂ°4000
Record inserted nÂ°6000
Record inserted nÂ°8000
Record inserted nÂ°10000
Record inserted nÂ°12000
Record inserted nÂ°14000
Record inserted nÂ°16000
Record inserted nÂ°18000
Record inserted nÂ°20000
Record inserted nÂ°22000
Record inserted nÂ°24000
Record inserted nÂ°26000
Record inserted nÂ°28000
Record inserted nÂ°30000
Record inserted nÂ°32000
Record inserted nÂ°34000
Record inserted nÂ°36000
Record inserted nÂ°38000
Record inserted nÂ°40000
Record inserted nÂ°42000
Record inserted nÂ°44000
Record inserted nÂ°46000
Record inserted nÂ°48000
Record inserted nÂ°50000
Record inserted nÂ°52000
Record inserted nÂ°54000
Record inserted nÂ°56000
Record inserted nÂ°58000
Record inserted nÂ°60000
Record inserted nÂ°62000
Record inserted nÂ°64000
Record inserted nÂ°66000
Record inserted nÂ°68000
Record inserted nÂ°70000
Record inserted nÂ°72000
Record inserted nÂ°74000
Record inserted nÂ°76000
Record inserted nÂ°78000