## Master_Plan_Global_P2_only

#### But : Identifier les equipements du masterplan présent sur la dernière iteration de IT_Equipment afin de simuler l'espace disponible lorsque tous les equipements seront retirer

In [ ]:
DROP table if EXISTS Master_Plan_Global_P2_only ;# MySQL returned an empty result set (i.e. zero rows).
CREATE table Master_Plan_Global_P2_only
as
select * from `Master_Plan_Global`
where room = 'P2' 
-- and (PR_SCOPE like 'ACN_%' OR PR_SCOPE like 'RN_%')
;# 908 rows affected.

select mp.ASSET_ID, mp.SHORT_NAME, mp.LONG_NAME, mp.MODEL, mp.ENVIRONMENT, mp.CONTAINER, mp.COMPANY, mp.STATE, mp.api, mp.ROOM, mp.dalle, mp.RACK_ID, mp.Size_U, mp.ROOM_TARGET, mp.PR_SCOPE  
from `Master_Plan_Global` mp

select mp.ASSET_ID, mp.SHORT_NAME, mp.LONG_NAME, mp.MODEL, mp.ENVIRONMENT, mp.CONTAINER, mp.COMPANY, mp.STATE, mp.api, mp.ROOM, mp.dalle, mp.RACK_ID, mp.Size_U, mp.ROOM_TARGET, mp.PR_SCOPE, it.nom  
from `Master_Plan_Global` mp
INNER JOIN `IT_Equipment_v2` it ON it.asset_id = mp.ASSET_ID

In [ ]:
DROP VIEW IF EXISTS IT_Equipment_x_Master_plan_P2 ;# MySQL returned an empty result set (i.e. zero rows).
create view IT_Equipment_x_Master_plan_P2
as
select it.ASSET_ID, it.nom, it.SHORT_NAME, it.Modele, it.Fabricant, it.Nom_de_la_salle, it.Nom_de_baie, it.Reperage_ID, it.Hauteur_U, it.Type, mp.SHORT_NAME Master_Plan_name,
  (CASE 
   WHEN mp.short_name is not null and mp.asset_id is null then 'short_name found'
   WHEN mp.short_name is null and mp.asset_id is not null then 'asset_id found'
   WHEN mp.short_name is not null and mp.asset_id is not null then 'found'
   WHEN mp.short_name is null and mp.asset_id is null then 'not found'
   END) Master_plan_status ,
mp.PR_SCOPE, mp.ROOM Master_plan_salle, mp.dalle Master_plan_dalle, mp.RACK_ID Master_plan_rack, mp.Size_U Master_plan_hauteur

 
from `IT_Equipment_v2` it
LEFT JOIN `Master_Plan_Global_P2_only` mp ON it.ASSET_ID = mp.asset_id or it.short_name = mp.short_name
where nom_de_la_salle = 'P2'
GROUP by it.ASSET_ID# MySQL returned an empty result set (i.e. zero rows).

In [ ]:
drop view if exists IT_Equipment_with_equipment_removed ;
create view IT_Equipment_with_equipment_removed
as
select it.* from `IT_Equipment_v2` it 
INNER JOIN `IT_Equipment_x_Master_plan_P2` mp  ON it.ASSET_ID = mp.asset_id or it.short_name = mp.short_name
where master_plan_status = 'not found' and it.Nom_de_la_salle = 'P2'