## `IT_Equipment_rack_description` : table des attribues des racks

### On compte le nombre d' alimentation pour chaque rack

In [ ]:
update `IT_Equipment_rack_description`
set Armoire_électrique_1_Nom = NULL
where Armoire_électrique_1_Nom in ('', ' ')
;

In [ ]:
update `IT_Equipment_rack_description`
set Armoire_électrique_2_Nom = NULL
where Armoire_électrique_2_Nom in ('', ' ')
;

In [ ]:
update `IT_Equipment_rack_description`
set Armoire_électrique_3_Nom = NULL
where Armoire_électrique_3_Nom in ('', ' ')
;

In [ ]:
update `IT_Equipment_rack_description`
set Armoire_électrique_4_Nom = NULL
where Armoire_électrique_4_Nom in ('', ' ')
;

In [ ]:
ALTER TABLE IT_Equipment_rack_description
ADD COLUMN number_of_alimentation varchar(255)

In [ ]:
update `IT_Equipment_rack_description` it
INNER JOIN 
(select it.Nom, it.Nom_de_la_salle,count(Armoire_électrique_1_Nom)+count(Armoire_électrique_2_Nom)+count(Armoire_électrique_3_Nom)+count(Armoire_électrique_4_Nom) number_of_alimentation from `IT_Equipment_rack_description` it group by concat(Nom_de_la_salle, Nom)) it2 
ON  it.Nom_de_la_salle = it2.Nom_de_la_salle and it.Nom = it2.Nom
set it.number_of_alimentation = it2.number_of_alimentation

### Mise a jour des tables  avec les attribues de rack
- indicator_it_equipment_simulateur_espace
- indicator_it_equipment_simulateur_espace_before_after_mp

ALTER TABLE indicator_it_equipment_simulateur_espace
drop COLUMN number_of_alimentation

ALTER TABLE indicator_it_equipment_simulateur_espace_before_after_mp
drop COLUMN number_of_alimentation

ALTER TABLE indicator_it_equipment_simulateur_espace_mp
drop COLUMN number_of_alimentation

In [ ]:
ALTER TABLE indicator_it_equipment_simulateur_espace
ADD COLUMN number_of_alimentation varchar(255)

In [ ]:
ALTER TABLE indicator_it_equipment_simulateur_espace_before_after_mp
ADD COLUMN number_of_alimentation varchar(255)

In [ ]:
ALTER TABLE indicator_it_equipment_simulateur_espace_mp
ADD COLUMN number_of_alimentation varchar(255)

In [ ]:
update `indicator_it_equipment_simulateur_espace_mp` it 
inner join `IT_Equipment_rack_description` it2 ON concat(it2.Nom_de_la_salle, it2.Nom) = it.key_id
set it.number_of_alimentation = it2.number_of_alimentation

In [ ]:
update `indicator_it_equipment_simulateur_espace_before_after_mp` it 
inner join `IT_Equipment_rack_description` it2 ON concat(it2.Nom_de_la_salle, it2.Nom) = it.key_id
set it.number_of_alimentation = it2.number_of_alimentation

In [ ]:
update `indicator_it_equipment_simulateur_espace` it 
inner join `IT_Equipment_rack_description` it2 ON concat(it2.Nom_de_la_salle, it2.Nom) = it.key_id
set it.number_of_alimentation = it2.number_of_alimentation

In [ ]:
update `indicator_it_equipment_simulateur_espace` it 
set it.free_series = concat('1 ->',rack_capacity)
where occupied_item = ''

In [ ]:
update `indicator_it_equipment_simulateur_espace_mp` it 
set it.free_series = concat('1 ->',rack_capacity)
where occupied_item = ''

In [ ]:
update `indicator_it_equipment_simulateur_espace_before_after_mp` it 
inner join `indicator_it_equipment_simulateur_espace` it2 ON concat(it.Nom_de_la_salle, it.Nom_de_baie) = concat(it2.Nom_de_la_salle, it2.Nom_de_baie)
set it.free_series_before_mp = it2.free_series
where free_series_before_mp = '' ;

In [ ]:
update `indicator_it_equipment_simulateur_espace_before_after_mp` it 
inner join `indicator_it_equipment_simulateur_espace_mp` it2 ON concat(it.Nom_de_la_salle, it.Nom_de_baie) = concat(it2.Nom_de_la_salle, it2.Nom_de_baie)
set it.free_series_after_mp = it2.free_series
where free_series_after_mp = '' ;