# Simulateur d'espace

Ce workflow a pour but de simuler l'espace disponible sur chacun des racks afin de permettre une projection des équipes dans le déplacement du matériel.

SELECT it.nom, it.short_name, it.long_name, it.ASSET_ID, it.Nom_de_la_salle , it.Nom_de_baie, it.Slot_U, it.type
from `IT_Equipment_v2` it

`rack_capacity_map` : cartographie les racks de toutes les salles afin de rajouter la capacité maximale d'un rack défini à 45 unités U

In [ ]:
drop table if exists rack_capacity_map ;# MySQL returned an empty result set (i.e. zero rows).
create table rack_capacity_map
as 
SELECT it.Nom_de_la_salle, it.Nom_de_baie, '45' as rack_capacity
from `IT_Equipment_v2` it
GROUP BY it.Nom_de_la_salle, it.Nom_de_baie# MySQL returned an empty result set (i.e. zero rows).

`indicator_it_equipment_simulateur_espace` : indicateur de l'espace disponible pour tous lers rack par rapport à la somme des hauteurs de chaque equipment renseigné sur la CMDB

In [ ]:
drop table if exists indicator_it_equipment_simulateur_espace_raw ;
create table indicator_it_equipment_simulateur_espace_raw
as
SELECT concat(it.Nom_de_la_salle, it.Nom_de_baie) key_id, it.Nom_de_la_salle, it.Nom_de_baie, r.rack_capacity, sum(CEILING(it.Hauteur_U)) slot_occupied, r.rack_capacity - sum(CEILING(it.Hauteur_U)) free_slot,
GROUP_CONCAT(concat(it.slot_u, '/', CEILING(it.Hauteur_U))) list_occupied_slot
from `IT_Equipment_v2` it
INNER JOIN `rack_capacity_map` r ON r.Nom_de_la_salle = it.Nom_de_la_salle and r.Nom_de_baie = it.Nom_de_baie
GROUP BY it.Nom_de_la_salle, it.Nom_de_baie
ORDER by it.Nom_de_la_salle desc , sum(CEILING(it.Hauteur_U)) desc
;

In [ ]:
alter table indicator_it_equipment_simulateur_espace_raw
ADD COLUMN occupied_item varchar(255),
ADD COLUMN free_item varchar(255);

drop view if exists indicator_it_equipment_simulateur_espace ;
create view indicator_it_equipment_simulateur_espace
as
SELECT concat(it.Nom_de_la_salle, it.Nom_de_baie) key_id, it.Nom_de_la_salle, it.Nom_de_baie, r.rack_capacity, sum(CEILING(it.Hauteur_U)) slot_occupied, r.rack_capacity - sum(CEILING(it.Hauteur_U)) free_slot
from `IT_Equipment_v2` it
INNER JOIN `rack_capacity_map` r ON r.Nom_de_la_salle = it.Nom_de_la_salle and r.Nom_de_baie = it.Nom_de_baie
GROUP BY it.Nom_de_la_salle, it.Nom_de_baie
ORDER by it.Nom_de_la_salle desc , sum(CEILING(it.Hauteur_U)) desc
;

class indicator_simulateur_espace(models.Model):   
    id = models.BigAutoField(primary_key=True)
    Nom_de_la_salle = models.AutoField()  # Field name made lowercase.
    Nom_de_baie = models.CharField(max_length=255)
    rack_capacity = models.CharField(max_length=255)
    slot_occupied = models.CharField(max_length=255)
    free_slot = models.CharField(max_length=255)
    class Meta:
        managed = False
        db_table = "indicator_it_equipment_simulateur_espace"

SELECT it.nom, it.short_name, it.long_name, it.ASSET_ID, it.Nom_de_la_salle , it.Nom_de_baie, it.Slot_U, it.type, it.Hauteur_U, 
it.Slot_U + it.Hauteur_U tt,
concat()

from `IT_Equipment_v2` it
-- where Nom_de_la_salle = 'P4' and Nom_de_baie = 'AE17'
where Nom_de_la_salle = 'P1' and Nom_de_baie = 'A26'

CREATE TABLE `indicator_it_equipment_simulateur_espace` (
  `key_id` varchar(255) ,
  `Nom_de_la_salle` varchar(255) DEFAULT NULL,
  `Nom_de_baie` varchar(255) DEFAULT NULL,
  `rack_capacity` varchar(100) NOT NULL,
  `slot_occupied` varchar(100) NOT NULL,
  `free_slot`varchar(255) NOT NULL,
  `occupied_item` varchar(100) NOT NULL,
  `free_item` varchar(100) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE IF NOT EXISTS `IT_Equipment_rack_description` (
  `Type_d_équipement` varchar(5) DEFAULT NULL,
  `Is_Loading_Bay_Item` varchar(10) DEFAULT NULL,
  `Zone_spécifique_du_quai_de_chargement` varchar(10) DEFAULT NULL,
  `Nom` varchar(20) DEFAULT NULL,
  `Fabricant` varchar(20) DEFAULT NULL,
  `Modèle` varchar(50) DEFAULT NULL,
  `Nom_de_la_salle` varchar(2) DEFAULT NULL,
  `Allee` varchar(16) DEFAULT NULL,
  `Cage` varchar(10) DEFAULT NULL,
  `Zone` varchar(10) DEFAULT NULL,
  `Project_Name` varchar(64) DEFAULT NULL,
  `Puissance_limite_de_la_baie_kW` varchar(5) DEFAULT NULL,
  `Puissance_de_la_baie_kW` varchar(5) DEFAULT NULL,
  `Nombre_de_U` varchar(2) DEFAULT NULL,
  `Espace_occupé_total_en_U` int(2) DEFAULT NULL,
  `Espace_disponible_Nombre_total_de_U_libres` int(2) DEFAULT NULL,
  `Espace_disponible_U_contigus` int(2) DEFAULT NULL,
  `Charge_IT_disponible_KW` varchar(6) DEFAULT NULL,
  `Refroidissement_disponible_KW` decimal(6,3) DEFAULT NULL,
  `Refroidissement_disponible_venant_de_l_allée_froide_KW` decimal(5,3) DEFAULT NULL,
  `Puissance_disponible_KW` varchar(6) DEFAULT NULL,
  `Total_de_refrodissement_potentiel_KW` varchar(2) DEFAULT NULL,
  `Disponible_pour_un_déploiement_IT` int(1) DEFAULT NULL,
  `Etat_d_installation` varchar(8) DEFAULT NULL,
  `Date_d_installation_dd_mm_yyyy` varchar(24) DEFAULT NULL,
  `Date_de_décommissionnement_dd_mm_yyyy` varchar(10) DEFAULT NULL,
  `Armoire_électrique_1_Nom` varchar(42) DEFAULT NULL,
  `Armoire_électrique_1_Alimentation_électrique` varchar(28) DEFAULT NULL,
  `Armoire_électrique_1_Disjoncteur` varchar(16) DEFAULT NULL,
  `Armoire_électrique_2_Nom` varchar(43) DEFAULT NULL,
  `Armoire_électrique_2_Alimentation_électrique` varchar(28) DEFAULT NULL,
  `Armoire_électrique_3_Nom` varchar(29) DEFAULT NULL,
  `Armoire_électrique_3_Alimentation_électrique` varchar(28) DEFAULT NULL,
  `Armoire_électrique_4_Nom` varchar(29) DEFAULT NULL,
  `Armoire_électrique_2_Disjoncteur` varchar(25) DEFAULT NULL,
  `Armoire_électrique_4_Alimentation_électrique` varchar(28) DEFAULT NULL,
  `Armoire_électrique_3_Disjoncteur` varchar(16) DEFAULT NULL,
  `Nombre_d_équipements_IT_installés` int(2) DEFAULT NULL,
  `Repérage_ID` varchar(4) DEFAULT NULL,
  `Armoire_électrique_4_Disjoncteur` varchar(25) DEFAULT NULL,
  `Position_svt_X_m` decimal(5,3) DEFAULT NULL,
  `Position_svt_Z_m` decimal(6,3) DEFAULT NULL,
  `Orientation` decimal(5,2) DEFAULT NULL,
  `Hauteur_m` decimal(4,3) DEFAULT NULL,
  `Largeur_m` decimal(4,3) DEFAULT NULL,
  `Profondeur_m` decimal(5,3) DEFAULT NULL,
  `Poids_kg` varchar(6) DEFAULT NULL,
  `Poids_total_kg` decimal(7,3) DEFAULT NULL,
  `Limite_de_poids_kg` varchar(5) DEFAULT NULL,
  `Equipement_approximé` int(1) DEFAULT NULL,
  `Synchronisé_avec_Gateway` varchar(10) DEFAULT NULL,
  `ID_Système_externe` varchar(19) DEFAULT NULL,
  `Nombre_d_IT_avec_un_seul_cordon_électrique` int(2) DEFAULT NULL,
  `ID_Système_Asset` varchar(19) DEFAULT NULL,
  `ID_Système_Allée` varchar(13) DEFAULT NULL,
  `ID_Système_Cage` varchar(10) DEFAULT NULL,
  `ID_Système_Zone` varchar(10) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;